.version._404 /* version checker */
{
	color: #00000C;
	background-color: #8F17AD;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 682.8932995944539px;
	border-width: 0px;
	border-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/leather.jpg") repeat left top;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#u1070
{
	z-index: 7;
	width: 942px;
	position: relative;
}

#u1070_position_content
{
	margin-bottom: -3px;
	padding-top: 14px;
	width: 100%;
}

#u1074-4
{
	z-index: 8;
	width: 298px;
	min-height: 41px;
	margin-left: 11px;
	position: relative;
}

#u1075
{
	z-index: 12;
	width: 942px;
	position: relative;
}

#u1075:hover
{
	width: 942px;
	min-height: 0px;
	margin: 0px;
}

#menuu1082
{
	z-index: 13;
	width: 942px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u1111
{
	width: 132px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
}

#u1114
{
	width: 132px;
	padding-bottom: 28px;
	position: relative;
}

#u1114:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u1114:active
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u1114.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u1115-4
{
	width: 132px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1114:hover #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u1114:active #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u1114.MuseMenuActive #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u1104
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 134px;
}

#u1105
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u1105:hover
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u1106-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1105:hover #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1105:active #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1083
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u1086
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u1105.MuseMenuActive,#u1086:hover
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u1087-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1105.MuseMenuActive #u1106-4,#u1086:hover #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1086:active #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1090
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 404px;
}

#u1093
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u1086.MuseMenuActive,#u1093:hover
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u1095-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1086.MuseMenuActive #u1087-4,#u1093:hover #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1093:active #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u9329
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 539px;
}

#u9330
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u1093.MuseMenuActive,#u9330:hover
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u9332-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1093.MuseMenuActive #u1095-4,#u9330:hover #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u9330:active #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1194
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 674px;
}

#u1195
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u9330.MuseMenuActive,#u1195:hover
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u1196-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u9330.MuseMenuActive #u9332-4,#u1195:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1195:active #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1097
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 809px;
}

#u1100
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u1195.MuseMenuActive,#u1100:hover
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u1100.MuseMenuActive
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u1101-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1195.MuseMenuActive #u1196-4,#u1100:hover #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1100:active #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1100.MuseMenuActive #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#ppu426-5
{
	width: 0.01px;
	margin-left: 72px;
	margin-top: 16px;
}

#pu426-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 747px;
}

#u426-5
{
	z-index: 2;
	margin-left: 65px;
	margin-top: 58px;
	margin-bottom: 58px;
	position: relative;
}

#u2571
{
	z-index: 64;
	width: 210px;
	min-height: 98px;
	margin-left: 13px;
	margin-top: 13px;
	position: relative;
}

#u9685
{
	z-index: 65;
	width: 59px;
	min-height: 59px;
	margin-left: 144px;
	margin-top: 16px;
	position: relative;
}

#u1423-4
{
	z-index: 81;
	width: 101px;
	min-height: 27px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-top: 205px;
	position: relative;
}

#u1380-11
{
	z-index: 68;
	width: 272px;
	min-height: 126px;
	background-color: transparent;
	font-family: bitter, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u1380-2
{
	font-size: 25px;
	line-height: 30px;
	font-weight: 700;
}

#u1380-4
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

#u1380-5,#u1380-7,#u1380-9
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

#u1417
{
	z-index: 79;
	width: 664px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 67px;
}

#pu1125
{
	width: 0.01px;
	margin-left: -47px;
}

#u1125
{
	z-index: 56;
	width: 943px;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u1125_position_content
{
	margin-bottom: -33px;
	width: 100%;
}

#u1126
{
	z-index: 57;
	width: 942px;
	height: 35px;
	position: relative;
}

#u1126:hover
{
	width: 942px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u1842
{
	z-index: 58;
	width: 995px;
	min-height: 102px;
	left: -16px;
	position: relative;
}

#u10715
{
	z-index: 66;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
}

#u109
{
	z-index: 59;
	min-height: 60px;
	padding-bottom: 5px;
}

#u109:active
{
	min-height: 60px;
	margin: 0px;
}

#u109_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
}

#u199-4
{
	z-index: 60;
	width: 941px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 100px;
}

#u199-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 941px;
	margin: 41px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u109-bw
{
	z-index: 59;
	min-height: 60px;
}

.html
{
	background: #000000 url("../images/black_denim.jpg") repeat center top scroll;
}

body
{
	position: relative;
	min-width: 942px;
}

