.version._404 /* version checker */
{
	color: #000002;
	background-color: #C29FF4;
}

.html
{
	background: #000000 url("../images/black_denim.jpg") repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 675.9999999999998px;
	border-style: none;
	border-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/leather.jpg") repeat left top;
}

#page_position_content
{
	width: 0.01px;
}

#u1070
{
	z-index: 7;
	width: 944px;
}

#u1070_position_content
{
	margin-bottom: -1px;
	padding-top: 14px;
}

#u1074-4
{
	z-index: 8;
	width: 298px;
	min-height: 41px;
	margin-left: 11px;
}

#u1075
{
	z-index: 12;
	width: 943px;
	padding-bottom: 1px;
}

#u1075:hover
{
	width: 943px;
	min-height: 0px;
	margin: 0px;
}

#menuu1082
{
	z-index: 13;
	width: 940px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1111
{
	width: 155px;
	min-height: 46px;
	margin-right: -10000px;
}

#u1114
{
	width: 155px;
	padding-bottom: 27px;
}

#u1114:hover
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u1114:active
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u1115-4
{
	width: 155px;
	min-height: 19px;
	margin-right: -10000px;
	top: 13px;
}

#u1114:hover #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1114:active #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1104
{
	width: 155px;
	min-height: 46px;
	margin-right: -10000px;
	left: 157px;
}

#u1105
{
	width: 155px;
	padding-bottom: 27px;
}

#u1106-4
{
	width: 155px;
	min-height: 19px;
	margin-right: -10000px;
	top: 13px;
}

#u1114.MuseMenuActive #u1115-4,#u1105:hover #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1105:active #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1083
{
	width: 155px;
	min-height: 46px;
	margin-right: -10000px;
	left: 314px;
}

#u1086
{
	width: 155px;
	padding-bottom: 27px;
}

#u1087-4
{
	width: 155px;
	min-height: 19px;
	margin-right: -10000px;
	top: 13px;
}

#u1105.MuseMenuActive #u1106-4,#u1086:hover #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1086:active #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1090
{
	width: 155px;
	min-height: 46px;
	margin-right: -10000px;
	left: 471px;
}

#u1093
{
	width: 155px;
	padding-bottom: 27px;
}

#u1095-4
{
	width: 155px;
	min-height: 19px;
	margin-right: -10000px;
	top: 13px;
}

#u1086.MuseMenuActive #u1087-4,#u1093:hover #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1093:active #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1194
{
	width: 155px;
	min-height: 46px;
	margin-right: -10000px;
	left: 628px;
}

#u1195
{
	width: 155px;
	padding-bottom: 27px;
}

#u1196-4
{
	width: 155px;
	min-height: 19px;
	margin-right: -10000px;
	top: 13px;
}

#u1093.MuseMenuActive #u1095-4,#u1195:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1195:active #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1097
{
	width: 155px;
	min-height: 46px;
	margin-right: -10000px;
	left: 785px;
}

#u1100
{
	width: 155px;
	padding-bottom: 27px;
}

#u1114.MuseMenuActive,#u1105.MuseMenuActive,#u1086.MuseMenuActive,#u1093.MuseMenuActive,#u1195.MuseMenuActive,#u1100.MuseMenuActive
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u1101-4
{
	width: 155px;
	min-height: 19px;
	margin-right: -10000px;
	top: 13px;
}

#u1195.MuseMenuActive #u1196-4,#u1100:hover #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1100:active #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1100.MuseMenuActive #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#pu425
{
	width: 0.01px;
	margin-left: 72px;
	margin-top: 16px;
}

#u425
{
	z-index: 2;
	width: 19px;
	height: 137px;
	margin-right: -10000px;
	left: 871px;
}

#u426-4
{
	z-index: 3;
	width: 114px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 825px;
}

#u1361
{
	z-index: 52;
	width: 13px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 874px;
}

#u1380-11
{
	z-index: 60;
	width: 272px;
	min-height: 126px;
	background-color: transparent;
	font-family: bitter, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u1380-2
{
	font-size: 25px;
	line-height: 30px;
	font-weight: 700;
}

#u1380-4
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

#u1380-5,#u1380-7,#u1380-9
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

#u1417
{
	z-index: 71;
	width: 664px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 67px;
}

#u1423-4
{
	z-index: 73;
	width: 101px;
	min-height: 27px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 528px;
	left: 747px;
}

#u1125
{
	z-index: 50;
	width: 943px;
}

#u1125_position_content
{
	margin-bottom: -10px;
}

#u1126
{
	z-index: 51;
	width: 942px;
	height: 35px;
}

#u1126:hover
{
	width: 942px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u1842
{
	z-index: 54;
	width: 943px;
	min-height: 59px;
	margin-top: 57px;
}

#u109
{
	z-index: 55;
	min-height: 47px;
	padding-bottom: 10px;
}

#u109:active
{
	min-height: 47px;
	margin: 0px;
}

#u109_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 942px;
	left: -100px;
	margin-bottom: -4px;
}

#u199-4
{
	z-index: 56;
	width: 278px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 432px;
}

#u199-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 278px;
	margin: 28px -10000px 0px 0px;
}

#u109-bw
{
	z-index: 55;
	min-height: 47px;
	margin-top: -4px;
}

body
{
	position: relative;
	min-width: 942px;
}

#page .verticalspacer
{
	clear: both;
}

