.version._451 /* version checker */
{
	color: #00000C;
	background-color: #4BF427;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1060px;
	min-height: 649px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 57px;
	margin-left: auto;
	margin-right: auto;
}

#u22477-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
}

#u22483-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	margin-top: 16px;
	position: relative;
}

#u22486-6
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-top: 27px;
	position: relative;
}

#u22494
{
	z-index: 20;
	width: 174px;
	background-color: transparent;
	margin-left: 443px;
	margin-top: 25px;
	position: relative;
}

#u22489-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-left: 768px;
	margin-top: 46px;
	position: relative;
}

.html
{
	background: #FFFFFF url("../images/noise.jpg") repeat left top scroll;
}

body
{
	position: relative;
	min-width: 1060px;
}

