.version.about_me /* version checker */
{
	color: #0000FD;
	background-color: #F906EE;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 683px;
	border-width: 0px;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/leather.jpg") repeat left top;
}

#u1070
{
	z-index: 2;
	width: 942px;
	position: relative;
	margin-right: -10000px;
}

#u1070_position_content
{
	margin-bottom: -3px;
	padding-top: 14px;
	width: 100%;
}

#u1074-4
{
	z-index: 3;
	width: 298px;
	min-height: 41px;
	margin-left: 11px;
	position: relative;
}

#u1075
{
	z-index: 7;
	width: 942px;
	position: relative;
}

#u1075:hover
{
	width: 942px;
	min-height: 0px;
	margin: 0px;
}

#menuu1082
{
	z-index: 8;
	width: 942px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u1111
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
}

#u1114
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1114:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1114:active
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1115-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1114:hover #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1114:active #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1104
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

#u1105
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1114.MuseMenuActive,#u1105:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1106-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1114.MuseMenuActive #u1115-4,#u1105:hover #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1105:active #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1083
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u1086
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1105.MuseMenuActive,#u1086:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1087-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1105.MuseMenuActive #u1106-4,#u1086:hover #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1086:active #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1090
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 354px;
}

#u1093
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1086.MuseMenuActive,#u1093:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1095-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1086.MuseMenuActive #u1087-4,#u1093:hover #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1093:active #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u9329
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 472px;
}

#u9330
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1093.MuseMenuActive,#u9330:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u9332-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1093.MuseMenuActive #u1095-4,#u9330:hover #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u9330:active #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u11296
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 590px;
}

#u11297
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u9330.MuseMenuActive,#u11297:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u11298-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u9330.MuseMenuActive #u9332-4,#u11297:hover #u11298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u11297:active #u11298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1194
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u1195
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u11297.MuseMenuActive,#u1195:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1196-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u11297.MuseMenuActive #u11298-4,#u1195:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1195:active #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1097
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 826px;
}

#u1100
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1195.MuseMenuActive,#u1100:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1100.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1101-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1195.MuseMenuActive #u1196-4,#u1100:hover #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1100:active #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1100.MuseMenuActive #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u10761
{
	z-index: 69;
	width: 92px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 950px;
}

#pu1290-11
{
	width: 0.01px;
	padding-bottom: 9px;
	margin-left: 66px;
	margin-top: 11px;
}

#u1290-11
{
	z-index: 107;
	width: 612px;
	min-height: 96px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 222px;
}

#u1290-2
{
	font-weight: 700;
}

#u17325
{
	z-index: 71;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	left: 876px;
}

#u1896
{
	z-index: 179;
	width: 190px;
	height: 190px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 125px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 9px;
}

#u1292
{
	z-index: 180;
	width: 181px;
	height: 180px;
	border-radius: 125px;
	-webkit-transform: matrix(0.9848,-0.1736,0.1736,0.9848,-14,17);
	-ms-transform: matrix(0.9848,-0.1736,0.1736,0.9848,-14,17);
	transform: matrix(0.9848,-0.1736,0.1736,0.9848,-14,17);
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 14px;
	background: transparent url("../images/avatar-ieu1292-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/avatar.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#pu1254-29
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 3px;
}

#u1254-29
{
	z-index: 75;
	width: 898px;
	background-color: transparent;
	color: #0093C4;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u1254-16
{
	font-size: 16px;
	color: #000000;
}

#u14508
{
	margin-top: 6px;
	margin-bottom: -6px;
}

#u14503
{
	z-index: 99;
	width: 21px;
	background-color: transparent;
}

#u9685
{
	z-index: 66;
	width: 59px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 941px;
}

#pu12055-20
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 30px;
}

#u12055-20
{
	z-index: 211;
	width: 898px;
	background-color: transparent;
	color: #0093C4;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u1254-2,#u12055-2,#u12055-3
{
	font-size: 28px;
	line-height: 42px;
	font-family: buenard, serif;
	font-weight: 700;
}

#u1254-3,#u1254-14,#u1254-15,#u1254-17,#u1254-18,#u1254-27,#u12055-11,#u12055-12
{
	font-size: 16px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
}

#u12055-10,#u12055-18
{
	font-size: 16px;
	line-height: 24px;
	padding-left: 110px;
	font-family: bitter, serif;
	font-weight: 400;
}

#u12061
{
	z-index: 231;
	width: 88px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
}

#u12071
{
	z-index: 233;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 9px;
}

#u12071_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u12095-4
{
	z-index: 235;
	width: 898px;
	background-color: transparent;
	color: #0093C4;
	line-height: 42px;
	text-align: left;
	font-size: 28px;
	font-family: buenard, serif;
	font-weight: 700;
	margin-left: 22px;
	margin-top: 39px;
	position: relative;
}

#pslideshowu14795
{
	width: 0.01px;
	margin-left: 31px;
}

#slideshowu14795
{
	z-index: 239;
	width: 0.01px;
	height: 631px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u14815
{
	position: absolute;
	width: 1184px;
	height: 799px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -247px;
	left: 8px;
	-pie-background: rgba(0,0,0,0.9);
}

#u14815popup
{
	z-index: 240;
}

#u14816
{
	z-index: 241;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14820
{
	z-index: 243;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14822
{
	z-index: 245;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14824
{
	z-index: 247;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14818
{
	z-index: 249;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14816_img,#u14820_img,#u14822_img,#u14824_img,#u14818_img
{
	padding-left: 303px;
	padding-right: 303px;
}

#u14804
{
	position: absolute;
	width: 83px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 53px;
}

#u14804popup
{
	z-index: 251;
}

#u14811
{
	z-index: 252;
	width: 66px;
	height: 86px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#u14811:hover
{
	width: 66px;
	height: 86px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u14805
{
	z-index: 254;
	width: 66px;
	height: 86px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 8px;
}

#u14805:hover
{
	width: 66px;
	height: 86px;
	min-height: 0px;
	margin: 126px -10000px 0px 0px;
}

#u14809
{
	z-index: 256;
	width: 66px;
	height: 86px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 8px;
}

#u14809:hover
{
	width: 66px;
	height: 86px;
	min-height: 0px;
	margin: 248px -10000px 0px 0px;
}

#u14813
{
	z-index: 258;
	width: 66px;
	height: 86px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	left: 8px;
}

#u14813:hover
{
	width: 66px;
	height: 86px;
	min-height: 0px;
	margin: 370px -10000px 0px 0px;
}

#u14807
{
	z-index: 260;
	width: 66px;
	height: 86px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 492px;
	left: 8px;
}

#u14807:hover
{
	width: 66px;
	height: 86px;
	min-height: 0px;
	margin: 492px -10000px 0px 0px;
}

#u14811_img,#u14805_img,#u14809_img,#u14813_img,#u14807_img
{
	margin-top: -4px;
	margin-bottom: -3px;
}

#u14796
{
	position: absolute;
	width: 323px;
	background-color: transparent;
	top: -225px;
	left: 8px;
}

#u14796popup
{
	z-index: 262;
}

#u14799-10
{
	z-index: 263;
	width: 323px;
	min-height: 160px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14801-10
{
	z-index: 273;
	width: 323px;
	min-height: 160px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14800-10
{
	z-index: 283;
	width: 323px;
	min-height: 160px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14798-8
{
	z-index: 293;
	width: 323px;
	min-height: 160px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14797-8
{
	z-index: 301;
	width: 323px;
	min-height: 160px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14827-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 84px;
	left: -15px;
}

#u14827-4popup
{
	z-index: 309;
}

#u14826-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 84px;
	left: 1190px;
}

#u14826-4popup
{
	z-index: 313;
}

#u14829
{
	position: absolute;
	width: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -225px;
	left: 1185px;
}

#u14829:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u14829:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u14830-4
{
	z-index: 318;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u14913-39
{
	z-index: 322;
	width: 778px;
	min-height: 654px;
	background-color: transparent;
	text-align: left;
	line-height: 24px;
	font-size: 16px;
	font-family: bitter, serif;
	position: relative;
	margin-right: -10000px;
	left: 111px;
}

#u14913-5
{
	color: #372F2B;
	font-weight: 400;
}

#u14913,#u14913-3,#u14913-7,#u14913-8,#u14913-15
{
	color: #0093C4;
	font-weight: 400;
}

#u14913-10,#u14913-17
{
	color: #0093C4;
	font-weight: 700;
}

#u1290-6,#u1254-4,#u1254-5,#u1254-7,#u1254-8,#u1254-9,#u1254-11,#u1254-12,#u1254-13,#u1254-19,#u1254-20,#u1254-21,#u1254-22,#u1254-23,#u1254-24,#u1254-26,#u12055-5,#u12055-8,#u12055-9,#u12055-14,#u12055-17,#u14913-6,#u14913-9,#u14913-16
{
	color: #000000;
}

#u14913-12,#u14913-19
{
	color: #534741;
	font-weight: 400;
}

#u14913-14,#u14913-21,#u14913-22
{
	color: #000000;
	font-weight: 400;
}

#u12055-4,#u12055-6,#u12055-13,#u12055-15,#u14913-2,#u14913-23,#u14913-25,#u14913-31,#u14913-33
{
	color: #000000;
	font-weight: 700;
}

#u14913-27,#u14913-29,#u14913-30,#u14913-35,#u14913-37
{
	color: #544842;
	font-weight: 400;
}

#u1351-58
{
	z-index: 118;
	width: 898px;
	min-height: 78px;
	background-color: transparent;
	margin-left: 22px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1351-2
{
	font-size: 28px;
	text-align: left;
	line-height: 34px;
	color: #0093C4;
	font-family: buenard, serif;
	font-weight: 700;
}

#u1351-3
{
	font-size: 28px;
	line-height: 34px;
	font-family: buenard, serif;
	font-weight: 700;
}

#u1351-16
{
	font-size: 1px;
	line-height: 0px;
}

#u15542
{
	z-index: 138;
	width: 898px;
	background-color: transparent;
}

#u14503_img,#u15542_img
{
	vertical-align: bottom;
}

#u1351-53 > #u1351-30:before,#u1351-53 > #u1351-32:before,#u1351-53 > #u1351-34:before,#u1351-53 > #u1351-36:before,#u1351-53 > #u1351-38:before,#u1351-53 > #u1351-40:before,#u1351-53 > #u1351-42:before,#u1351-53 > #u1351-44:before,#u1351-53 > #u1351-46:before,#u1351-53 > #u1351-48:before,#u1351-53 > #u1351-50:before,#u1351-53 > #u1351-52:before
{
	font-family: bitter, Georgia;
	font-weight: 400;
}

#u1351-5,#u1351-6,#u1351-8,#u1351-9,#u1351-11,#u1351-12,#u1351-14,#u1351-15,#u1351-18,#u1351-19,#u1351-21,#u1351-22,#u1351-24,#u1351-25,#u1351-27,#u1351-28,#u1351-30,#u1351-32,#u1351-34,#u1351-36,#u1351-38,#u1351-40,#u1351-42,#u1351-44,#u1351-46,#u1351-48,#u1351-50,#u1351-52,#u1351-54,#u1351-56
{
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
}

#u1961-30
{
	z-index: 181;
	width: 898px;
	min-height: 81px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 65px;
	position: relative;
}

#u1961-2,#u1961-3
{
	font-size: 28px;
	text-align: left;
	line-height: 35px;
	color: #0093C4;
	font-family: buenard, serif;
	font-weight: 700;
}

#u1961-14
{
	text-decoration: underline;
}

#u1290-4,#u1961-18
{
	font-size: 16px;
}

#u1961-5,#u1961-6,#u1961-8,#u1961-9,#u1961-11,#u1961-12,#u1961-16,#u1961-17,#u1961-19,#u1961-20,#u1961-22,#u1961-23,#u1961-25,#u1961-26,#u1961-28
{
	font-size: 16px;
	line-height: 20px;
}

#page_position_content,#pu1070,#pu1125
{
	width: 0.01px;/* should not cover content below */
}

#u1125
{
	z-index: 57;
	width: 943px;
	position: relative;
	margin-right: -10000px;
}

#u1126
{
	z-index: 58;
	width: 942px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

#u1126:hover
{
	width: 942px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1842
{
	z-index: 59;
	width: 995px;
	min-height: 102px;
	margin-bottom: -33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: -16px;
}

#u2571
{
	z-index: 65;
	width: 210px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 832px;
}

#u10715
{
	z-index: 67;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: -32px;
}

#u17332
{
	z-index: 73;
	width: 137px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 873px;
}

#u109
{
	z-index: 60;
	min-height: 65px;
}

#u109:active
{
	min-height: 65px;
	margin: 0px;
}

#u109_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
}

#u199-4
{
	z-index: 61;
	width: 941px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 100px;
}

#u199-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 941px;
	margin: 37px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u109-bw
{
	z-index: 60;
	min-height: 65px;
}

.html
{
	background: #000000 url("../images/black_denim.jpg") repeat center top scroll;
}

body
{
	position: relative;
	min-width: 942px;
}

