.version.about_me /* version checker */
{
	color: #0000ED;
	background-color: #2BDEBD;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 683px;
	border-width: 0px;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/leather.jpg") repeat left top;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#u1070
{
	z-index: 8;
	width: 942px;
	position: relative;
}

#u1070_position_content
{
	margin-bottom: -3px;
	padding-top: 14px;
	width: 100%;
}

#u1074-4
{
	z-index: 9;
	width: 298px;
	min-height: 41px;
	margin-left: 11px;
	position: relative;
}

#u1075
{
	z-index: 13;
	width: 942px;
	position: relative;
}

#u1075:hover
{
	width: 942px;
	min-height: 0px;
	margin: 0px;
}

#menuu1082
{
	z-index: 14;
	width: 942px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u1111
{
	width: 132px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
}

#u1114
{
	width: 132px;
	padding-bottom: 28px;
	position: relative;
}

#u1114:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u1114:active
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u1114.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u1115-4
{
	width: 132px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1114:hover #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u1114:active #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u1114.MuseMenuActive #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u1104
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 134px;
}

#u1105
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u1106-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1105:hover #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1105:active #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1083
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u1086
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u1087-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1105.MuseMenuActive #u1106-4,#u1086:hover #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1086:active #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1090
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 404px;
}

#u1093
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u1095-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1086.MuseMenuActive #u1087-4,#u1093:hover #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1093:active #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u9329
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 539px;
}

#u9330
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u9332-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1093.MuseMenuActive #u1095-4,#u9330:hover #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u9330:active #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1194
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 674px;
}

#u1195
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u1196-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u9330.MuseMenuActive #u9332-4,#u1195:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1195:active #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1097
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 809px;
}

#u1100
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u1105.MuseMenuActive,#u1086.MuseMenuActive,#u1093.MuseMenuActive,#u9330.MuseMenuActive,#u1195.MuseMenuActive,#u1100.MuseMenuActive
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u1101-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1195.MuseMenuActive #u1196-4,#u1100:hover #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1100:active #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1100.MuseMenuActive #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#pu1896
{
	width: 0.01px;
	margin-left: 89px;
	margin-top: 16px;
}

#u1896
{
	z-index: 146;
	width: 190px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 125px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
}

#u1292
{
	z-index: 147;
	width: 181px;
	height: 180px;
	border-radius: 125px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
	background: transparent url("../images/avatar-2-ieu1292-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/avatar-2.png") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#pu1290-7
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 84px;
	margin-left: 213px;
}

#u1290-7
{
	z-index: 88;
	width: 580px;
	min-height: 123px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u9685
{
	z-index: 66;
	width: 59px;
	min-height: 34px;
	margin-left: 547px;
	margin-top: 16px;
	position: relative;
}

#u425
{
	z-index: 2;
	width: 20px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	left: 853px;
}

#u426-5
{
	z-index: 3;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 59px;
	left: -55px;
}

#pu2571
{
	width: 0.01px;
	margin-left: 22px;
}

#u2571
{
	z-index: 65;
	width: 210px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
	left: 810px;
}

#u1254-19
{
	z-index: 67;
	width: 898px;
	background-color: transparent;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1254-2
{
	font-size: 20px;
	text-align: left;
	line-height: 30px;
	color: #0093C4;
}

#u1254-7
{
	font-size: 16px;
	color: #000000;
}

#u1254-3,#u1254-5,#u1254-6,#u1254-8,#u1254-9,#u1254-11
{
	font-size: 16px;
	text-align: left;
	line-height: 24px;
	color: #0093C4;
}

#u1254-4,#u1254-10
{
	color: #000000;
}

#u1254-12,#u1254-17
{
	font-size: 16px;
	line-height: 24px;
}

#u1267
{
	z-index: 86;
	width: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 513px;
}

#u1351-51
{
	z-index: 95;
	width: 898px;
	min-height: 78px;
	background-color: transparent;
	font-family: bitter, serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 66px;
	position: relative;
}

#u1351-2
{
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #0093C4;
}

#u1351-46 > #u1351-23:before,#u1351-46 > #u1351-25:before,#u1351-46 > #u1351-27:before,#u1351-46 > #u1351-29:before,#u1351-46 > #u1351-31:before,#u1351-46 > #u1351-33:before,#u1351-46 > #u1351-35:before,#u1351-46 > #u1351-37:before,#u1351-46 > #u1351-39:before,#u1351-46 > #u1351-41:before,#u1351-46 > #u1351-43:before,#u1351-46 > #u1351-45:before
{
	font-family: bitter, Georgia;
	font-weight: 400;
}

#u1351-3,#u1351-5,#u1351-6,#u1351-8,#u1351-9,#u1351-11,#u1351-12,#u1351-14,#u1351-15,#u1351-17,#u1351-18,#u1351-20,#u1351-21,#u1351-23,#u1351-25,#u1351-27,#u1351-29,#u1351-31,#u1351-33,#u1351-35,#u1351-37,#u1351-39,#u1351-41,#u1351-43,#u1351-45,#u1351-47,#u1351-49
{
	font-size: 16px;
	line-height: 19px;
}

#u1961-28
{
	z-index: 148;
	width: 898px;
	min-height: 81px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 63px;
	position: relative;
}

#u1961-2,#u1961-3
{
	font-size: 20px;
	text-align: left;
	line-height: 25px;
	color: #0093C4;
}

#u1961-16
{
	font-size: 16px;
}

#u1961-5,#u1961-6,#u1961-8,#u1961-9,#u1961-11,#u1961-12,#u1961-14,#u1961-15,#u1961-17,#u1961-18,#u1961-20,#u1961-21,#u1961-23,#u1961-24,#u1961-26
{
	font-size: 16px;
	line-height: 20px;
}

#pu1125
{
	width: 0.01px;
	margin-left: -100px;
}

#u1125
{
	z-index: 57;
	width: 943px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u1125_position_content
{
	padding-bottom: 41px;
	width: 100%;
}

#u1126
{
	z-index: 58;
	width: 942px;
	height: 35px;
	position: relative;
}

#u1126:hover
{
	width: 942px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u1842
{
	z-index: 59;
	width: 995px;
	min-height: 67px;
	left: -16px;
	margin-top: 59px;
	position: relative;
}

#u109
{
	z-index: 60;
	min-height: 51px;
	padding-bottom: 13px;
}

#u109:active
{
	min-height: 51px;
	margin: 0px;
}

#u109_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
}

#u199-4
{
	z-index: 61;
	width: 424px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 369px;
}

#u199-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 424px;
	margin: 32px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u109-bw
{
	z-index: 60;
	min-height: 51px;
	margin-top: 136px;
}

.html
{
	background: #000000 url("../images/black_denim.jpg") repeat center top scroll;
}

body
{
	position: relative;
	min-width: 942px;
}

