.version.contact_thanks /* version checker */
{
	color: #0000FC;
	background-color: #D05517;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 683px;
	border-width: 0px;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/leather.jpg") repeat left top;
}

#page_position_content,#pu1070
{
	width: 0.01px;/* should not cover content below */
}

#u1070
{
	z-index: 2;
	width: 942px;
	position: relative;
	margin-right: -10000px;
}

#u1070_position_content
{
	margin-bottom: -3px;
	padding-top: 14px;
	width: 100%;
}

#u1074-4
{
	z-index: 3;
	width: 298px;
	min-height: 41px;
	margin-left: 11px;
	position: relative;
}

#u1075
{
	z-index: 7;
	width: 942px;
	position: relative;
}

#u1075:hover
{
	width: 942px;
	min-height: 0px;
	margin: 0px;
}

#menuu1082
{
	z-index: 8;
	width: 942px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u1111
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
}

#u1114
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1114:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1114:active
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1115-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1114:hover #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1114:active #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1104
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

#u1105
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1114.MuseMenuActive,#u1105:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1106-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1114.MuseMenuActive #u1115-4,#u1105:hover #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1105:active #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1083
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u1086
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1105.MuseMenuActive,#u1086:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1087-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1105.MuseMenuActive #u1106-4,#u1086:hover #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1086:active #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1090
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 354px;
}

#u1093
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1086.MuseMenuActive,#u1093:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1095-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1086.MuseMenuActive #u1087-4,#u1093:hover #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1093:active #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u9329
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 472px;
}

#u9330
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1093.MuseMenuActive,#u9330:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u9332-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1093.MuseMenuActive #u1095-4,#u9330:hover #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u9330:active #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u11296
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 590px;
}

#u11297
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u9330.MuseMenuActive,#u11297:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u11298-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u9330.MuseMenuActive #u9332-4,#u11297:hover #u11298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u11297:active #u11298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1194
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u1195
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u11297.MuseMenuActive,#u1195:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1196-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u11297.MuseMenuActive #u11298-4,#u1195:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1195:active #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1097
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 826px;
}

#u1100
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1195.MuseMenuActive,#u1100:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1100.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1101-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1195.MuseMenuActive #u1196-4,#u1100:hover #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1100:active #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1100.MuseMenuActive #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u10761
{
	z-index: 69;
	width: 92px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 950px;
}

#u17325
{
	z-index: 71;
	width: 35px;
	margin-left: 942px;
	margin-top: 11px;
	position: relative;
}

#pu1289-11
{
	width: 0.01px;
	margin-left: 47px;
	margin-top: 31px;
}

#u1289-11
{
	z-index: 75;
	width: 620px;
	min-height: 56px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 222px;
}

#u1289-2,#u1289-3
{
	font-weight: 700;
}

#u1289-5
{
	font-size: 20px;
}

#u1289-6,#u1289-7,#u1289-9
{
	font-weight: 400;
}

#u9685
{
	z-index: 66;
	width: 59px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	left: 916px;
}

#u21949
{
	z-index: 86;
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 197px;
}

#u21950
{
	z-index: 87;
	width: 199px;
	height: 200px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 125px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u21951
{
	z-index: 88;
	width: 189px;
	height: 189px;
	border-radius: 125px;
	-webkit-transform: matrix(0.9848,-0.1736,0.1736,0.9848,-15,18);
	-ms-transform: matrix(0.9848,-0.1736,0.1736,0.9848,-15,18);
	transform: matrix(0.9848,-0.1736,0.1736,0.9848,-15,18);
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 15px;
	background: transparent url("../images/avatar.jpg") no-repeat center center;
	background-size: cover;
}

#pu1125
{
	width: 0.01px;
	margin-top: 200px;
}

#u1125
{
	z-index: 57;
	width: 943px;
	position: relative;
	margin-right: -10000px;
}

#u1126
{
	z-index: 58;
	width: 942px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

#u1126:hover
{
	width: 942px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1842
{
	z-index: 59;
	width: 995px;
	min-height: 102px;
	margin-bottom: -33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: -16px;
}

#u2571
{
	z-index: 65;
	width: 210px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 832px;
}

#u10715
{
	z-index: 67;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: -32px;
}

#u17332
{
	z-index: 73;
	width: 137px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 873px;
}

#u109
{
	z-index: 60;
	min-height: 65px;
}

#u109:active
{
	min-height: 65px;
	margin: 0px;
}

#u109_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
}

#u199-4
{
	z-index: 61;
	width: 941px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 100px;
}

#u199-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 941px;
	margin: 37px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u109-bw
{
	z-index: 60;
	min-height: 65px;
}

.html
{
	background: #000000 url("../images/black_denim.jpg") repeat center top scroll;
}

body
{
	position: relative;
	min-width: 942px;
}

