.Paragraph-Style,.White-Link,.Grey-Link,.Strike-through
{
	font-family: bitter-n4, serif;
}

#u11510-40 > #u11510-17:before,#u11510-40 > #u11510-19:before,#u11510-40 > #u11510-21:before,#u11510-40 > #u11510-23:before,#u11510-40 > #u11510-25:before,#u11510-40 > #u11510-27:before,#u11510-40 > #u11510-29:before,#u11510-40 > #u11510-31:before,#u11510-40 > #u11510-33:before,#u11510-40 > #u11510-35:before,#u11510-40 > #u11510-37:before,#u11510-40 > #u11510-39:before
{
	font-family: bitter-n4, Georgia;
}

#u11511-6,#u11510-45,#u11514-3
{
	font-family: bitter-n4, serif;
}

