.Paragraph-Style,.White-Link,.Grey-Link,.Strike-through
{
	font-family: bitter-n4, serif;
}

#u1115-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1106-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1087-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1095-4
{
	font-family: alegreya-sc-n4, serif;
}

#u9332-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1196-4
{
	font-family: alegreya-sc-n4, serif;
}

#u11192-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1101-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1074-4,#u199-6
{
	font-family: bitter-n4, serif;
}


#u11166-4,#u11183-12,#u11162-11
{
	font-family: bitter-n4, serif;
}

#u11178-11,#u11171-11,#u11181-7
{
	font-family: bitter-n4, serif;
}

#u11176-8
{
	font-family: bitter-n4, serif;
}

#u11174-12,#u11168-8
{
	font-family: bitter-n4, serif;
}

#u11182-12,#u11177-8
{
	font-family: bitter-n4, serif;
}

#u11165-4,#u11170-12,#u11180-12
{
	font-family: bitter-n4, serif;
}

