.White-Link,.Grey-Link
{
	font-family: bitter-n4, serif;
}

#u1115-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1106-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1087-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1095-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1196-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1101-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1074-4,#u426-4,#u199-4
{
	font-family: bitter-n4, serif;
}


#u1253-199
{
	font-family: bitter-n4, serif;
}

#u1253-44 > #u1253-35:before,#u1253-44 > #u1253-37:before,#u1253-44 > #u1253-39:before,#u1253-44 > #u1253-41:before,#u1253-44 > #u1253-43:before,#u1253-63 > #u1253-56:before,#u1253-63 > #u1253-58:before,#u1253-63 > #u1253-60:before,#u1253-63 > #u1253-62:before,#u1253-114 > #u1253-96:before,#u1253-114 > #u1253-100:before,#u1253-114 > #u1253-102:before,#u1253-114 > #u1253-104:before,#u1253-114 > #u1253-108:before,#u1253-114 > #u1253-111:before,#u1253-114 > #u1253-113:before,#u1253-130 > #u1253-119:before,#u1253-130 > #u1253-121:before,#u1253-130 > #u1253-123:before,#u1253-130 > #u1253-125:before,#u1253-130 > #u1253-127:before,#u1253-130 > #u1253-129:before,#u1253-151 > #u1253-135:before,#u1253-151 > #u1253-138:before,#u1253-151 > #u1253-140:before,#u1253-151 > #u1253-142:before,#u1253-151 > #u1253-144:before,#u1253-151 > #u1253-146:before,#u1253-151 > #u1253-148:before,#u1253-151 > #u1253-150:before,#u1253-162 > #u1253-157:before,#u1253-162 > #u1253-159:before,#u1253-162 > #u1253-161:before,#u1253-197 > #u1253-168:before,#u1253-197 > #u1253-171:before,#u1253-197 > #u1253-173:before,#u1253-197 > #u1253-175:before,#u1253-197 > #u1253-178:before,#u1253-197 > #u1253-180:before,#u1253-197 > #u1253-183:before,#u1253-197 > #u1253-186:before,#u1253-197 > #u1253-188:before,#u1253-197 > #u1253-191:before,#u1253-197 > #u1253-194:before,#u1253-197 > #u1253-196:before
{
	font-family: bitter-n4, Georgia;
}

