.White-Link,.Grey-Link
{
	font-family: bitter-n4, serif;
}

#u1115-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1106-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1087-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1095-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1196-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1101-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1074-4,#u199-4
{
	font-family: bitter-n4, serif;
}


#u1253-199
{
	font-family: bitter-n4, serif;
}

#u1253-40 > #u1253-31:before,#u1253-40 > #u1253-33:before,#u1253-40 > #u1253-35:before,#u1253-40 > #u1253-37:before,#u1253-40 > #u1253-39:before,#u1253-59 > #u1253-52:before,#u1253-59 > #u1253-54:before,#u1253-59 > #u1253-56:before,#u1253-59 > #u1253-58:before,#u1253-104 > #u1253-86:before,#u1253-104 > #u1253-90:before,#u1253-104 > #u1253-92:before,#u1253-104 > #u1253-94:before,#u1253-104 > #u1253-98:before,#u1253-104 > #u1253-101:before,#u1253-104 > #u1253-103:before,#u1253-120 > #u1253-109:before,#u1253-120 > #u1253-111:before,#u1253-120 > #u1253-113:before,#u1253-120 > #u1253-115:before,#u1253-120 > #u1253-117:before,#u1253-120 > #u1253-119:before,#u1253-141 > #u1253-125:before,#u1253-141 > #u1253-128:before,#u1253-141 > #u1253-130:before,#u1253-141 > #u1253-132:before,#u1253-141 > #u1253-134:before,#u1253-141 > #u1253-136:before,#u1253-141 > #u1253-138:before,#u1253-141 > #u1253-140:before,#u1253-152 > #u1253-147:before,#u1253-152 > #u1253-149:before,#u1253-152 > #u1253-151:before,#u1253-187 > #u1253-158:before,#u1253-187 > #u1253-161:before,#u1253-187 > #u1253-163:before,#u1253-187 > #u1253-165:before,#u1253-187 > #u1253-168:before,#u1253-187 > #u1253-170:before,#u1253-187 > #u1253-173:before,#u1253-187 > #u1253-176:before,#u1253-187 > #u1253-178:before,#u1253-187 > #u1253-181:before,#u1253-187 > #u1253-184:before,#u1253-187 > #u1253-186:before
{
	font-family: bitter-n4, Georgia;
}

