.Paragraph-Style,.White-Link,.Grey-Link,.Strike-through
{
	font-family: bitter-n4, serif;
}

#u12412-3,#u12399-4
{
	font-family: bitter-n4, serif;
}

#u13696-13 > li:before,#u13699-13 > li:before
{
	font-family: '__FontAwesome_5';
}

#u13195-13,#u13696-15,#u13699-15,#u13858-4,#u13870-4,#u13867-4
{
	font-family: bitter-n4, serif;
}

