.Paragraph-Style,.White-Link,.Grey-Link,.Strike-through
{
	font-family: bitter-n4, serif;
}

#u1115-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1106-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1087-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1095-4
{
	font-family: alegreya-sc-n4, serif;
}

#u9332-4
{
	font-family: alegreya-sc-n4, serif;
}

#u11298-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1196-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1101-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1074-4,#u199-6
{
	font-family: bitter-n4, serif;
}


#u1253-258
{
	font-family: bitter-n4, serif;
}

#u1253-48 > #u1253-39:before,#u1253-48 > #u1253-41:before,#u1253-48 > #u1253-43:before,#u1253-48 > #u1253-45:before,#u1253-48 > #u1253-47:before,#u1253-66 > #u1253-59:before,#u1253-66 > #u1253-61:before,#u1253-66 > #u1253-63:before,#u1253-66 > #u1253-65:before,#u1253-99 > #u1253-93:before,#u1253-99 > #u1253-96:before,#u1253-99 > #u1253-98:before,#u1253-148 > #u1253-109:before,#u1253-148 > #u1253-112:before,#u1253-148 > #u1253-114:before,#u1253-148 > #u1253-116:before,#u1253-148 > #u1253-119:before,#u1253-148 > #u1253-121:before,#u1253-148 > #u1253-123:before,#u1253-148 > #u1253-126:before,#u1253-148 > #u1253-129:before,#u1253-148 > #u1253-131:before,#u1253-148 > #u1253-133:before,#u1253-148 > #u1253-135:before,#u1253-148 > #u1253-138:before,#u1253-148 > #u1253-141:before,#u1253-148 > #u1253-143:before,#u1253-148 > #u1253-145:before,#u1253-148 > #u1253-147:before,#u1253-183 > #u1253-161:before,#u1253-183 > #u1253-165:before,#u1253-183 > #u1253-167:before,#u1253-183 > #u1253-169:before,#u1253-183 > #u1253-171:before,#u1253-183 > #u1253-175:before,#u1253-183 > #u1253-178:before,#u1253-183 > #u1253-180:before,#u1253-183 > #u1253-182:before,#u1253-199 > #u1253-188:before,#u1253-199 > #u1253-190:before,#u1253-199 > #u1253-192:before,#u1253-199 > #u1253-194:before,#u1253-199 > #u1253-196:before,#u1253-199 > #u1253-198:before,#u1253-217 > #u1253-204:before,#u1253-217 > #u1253-206:before,#u1253-217 > #u1253-208:before,#u1253-217 > #u1253-210:before,#u1253-217 > #u1253-212:before,#u1253-217 > #u1253-214:before,#u1253-217 > #u1253-216:before,#u1253-229 > #u1253-223:before,#u1253-229 > #u1253-225:before,#u1253-229 > #u1253-228:before,#u1253-246 > #u1253-234:before,#u1253-246 > #u1253-237:before,#u1253-246 > #u1253-239:before,#u1253-246 > #u1253-241:before,#u1253-246 > #u1253-243:before,#u1253-246 > #u1253-245:before
{
	font-family: bitter-n4, Georgia;
}

