.Paragraph-Style,.White-Link,.Grey-Link,.Strike-through
{
	font-family: bitter-n4, serif;
}

#u1580-6,#u1579-96
{
	font-family: bitter-n4, serif;
}

#u1579-53 > #u1579-14:before,#u1579-53 > #u1579-16:before,#u1579-53 > #u1579-18:before,#u1579-53 > #u1579-20:before,#u1579-53 > #u1579-22:before,#u1579-53 > #u1579-24:before,#u1579-53 > #u1579-26:before,#u1579-53 > #u1579-28:before,#u1579-53 > #u1579-30:before,#u1579-53 > #u1579-32:before,#u1579-53 > #u1579-34:before,#u1579-53 > #u1579-36:before,#u1579-53 > #u1579-38:before,#u1579-53 > #u1579-40:before,#u1579-53 > #u1579-42:before,#u1579-53 > #u1579-44:before,#u1579-53 > #u1579-46:before,#u1579-53 > #u1579-48:before,#u1579-53 > #u1579-50:before,#u1579-53 > #u1579-52:before
{
	font-family: bitter-n4, Georgia;
}

