.Paragraph-Style,.White-Link,.Grey-Link,.Strike-through
{
	font-family: bitter-n4, serif;
}

#u1609-6,#u1610-24
{
	font-family: bitter-n4, serif;
}

#u1610-12 > #u1610-11:before
{
	font-family: bitter-n4, Georgia;
}

