.Paragraph-Style,.White-Link,.Grey-Link,.Strike-through
{
	font-family: bitter-n4, serif;
}

#u1115-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1106-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1087-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1095-4
{
	font-family: alegreya-sc-n4, serif;
}

#u9332-4
{
	font-family: alegreya-sc-n4, serif;
}

#u11298-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1196-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1101-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1074-4,#u199-6
{
	font-family: bitter-n4, serif;
}


#u11333-4,#u11341-12,#u11353-11
{
	font-family: bitter-n4, serif;
}

#u11340-11,#u11342-11,#u11352-7
{
	font-family: bitter-n4, serif;
}

#u11354-8
{
	font-family: bitter-n4, serif;
}

#u11339-12,#u11356-8
{
	font-family: bitter-n4, serif;
}

#u11338-12,#u11355-8
{
	font-family: bitter-n4, serif;
}

#u11334-4,#u11337-12,#u11336-12
{
	font-family: bitter-n4, serif;
}

