.Paragraph-Style,.White-Link,.Grey-Link,.Strike-through
{
	font-family: bitter-n4, serif;
}

#u6299-22 > #u6299-11:before,#u6299-22 > #u6299-13:before,#u6299-22 > #u6299-15:before,#u6299-22 > #u6299-17:before,#u6299-22 > #u6299-19:before,#u6299-22 > #u6299-21:before
{
	font-family: bitter-n4, Georgia;
}

#u6300-6,#u6299-27,#u10877-7
{
	font-family: bitter-n4, serif;
}

