.Paragraph-Style,.White-Link,.Grey-Link,.Strike-through
{
	font-family: bitter-n4, serif;
}

#u1115-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1106-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1087-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1095-4
{
	font-family: alegreya-sc-n4, serif;
}

#u9332-4
{
	font-family: alegreya-sc-n4, serif;
}

#u11298-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1196-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1101-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1074-4,#u199-4
{
	font-family: bitter-n4, serif;
}


#u1290-15,#u1254-22,#u12055-20,#u12095-25,#u1351-51
{
	font-family: bitter-n4, serif;
}

#u1351-46 > #u1351-23:before,#u1351-46 > #u1351-25:before,#u1351-46 > #u1351-27:before,#u1351-46 > #u1351-29:before,#u1351-46 > #u1351-31:before,#u1351-46 > #u1351-33:before,#u1351-46 > #u1351-35:before,#u1351-46 > #u1351-37:before,#u1351-46 > #u1351-39:before,#u1351-46 > #u1351-41:before,#u1351-46 > #u1351-43:before,#u1351-46 > #u1351-45:before
{
	font-family: bitter-n4, Georgia;
}

