.Paragraph-Style,.White-Link,.Grey-Link,.Strike-through
{
	font-family: bitter-n4, serif;
}

#u1115-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1106-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1087-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1095-4
{
	font-family: alegreya-sc-n4, serif;
}

#u9332-4
{
	font-family: alegreya-sc-n4, serif;
}

#u11298-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1196-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1101-4
{
	font-family: alegreya-sc-n4, serif;
}

#u1074-4,#u199-4
{
	font-family: bitter-n4, serif;
}


#u11341-12,#u11353-11
{
	font-family: bitter-n4, serif;
}

#u11340-11,#u11342-11,#u11352-7
{
	font-family: bitter-n4, serif;
}

#u11354-8
{
	font-family: bitter-n4, serif;
}

#u11339-12,#u11356-8
{
	font-family: bitter-n4, serif;
}

#u11338-12,#u11355-8
{
	font-family: bitter-n4, serif;
}

#u14469-4,#u11334-4,#u14079-6,#u17352-6
{
	font-family: buenard-n7, serif;
}

#u11337-11,#u11336-11,#u14088-4,#u14086-4,#u14087-4,#u14085-4,#u14089-6,#u14091-6,#u14093-4,#u14095-4,#u14097-6,#u14099-4,#u17358-4,#u17403-4,#u17822-4,#u17828-4
{
	font-family: bitter-n4, serif;
}

