.Paragraph-Style,.White-Link,.Grey-Link,.Strike-through
{
	font-family: bitter-n4, serif;
}

#u16393-3,#u16400-3,#u16381-4
{
	font-family: bitter-n4, serif;
}

#u16373-4
{
	font-family: bitter-n4, serif;
}

#u16410-4
{
	font-family: bitter-n4, serif;
}

#u16390-4
{
	font-family: bitter-n4, serif;
}

#u16378-4
{
	font-family: bitter-n4, serif;
}

#u16384-4
{
	font-family: bitter-n4, serif;
}

#u16403-4
{
	font-family: bitter-n4, serif;
}

#u16377-4
{
	font-family: bitter-n4, serif;
}


#u16902-16
{
	font-family: adamina-n4, serif;
}

#u16886-17 > li:before,#u16906-15 > li:before
{
	font-family: '__FontAwesome_5';
}

#u16886-19,#u16906-17,#u16976-4,#u16926-4,#u16914-4
{
	font-family: bitter-n4, serif;
}

#u16918-4,#u16907-4,#u16967-4,#u16896-4
{
	font-family: buenard-n7, serif;
}

