.version.index /* version checker */
{
	color: #00000D;
	background-color: #2C11FF;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 676px;
	border-width: 0px;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/leather.jpg") repeat left top;
}

#page_position_content
{
	margin-bottom: -7px;
	width: 0.01px;/* should not cover content below */
}

#u1070
{
	z-index: 8;
	width: 944px;
	position: relative;
}

#u1070_position_content
{
	margin-bottom: -3px;
	padding-top: 14px;
	width: 100%;
}

#u1074-4
{
	z-index: 9;
	width: 298px;
	min-height: 41px;
	margin-left: 11px;
	position: relative;
}

#u1075
{
	z-index: 13;
	width: 943px;
	position: relative;
}

#u1075:hover
{
	width: 943px;
	min-height: 0px;
	margin: 0px;
}

#menuu1082
{
	z-index: 14;
	width: 940px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1111
{
	width: 155px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
}

#u1114
{
	width: 155px;
	padding-bottom: 27px;
	position: relative;
}

#u1114:hover
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u1114:active
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u1115-4
{
	width: 155px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1114:hover #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1114:active #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1104
{
	width: 155px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 157px;
}

#u1105
{
	width: 155px;
	padding-bottom: 27px;
	position: relative;
}

#u1106-4
{
	width: 155px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1114.MuseMenuActive #u1115-4,#u1105:hover #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1105:active #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1083
{
	width: 155px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u1086
{
	width: 155px;
	padding-bottom: 27px;
	position: relative;
}

#u1087-4
{
	width: 155px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1105.MuseMenuActive #u1106-4,#u1086:hover #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1086:active #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1090
{
	width: 155px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 471px;
}

#u1093
{
	width: 155px;
	padding-bottom: 27px;
	position: relative;
}

#u1095-4
{
	width: 155px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1086.MuseMenuActive #u1087-4,#u1093:hover #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1093:active #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1194
{
	width: 155px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 628px;
}

#u1195
{
	width: 155px;
	padding-bottom: 27px;
	position: relative;
}

#u1196-4
{
	width: 155px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1093.MuseMenuActive #u1095-4,#u1195:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1195:active #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1097
{
	width: 155px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 785px;
}

#u1100
{
	width: 155px;
	padding-bottom: 27px;
	position: relative;
}

#u1114.MuseMenuActive,#u1105.MuseMenuActive,#u1086.MuseMenuActive,#u1093.MuseMenuActive,#u1195.MuseMenuActive,#u1100.MuseMenuActive
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u1101-4
{
	width: 155px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1195.MuseMenuActive #u1196-4,#u1100:hover #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1100:active #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u1100.MuseMenuActive #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#pu425
{
	width: 0.01px;
	margin-left: 47px;
	margin-top: 16px;
}

#u425
{
	z-index: 2;
	width: 19px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	left: 896px;
}

#u426-5
{
	z-index: 3;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 59px;
	left: -56px;
}

#u410-10
{
	z-index: 60;
	width: 662px;
	min-height: 143px;
	background-color: transparent;
	color: #736357;
	text-align: center;
	font-size: 38px;
	line-height: 46px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 211px;
}

#u1894
{
	z-index: 111;
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 188px;
}

#u435
{
	z-index: 112;
	width: 199px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 125px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u437
{
	z-index: 113;
	width: 189px;
	height: 189px;
	border-radius: 125px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
	background: transparent url("../images/avatar-1.jpg") no-repeat center center;
	background-size: cover;
}

#pppu412
{
	width: 0.01px;
	margin-left: 87px;
	margin-top: 33px;
}

#ppu412
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 30px;
}

#pu412
{
	width: 0.01px;
}

#u412
{
	z-index: 70;
	width: 371px;
	height: 19px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	border-width: 0px 0px 1px;
}

#u419-5
{
	z-index: 76;
	width: 352px;
	min-height: 21px;
	background-color: transparent;
	color: #534741;
	text-align: left;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#pu415
{
	width: 0.01px;
	margin-top: 27px;
}

#u415
{
	z-index: 72;
	width: 371px;
	height: 19px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 0px 0px 1px;
}

#u420-5
{
	z-index: 81;
	width: 352px;
	min-height: 21px;
	background-color: transparent;
	color: #534741;
	text-align: left;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#u2571
{
	z-index: 59;
	width: 210px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
	left: 746px;
}

#u416
{
	z-index: 73;
	width: 371px;
	height: 19px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 398px;
	border-width: 0px 0px 1px;
}

#u417
{
	z-index: 74;
	width: 371px;
	height: 19px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 398px;
	border-width: 0px 0px 1px;
}

#u422-5
{
	z-index: 91;
	width: 352px;
	min-height: 21px;
	background-color: transparent;
	color: #534741;
	text-align: left;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 408px;
}

#u423-7
{
	z-index: 96;
	width: 352px;
	min-height: 21px;
	background-color: transparent;
	color: #534741;
	text-align: left;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 408px;
}

#ppu418
{
	width: 0.01px;
	margin-left: 87px;
	margin-top: 25px;
}

#pu418
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 398px;
}

#u418
{
	z-index: 75;
	width: 371px;
	height: 19px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 0px 0px 1px;
}

#u424-8
{
	z-index: 103;
	width: 352px;
	min-height: 21px;
	background-color: transparent;
	color: #777777;
	text-align: left;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u410-2,#u410-6,#u424-2,#u424-5
{
	color: #534741;
}

#u414
{
	z-index: 71;
	width: 371px;
	height: 19px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	border-width: 0px 0px 1px;
}

#u421-5
{
	z-index: 86;
	width: 352px;
	min-height: 21px;
	background-color: transparent;
	color: #534741;
	text-align: left;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#u419,#u420,#u422,#u423,#u424,#u421
{
	color: #000000;
}

#pu1125
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 86px;
}

#u1125
{
	z-index: 51;
	width: 943px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u1125_position_content
{
	padding-bottom: 29px;
	width: 100%;
}

#u1126
{
	z-index: 52;
	width: 942px;
	height: 35px;
	position: relative;
}

#u1126:hover
{
	width: 942px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u1842
{
	z-index: 53;
	width: 995px;
	min-height: 67px;
	left: -16px;
	margin-top: 59px;
	position: relative;
}

#u109
{
	z-index: 54;
	min-height: 50px;
	padding-bottom: 14px;
}

#u109:active
{
	min-height: 50px;
	margin: 0px;
}

#u109_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
}

#u199-4
{
	z-index: 55;
	width: 424px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 369px;
}

#u199-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 424px;
	margin: 31px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u109-bw
{
	z-index: 54;
	min-height: 50px;
	margin-top: 137px;
}

.html
{
	background: #000000 url("../images/black_denim.jpg") repeat center top scroll;
}

body
{
	position: relative;
	min-width: 942px;
}

