#u1074-4
{
	text-shadow: 6px 6px 8px #000000;
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	color: #0092C4;
	line-height: 35px;
	text-align: center;
	font-size: 29px;
	font-family: bitter, serif;
	font-weight: 400;
}

#u1075
{
	-pie-box-shadow: none;
	box-shadow: 4px -7px 6px rgba(0,0,0,0.3);
	border-style: solid;
	border-color: #534741;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 3px;
	background: transparent url("../images/pattern-dark-grey.jpg") repeat left top;
}

#u1075:hover
{
	background-repeat: repeat;
	background-position: left top;
	border-style: solid;
	border-color: #534741;
	background-color: transparent;
	border-width: 0px 0px 3px;
}

#u1114
{
	border-style: solid;
	border-width: 0px 0px 2px;
}

#u1114:hover
{
	border-color: #7F7F7F;
}

#u1114:active
{
	border-color: #7F7F7F;
}

.store-link
{
	border-color: #544842;
	background-color: transparent;
	border-width: 0px 0px 2px;
}

#u1115-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
}

#u1114:hover #u1115-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1114:active #u1115-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1114:hover #u1115-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u1114:active #u1115-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u1105
{
	border-style: solid;
	border-width: 0px 0px 2px;
}

#u1114.MuseMenuActive,#u1105:hover
{
	border-color: #7F7F7F;
}

#u1106-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
}

#u1114.MuseMenuActive #u1115-4,#u1105:hover #u1106-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1105:active #u1106-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1105:hover #u1106-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u1105:active #u1106-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u1086
{
	border-style: solid;
	border-width: 0px 0px 2px;
}

#u1105.MuseMenuActive,#u1086:hover
{
	border-color: #7F7F7F;
}

#u1087-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
}

#u1105.MuseMenuActive #u1106-4,#u1086:hover #u1087-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1086:active #u1087-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1086:hover #u1087-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u1086:active #u1087-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u1093
{
	border-style: solid;
	border-width: 0px 0px 2px;
}

#u1086.MuseMenuActive,#u1093:hover
{
	border-color: #7F7F7F;
}

#u1095-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
}

#u1086.MuseMenuActive #u1087-4,#u1093:hover #u1095-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1093:active #u1095-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1093:hover #u1095-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u1093:active #u1095-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u9330
{
	border-style: solid;
	border-width: 0px 0px 2px;
}

#u1093.MuseMenuActive,#u9330:hover
{
	border-color: #7F7F7F;
}

#u9332-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
}

#u1093.MuseMenuActive #u1095-4,#u9330:hover #u9332-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u9330:active #u9332-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u9330:hover #u9332-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u9330:active #u9332-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u11297
{
	border-style: solid;
	border-width: 0px 0px 2px;
}

#u9330.MuseMenuActive,#u11297:hover
{
	border-color: #7F7F7F;
}

#u11298-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
}

#u9330.MuseMenuActive #u9332-4,#u11297:hover #u11298-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u11297:active #u11298-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u11297:hover #u11298-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u11297:active #u11298-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u1195
{
	border-style: solid;
	border-width: 0px 0px 2px;
}

#u11297.MuseMenuActive,#u1195:hover
{
	border-color: #7F7F7F;
}

#u1196-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
}

#u11297.MuseMenuActive #u11298-4,#u1195:hover #u1196-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1195:active #u1196-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1195:hover #u1196-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u1195:active #u1196-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u1100
{
	border-style: solid;
	border-width: 0px 0px 2px;
}

#u1195.MuseMenuActive,#u1100:hover
{
	border-color: #7F7F7F;
}

#u1101-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
}

#u1195.MuseMenuActive #u1196-4,#u1100:hover #u1101-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1100:active #u1101-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1100:hover #u1101-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u1100:active #u1101-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u22455
{
	border-style: solid;
	border-width: 0px 0px 2px;
}

#u1100.MuseMenuActive,#u22455:hover
{
	border-color: #7F7F7F;
}

#u22455.MuseMenuActive
{
	border-color: #7F7F7F;
}

#u22456-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
}

#u1100.MuseMenuActive #u1101-4,#u22455:hover #u22456-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u22455:active #u22456-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u22455.MuseMenuActive #u22456-4
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u22455:hover #u22456-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u22455:active #u22456-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u1114.MuseMenuActive #u1115-4 p,#u1105.MuseMenuActive #u1106-4 p,#u1086.MuseMenuActive #u1087-4 p,#u1093.MuseMenuActive #u1095-4 p,#u9330.MuseMenuActive #u9332-4 p,#u11297.MuseMenuActive #u11298-4 p,#u1195.MuseMenuActive #u1196-4 p,#u1100.MuseMenuActive #u1101-4 p,#u22455.MuseMenuActive #u22456-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1070,#u1125
{
	background: #000000 url("../images/black_denim.jpg") repeat center top;
}

#u1126
{
	-pie-box-shadow: none;
	box-shadow: 0px 8px 6px rgba(0,0,0,0.3);
	border-width: 0px;
	border-radius: 0px 0px 10px 10px ;
	background: transparent url("../images/leather.jpg") repeat left top;
}

#u1126:hover
{
	background-repeat: repeat;
	background-position: left top;
	background-color: transparent;
}

#u1111,#u1104,#u1083,#u1090,#u9329,#u11296,#u1194,#u1097,#u22452,#u10761,#u17325,#u10715
{
	background-color: transparent;
}

#u17332
{
	background-color: transparent;
	-webkit-transform: matrix(0.9781,-0.2079,0.2079,0.9781,-2,15);
	-ms-transform: matrix(0.9781,-0.2079,0.2079,0.9781,-2,15);
	transform: matrix(0.9781,-0.2079,0.2079,0.9781,-2,15);
}

#u109
{
	-pie-box-shadow: 4px -7px 6px #B2B2B2;
	box-shadow: 4px -7px 6px rgba(0,0,0,0.3);
	border-style: solid;
	border-color: #7F7F7F;
	border-width: 1px 0px 0px;
	background: #333333 url("../images/pattern-dark-grey.jpg") repeat-x left top;
}

#u109:active
{
	background-repeat: repeat-x;
	background-position: left top;
	border-color: #000000;
}

#u199-4
{
	background-color: transparent;
	color: #777777;
	line-height: 16px;
	text-align: center;
	font-size: 13px;
	font-family: bitter, serif;
	font-weight: 400;
}

#u199-4:hover p
{
	color: #777777;
	visibility: inherit;
}

#menuu1082,#u22529,#u9685,#u1842,#u2571,#u22378
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}


