#u119-4
{
	background-color: transparent;
	color: #0092C4;
	text-align: center;
	font-size: 29px;
	line-height: 35px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u120
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	background: #0E0003 url("../images/bg_pattern_dark.png") repeat left top;
}

#u120::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 10px 10px 0px 0px ;
	box-shadow: inset 1px 1px 4px rgba(255,255,255,0.75), inset -1px -1px 4px rgba(0,0,0,0.75);
}

#menuu143
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u144,#u147
{
	background-color: transparent;
	position: relative;
}

#u148-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
	position: relative;
}

#u147:hover #u148-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u147:active #u148-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u151,#u152
{
	background-color: transparent;
	position: relative;
}

#u153-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
	position: relative;
}

#u152:hover #u153-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u152:active #u153-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u159,#u160
{
	background-color: transparent;
	position: relative;
}

#u162-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
	position: relative;
}

#u160:hover #u162-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u160:active #u162-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u166,#u167
{
	background-color: transparent;
	position: relative;
}

#u169-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
	position: relative;
}

#u167:hover #u169-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u167:active #u169-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u173,#u174
{
	background-color: transparent;
	position: relative;
}

#u176-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
	position: relative;
}

#u174:hover #u176-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u174:active #u176-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u180,#u181
{
	background-color: transparent;
	position: relative;
}

#u182-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: alegreya-sc, serif;
	font-weight: 400;
	position: relative;
}

#u181:hover #u182-4 p
{
	color: #B9D0C1;
	visibility: inherit;
}

#u181:active #u182-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u147.MuseMenuActive #u148-4 p,#u152.MuseMenuActive #u153-4 p,#u160.MuseMenuActive #u162-4 p,#u167.MuseMenuActive #u169-4 p,#u174.MuseMenuActive #u176-4 p,#u181.MuseMenuActive #u182-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u188
{
	background-repeat: repeat;
	background-position: center center;
	background-color: #FFFFFF;
	position: relative;
}

.main-container
{
	border-style: none;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	border-radius: 0px 0px 10px 10px ;
	background: #FFFFFF url("../images/bg_pattern_light.png") repeat center center;
}

#u425
{
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 0px 5px 5px 0px ;
	position: relative;
	border-width: 0px 0px 0px 1px;
}

#u426-4
{
	background-color: transparent;
	font-family: bitter, serif;
	font-weight: 400;
	-webkit-transform: matrix(0,-1,1,0,48,67);
	-ms-transform: matrix(0,-1,1,0,48,67);
	transform: matrix(0,-1,1,0,48,67);
	position: relative;
}

#u427
{
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,1,13);
	-ms-transform: matrix(0,-1,1,0,1,13);
	transform: matrix(0,-1,1,0,1,13);
	position: relative;
}

#u109
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #333333;
	border-width: 1px 0px 0px;
}

#u109:active
{
	border-color: #000000;
}

#u109_align_to_page
{
	position: relative;
}

#u199-4
{
	background-color: transparent;
	color: #777777;
	text-align: center;
	font-size: 11px;
	line-height: 13px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u199-4:hover p
{
	color: #777777;
	visibility: inherit;
	font-size: 11px;
}

