#u16408
{
	background-color: #4E3B5B;
}

#u16408::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 0px 0px 130px rgba(0,0,0,0.3), inset 0px 0px 130px rgba(0,0,0,0.3);
}

#u16369
{
	background: transparent url("../images/browser.png") no-repeat center top;
	background-size: cover;
}

#u16394
{
	background-color: transparent;
}

#u16394:hover,#u16382
{
	background-color: transparent;
}

#u16382:hover,#u16401
{
	background-color: transparent;
}

#u16401:hover,#u16405
{
	background-color: transparent;
}

#u16405:hover,#u16370
{
	background-color: transparent;
}

#u16407
{
	background: transparent url("../images/u16407-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(127,127,127,0.2)),color-stop(57%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(127,127,127,0.2) ,rgba(255,255,255,0) 20px);
	background: linear-gradient(to bottom,rgba(127,127,127,0.2) ,rgba(255,255,255,0) 20px);
}

#u16385
{
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(100%, rgba(127,127,127,0.1)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#197F7F7F, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#197F7F7F', GradientType=0)";
}

#u16393-3,#u16400-3
{
	border-style: solid;
	border-color: #AAAAAA;
	background-color: #BABABA;
	color: #000000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: bitter, serif;
	font-weight: 400;
	border-width: 1px 0px;
}

#u16381-4
{
	background-color: transparent;
	text-transform: uppercase;
	color: #352D29;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
}

#u16381-2
{
	padding-top: 7px;
}

#u16373-4
{
	background-color: transparent;
	text-transform: uppercase;
	color: #352D29;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
}

#u16373-2
{
	padding-top: 7px;
}

#u16410-4
{
	background-color: transparent;
	text-transform: uppercase;
	color: #352D29;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
}

#u16410-2
{
	padding-top: 7px;
}

#u16390-4
{
	background-color: transparent;
	text-transform: uppercase;
	color: #352D29;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
}

#u16390-2
{
	padding-top: 7px;
}

#u16378-4
{
	background-color: transparent;
	text-transform: uppercase;
	color: #352D29;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
}

#u16378-2
{
	padding-top: 7px;
}

#u16384-4
{
	background-color: transparent;
	text-transform: uppercase;
	color: #352D29;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
}

#u16384-2
{
	padding-top: 7px;
}

#u16403-4
{
	background-color: transparent;
	text-transform: uppercase;
	color: #352D29;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
}

#u16381-4:hover p,#u16373-4:hover p,#u16410-4:hover p,#u16390-4:hover p,#u16378-4:hover p,#u16384-4:hover p,#u16403-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u16403-2
{
	padding-top: 7px;
}

#u16370:hover,#u16375
{
	background-color: transparent;
}

#u16375:hover,#u16379
{
	background-color: transparent;
}

#u16379:hover,#u16386
{
	background-color: transparent;
}

#u16386:hover,#u16396
{
	background-color: transparent;
}

#u16396:hover,#u16388
{
	background-color: transparent;
}

#u16388:hover
{
	background-color: transparent;
}

#u16394_img:hover,#u16382_img:hover,#u16401_img:hover,#u16405_img:hover,#u16370_img:hover,#u16375_img:hover,#u16379_img:hover,#u16386_img:hover,#u16396_img:hover,#u16388_img:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u16377-4
{
	border-style: solid;
	border-color: #AAAAAA;
	background-color: #4D3B5B;
	color: #FFFFFF;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	border-width: 1px 0px 0px;
}

#u16377-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: none;
}

#u16377-2
{
	padding-top: 23px;
}


