.version.plugin_my_custom_styles_pro /* version checker */
{
	color: #0000EF;
	background-color: #079F8F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.99999999999955px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#pu11511-6
{
	width: 0.01px;
}

#u11511-6
{
	z-index: 4;
	width: 600px;
	min-height: 63px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u11511-2
{
	font-size: 30px;
	line-height: 36px;
}

#u11511-4
{
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 711px;
}

#pu11526
{
	width: 0.01px;
	margin-top: 5px;
}

#u11526
{
	z-index: 58;
	width: 600px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u9697
{
	z-index: 3;
	width: 67px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	left: 711px;
}

#u11510-45
{
	z-index: 10;
	width: 600px;
	min-height: 140px;
	background-color: transparent;
	text-align: justify;
	color: #000000;
	text-indent: 5px;
	font-family: bitter, serif;
	margin-top: 13px;
	position: relative;
}

#u11510-14
{
	font-size: 18px;
	line-height: 23px;
	font-weight: 700;
}

#u11510-40 > #u11510-17:before,#u11510-40 > #u11510-19:before,#u11510-40 > #u11510-21:before,#u11510-40 > #u11510-23:before,#u11510-40 > #u11510-25:before,#u11510-40 > #u11510-27:before,#u11510-40 > #u11510-29:before,#u11510-40 > #u11510-31:before,#u11510-40 > #u11510-33:before,#u11510-40 > #u11510-35:before,#u11510-40 > #u11510-37:before,#u11510-40 > #u11510-39:before
{
	font-family: bitter, Georgia;
	font-weight: 400;
}

#u11510-2,#u11510-3,#u11510-5,#u11510-6,#u11510-8,#u11510-9,#u11510-11,#u11510-12,#u11510-15,#u11510-17,#u11510-19,#u11510-21,#u11510-23,#u11510-25,#u11510-27,#u11510-29,#u11510-31,#u11510-33,#u11510-35,#u11510-37,#u11510-39,#u11510-41,#u11510-43
{
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
}

#u11536
{
	z-index: 60;
	width: 600px;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u11546
{
	z-index: 62;
	width: 600px;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#ppu11576
{
	width: 0.01px;
	margin-top: 25px;
}

#pu11576
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u11576
{
	z-index: 68;
	width: 291px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u11556
{
	z-index: 64;
	width: 292px;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
}

#pu11566
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-left: 306px;
}

#u11566
{
	z-index: 66;
	width: 292px;
	background-color: transparent;
	position: relative;
}

#u11586
{
	z-index: 70;
	width: 292px;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
}

#u11514-3
{
	z-index: 55;
	width: 600px;
	min-height: 36px;
	background-color: transparent;
	text-align: left;
	color: #000000;
	text-indent: 5px;
	line-height: 21px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

