/*

*/

.version.plugin_my_custom_functions_pro /* version checker */
{
	color: #000012;
	background-color: #54F084;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 872.9000000000001px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u16391
{
	z-index: 10;
	width: 139px;
	height: 152px;
	position: relative;
	margin-right: -10000px;
	left: 1003px;
}

.ie #u16391
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u16369
{
	z-index: 54;
	width: 775px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 184px;
}

#u16984
{
	z-index: 285;
	width: 667px;
	height: 264px;
	border-style: solid;
	border-color: #757575;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 54px;
	border-width: 0px 0px 1px;
	background: transparent url("../images/my%20custom%20functions%20pro%20%e2%80%b9%20arthur%20gareginyan%20%e2%80%94%20wordpress%20(20160906)3-u16984-fr.jpg") no-repeat center top;
	background-size: cover;
}

#pu16394
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 107px;
	margin-left: 746px;
}

#u16394
{
	z-index: 55;
	width: 29px;
	position: relative;
}

#u16394:hover
{
	width: 29px;
	min-height: 0px;
	margin: 0px;
}

#u16382
{
	z-index: 63;
	width: 29px;
	margin-top: 10px;
	position: relative;
}

#u16401
{
	z-index: 59;
	width: 29px;
	margin-top: 10px;
	position: relative;
}

#u16405
{
	z-index: 61;
	width: 29px;
	margin-top: 10px;
	position: relative;
}

#u16370
{
	z-index: 57;
	width: 29px;
	margin-top: 10px;
	position: relative;
}

#u16382:hover,#u16401:hover,#u16405:hover,#u16370:hover
{
	width: 29px;
	min-height: 0px;
	margin: 10px 0px 0px;
}

#u16875-6
{
	z-index: 207;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u16408,#u16408-bw
{
	z-index: 9;
	min-height: 447px;
}

#u16393-3,#u16393-3-bw
{
	z-index: 6;
	min-height: 19px;
}

#u16407
{
	z-index: 52;
	height: 35px;
}

#u16407-bw
{
	z-index: 52;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 35px;
}

#u16902-16
{
	z-index: 234;
	width: 942px;
	min-height: 567px;
	background-color: transparent;
	line-height: 29px;
	color: #3C454C;
	font-size: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 27px;
	position: relative;
}

#u16966
{
	z-index: 283;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(100%, rgba(127,127,127,0.1)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#197F7F7F, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#197F7F7F', GradientType=0)";
}

#u16966-bw
{
	z-index: 283;
	height: 26px;
}

#u16893
{
	z-index: 286;
	min-height: 388px;
	border-style: solid;
	border-color: #E2E2E2;
	background-color: #F9F9F9;
	border-width: 1px 0px;
}

#u16893::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: none;
}

#u16893_position_content
{
	margin-top: -1px;
	width: 100%;
}

#u16918-4
{
	z-index: 291;
	width: 942px;
	min-height: 99px;
	background-color: transparent;
	line-height: 29px;
	color: #3C454C;
	text-align: center;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	left: 100px;
	position: relative;
}

#pu16886-19
{
	width: 0.01px;
	left: 54px;
	position: relative;
}

#u16886-19
{
	z-index: 331;
	width: 505px;
	min-height: 290px;
	background-color: transparent;
	line-height: 25px;
	color: #3B454C;
	font-size: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u16886-17 > li:before
{
	margin-right: 18px;
	content: '';
	margin-top: 0px;
	color: #29ABE2;
	font-family: '__FontAwesome_5';
	font-weight: 400;
}

#u16906-17
{
	z-index: 350;
	width: 505px;
	min-height: 290px;
	background-color: transparent;
	line-height: 25px;
	color: #3B454C;
	font-size: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#u16886-17,#u16906-15
{
	padding-left: 46px;
}

#u16886-17.rtl-list,#u16906-15.rtl-list
{
	padding-left: 0px;
	padding-right: 46px;
}

#u16906-15 > li:before
{
	margin-right: 18px;
	content: '';
	color: #29ABE2;
	font-family: '__FontAwesome_5';
	font-weight: 400;
}

#u16886-17.rtl-list > li:before,#u16906-15.rtl-list > li:before
{
	margin-right: 0px;
	margin-left: 18px;
}

#u16886-2,#u16886-4,#u16886-6,#u16886-8,#u16886-10,#u16886-12,#u16886-14,#u16886-16,#u16906-2,#u16906-4,#u16906-6,#u16906-8,#u16906-10,#u16906-12,#u16906-14
{
	padding-top: 3px;
}

#u16893-bw
{
	z-index: 286;
	min-height: 388px;
}

#u16927
{
	z-index: 367;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(127,127,127,0.1)),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#197F7F7F, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#197F7F7F', endColorstr='#00FFFFFF', GradientType=0)";
}

#u16927-bw
{
	z-index: 367;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 26px;
}

#u16907-4
{
	z-index: 287;
	width: 942px;
	min-height: 100px;
	background-color: transparent;
	line-height: 29px;
	color: #3C454C;
	text-align: center;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#slideshowu16928
{
	z-index: 295;
	width: 0.01px;
	height: 200px;
	left: -100px;
	position: relative;
}

#u16946
{
	position: absolute;
	width: 1184px;
	height: 799px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -189px;
	left: 134px;
	-pie-background: rgba(0,0,0,0.9);
}

#u16946popup
{
	z-index: 296;
}

#u16951
{
	z-index: 297;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16949
{
	z-index: 299;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16947
{
	z-index: 301;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17151
{
	z-index: 303;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16951_img,#u16949_img,#u16947_img,#u17151_img
{
	padding-top: 57px;
	padding-bottom: 57px;
}

#u16955
{
	z-index: 305;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16955_img
{
	padding: 143px 250px 142px;
}

#u16933
{
	position: absolute;
	width: 1142px;
	border-color: #3B454C;
	background-color: transparent;
	padding-bottom: 54px;
}

#u16933popup
{
	z-index: 307;
}

#u16934
{
	z-index: 308;
	width: 191px;
	height: 140px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 28px;
}

#u16940
{
	z-index: 310;
	width: 191px;
	height: 140px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 251px;
}

#u16938
{
	z-index: 312;
	width: 191px;
	height: 140px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 474px;
}

#u17157
{
	z-index: 314;
	width: 191px;
	height: 140px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 697px;
}

#u16942
{
	z-index: 316;
	width: 191px;
	height: 140px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 920px;
}

#u16934:hover,#u16940:hover,#u16938:hover,#u17157:hover,#u16942:hover
{
	border-color: #2C6C7A;
	width: 191px;
	height: 140px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u16929-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 142px;
	left: 111px;
}

#u16929-4popup
{
	z-index: 318;
}

#u16931-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 142px;
	left: 1316px;
}

#u16931-4popup
{
	z-index: 322;
}

#u16944
{
	position: absolute;
	width: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -167px;
	left: 1311px;
}

#u16944:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u16944:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u16945-4
{
	z-index: 327;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u16909
{
	z-index: 284;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(100%, rgba(127,127,127,0.1)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#197F7F7F, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#197F7F7F', GradientType=0)";
}

#u16909-bw
{
	z-index: 284;
	height: 26px;
}

#u16972
{
	z-index: 213;
	min-height: 415px;
	border-style: solid;
	border-color: #E2E2E2;
	background-color: #F9F9F9;
	border-width: 1px 0px;
}

#u16408_align_to_page,#u16893_align_to_page,#u16972_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
}

#u16972_position_content
{
	margin-top: -1px;
	padding-bottom: 39px;
	width: 100%;
}

#u16967-4
{
	z-index: 214;
	width: 942px;
	min-height: 100px;
	background-color: transparent;
	line-height: 29px;
	color: #3C454C;
	text-align: center;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	left: 100px;
	position: relative;
}

#pppu16908-4
{
	width: 0.01px;
	left: 100px;
	margin-top: 1px;
	position: relative;
}

#ppu16908-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u16908-4
{
	z-index: 222;
	width: 269px;
	min-height: 116px;
	-pie-box-shadow: 0px 0px 8px 2px #F6F6F6;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #EDEDED;
	background-color: #FFFFFF;
	border-radius: 3px;
	line-height: 23px;
	color: #3B454C;
	font-size: 19px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u16876
{
	z-index: 271;
	width: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 250px;
}

#u17137
{
	z-index: 368;
	width: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u16976-4
{
	z-index: 259;
	width: 270px;
	min-height: 30px;
	border-color: #EDEDED;
	background-color: transparent;
	line-height: 19px;
	color: #3B454C;
	text-align: right;
	font-size: 16px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	font-style: italic;
	margin-top: 16px;
	position: relative;
}

#ppu16990-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 672px;
}

#page_position_content,#pu16908-4,#pu16990-4
{
	width: 0.01px;/* should not cover content below */
}

#u16990-4
{
	z-index: 226;
	width: 269px;
	min-height: 141px;
	-pie-box-shadow: 0px 0px 8px 2px #F6F6F6;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #EDEDED;
	background-color: #FFFFFF;
	border-radius: 3px;
	line-height: 23px;
	color: #3B454C;
	font-size: 19px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u16884
{
	z-index: 273;
	width: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u16926-4
{
	z-index: 255;
	width: 270px;
	min-height: 30px;
	border-color: #EDEDED;
	background-color: transparent;
	line-height: 19px;
	color: #3B454C;
	text-align: right;
	font-size: 16px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	font-style: italic;
	margin-top: 17px;
	position: relative;
}

#u16889-4
{
	z-index: 230;
	width: 269px;
	min-height: 185px;
	-pie-box-shadow: 0px 0px 8px 2px #F6F6F6;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #EDEDED;
	background-color: #FFFFFF;
	border-radius: 3px;
	line-height: 23px;
	color: #3B454C;
	font-size: 19px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u16908-2,#u16990-2,#u16889-2
{
	padding-right: 10px;
	padding-left: 24px;
	padding-top: 12px;
}

#u16992
{
	z-index: 265;
	width: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 341px;
}

#u16973
{
	z-index: 267;
	width: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 586px;
}

#u16914-4
{
	z-index: 250;
	width: 270px;
	min-height: 30px;
	border-color: #EDEDED;
	background-color: transparent;
	line-height: 19px;
	color: #3B454C;
	text-align: right;
	font-size: 16px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	font-style: italic;
	left: 435px;
	margin-top: 14px;
	position: relative;
}

#u16976-2,#u16926-2,#u16914-2
{
	padding-right: 5px;
	padding-left: 10px;
}

#u16925-7
{
	z-index: 275;
	width: 942px;
	min-height: 20px;
	border-color: #EDEDED;
	background-color: transparent;
	line-height: 16px;
	color: #3B454C;
	text-align: left;
	font-size: 13px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
	left: 101px;
	margin-top: 23px;
	position: relative;
}

#u16925-5
{
	padding-right: 10px;
	padding-left: 10px;
}

#u16972-bw
{
	z-index: 213;
	min-height: 415px;
	margin-bottom: -1px;
}

#u16979
{
	z-index: 254;
	width: 19px;
	height: 19px;
	border-style: solid;
	border-color: #EDEDED;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
	left: 660px;
	border-width: 0px 0px 1px 1px;
}

#u16919
{
	z-index: 263;
	width: 19px;
	height: 19px;
	border-style: solid;
	border-color: #EDEDED;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 999px;
	border-width: 0px 0px 1px 1px;
}

#u16964
{
	z-index: 264;
	width: 19px;
	height: 19px;
	border-style: solid;
	border-color: #EDEDED;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 325px;
	border-width: 0px 0px 1px 1px;
}

#u16916
{
	z-index: 269;
	width: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 227px;
	left: 1023px;
}

#u16876_img,#u17137_img,#u16884_img,#u16992_img,#u16973_img,#u16916_img
{
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}

#u16922
{
	z-index: 282;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(127,127,127,0.1)),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#197F7F7F, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#197F7F7F', endColorstr='#00FFFFFF', GradientType=0)";
}

#u16922-bw
{
	z-index: 282;
	height: 26px;
}

#u16896-4
{
	z-index: 218;
	width: 942px;
	min-height: 100px;
	background-color: transparent;
	line-height: 29px;
	color: #3C454C;
	text-align: center;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 1px;
	position: relative;
}

#pu16985
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 4px;
}

#u16985
{
	z-index: 77;
	width: 277px;
	-pie-box-shadow: 0px 0px 20px 5px #8C8C8C;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.45),0px 0px 20px rgba(0,0,0,0.45);
	border-style: solid;
	border-width: 1px;
	border-color: #D1D1D1;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u16968-6
{
	z-index: 82;
	width: 278px;
	min-height: 78px;
	background-color: #38302C;
	border-radius: 2px 2px 0px 0px ;
	text-align: center;
	left: -1px;
	position: relative;
}

#u16910-4
{
	z-index: 101;
	width: 278px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	left: -1px;
	position: relative;
}

#u16977-4
{
	z-index: 105;
	width: 278px;
	min-height: 28px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	border-width: 0px 0px 1px;
}

#u16883
{
	z-index: 109;
	width: 64px;
	height: 2px;
	background-color: #F77D2C;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u16920-4
{
	z-index: 122;
	width: 278px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	left: -1px;
	position: relative;
}

#u16895-4
{
	z-index: 126;
	width: 278px;
	min-height: 28px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u16900
{
	z-index: 130;
	width: 64px;
	height: 2px;
	background-color: #F77D2C;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u16881-4
{
	z-index: 131;
	width: 278px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	left: -1px;
	position: relative;
}

#u16924-4
{
	z-index: 135;
	width: 278px;
	min-height: 28px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	border-width: 0px 0px 1px;
}

#u16978
{
	z-index: 139;
	width: 64px;
	height: 2px;
	background-color: #F77D2C;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u16892-4
{
	z-index: 78;
	width: 278px;
	min-height: 25px;
	background-color: transparent;
	line-height: 24px;
	color: #2B2B2B;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	left: -1px;
	margin-top: 15px;
	position: relative;
}

#u16991-4
{
	z-index: 110;
	width: 224px;
	min-height: 34px;
	background-color: #F77D2C;
	border-radius: 3px;
	line-height: 13px;
	color: #FFFFFF;
	text-align: center;
	font-size: 11px;
	margin-left: 26px;
	margin-top: 16px;
	position: relative;
}

#u16897
{
	z-index: 66;
	width: 277px;
	-pie-box-shadow: 0px 0px 20px 5px #8C8C8C;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.45),0px 0px 20px rgba(0,0,0,0.45);
	border-style: solid;
	border-width: 1px;
	border-color: #D1D1D1;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u16897:hover
{
	border-color: #FBB03B;
	width: 277px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u16897_position_content
{
	margin-top: -10px;
	padding-bottom: 20px;
	width: 100%;
}

#pu16915-6
{
	width: 0.01px;
	margin-left: -1px;
}

#u16915-6
{
	z-index: 71;
	width: 278px;
	min-height: 78px;
	background-color: #F7812C;
	border-radius: 2px 2px 0px 0px ;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u16915-2
{
	font-size: 18px;
	line-height: 25px;
	padding-top: 18px;
	font-weight: bold;
}

#u16915-4
{
	font-size: 12px;
	line-height: 17px;
}

#u16879
{
	z-index: 99;
	width: 116px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 170px;
}

#u16975-4
{
	z-index: 167;
	width: 278px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
}

#u16878-4
{
	z-index: 171;
	width: 278px;
	min-height: 28px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	border-width: 0px 0px 1px;
}

#u16971
{
	z-index: 175;
	width: 64px;
	height: 2px;
	background-color: #F77D2C;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u16965-4
{
	z-index: 176;
	width: 278px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	left: -1px;
	position: relative;
}

#u16882-4
{
	z-index: 180;
	width: 278px;
	min-height: 28px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u16988
{
	z-index: 184;
	width: 64px;
	height: 2px;
	background-color: #F77D2C;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u16911-4
{
	z-index: 185;
	width: 278px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	left: -1px;
	position: relative;
}

#u16905-4
{
	z-index: 189;
	width: 278px;
	min-height: 28px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u16989
{
	z-index: 193;
	width: 64px;
	height: 2px;
	background-color: #F77D2C;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u16888-4
{
	z-index: 67;
	width: 278px;
	min-height: 25px;
	background-color: transparent;
	line-height: 24px;
	color: #2B2B2B;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	left: -1px;
	margin-top: 31px;
	position: relative;
}

#u16986-4
{
	z-index: 118;
	width: 224px;
	min-height: 34px;
	background-color: #38302C;
	border-radius: 3px;
	line-height: 13px;
	color: #FFFFFF;
	text-align: center;
	font-size: 11px;
	margin-left: 26px;
	margin-top: 14px;
	position: relative;
}

#u16986-4:hover
{
	background-color: #685952;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 224px;
	margin: 14px 0px 0px 26px;
}

#u16969
{
	z-index: 88;
	width: 277px;
	-pie-box-shadow: 0px 0px 20px 5px #8C8C8C;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.45),0px 0px 20px rgba(0,0,0,0.45);
	border-style: solid;
	border-width: 1px;
	border-color: #D1D1D1;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u16985:hover,#u16969:hover
{
	border-color: #FBB03B;
	width: 277px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u16985_position_content,#u16969_position_content
{
	margin-top: -1px;
	padding-bottom: 19px;
	width: 100%;
}

#u16887-6
{
	z-index: 93;
	width: 278px;
	min-height: 78px;
	background-color: #38302C;
	border-radius: 2px 2px 0px 0px ;
	text-align: center;
	left: -1px;
	position: relative;
}

#u16968-2,#u16887-2
{
	font-size: 18px;
	line-height: 25px;
	padding-top: 18px;
	color: #FFFFFF;
	font-weight: bold;
}

#u16968-4,#u16887-4
{
	font-size: 12px;
	line-height: 17px;
	color: #F7931E;
}

#u16913-4
{
	z-index: 149;
	width: 278px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	left: -1px;
	position: relative;
}

#u16901-4
{
	z-index: 153;
	width: 278px;
	min-height: 28px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u16987
{
	z-index: 157;
	width: 64px;
	height: 2px;
	background-color: #F77D2C;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u16980-4
{
	z-index: 140;
	width: 278px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	left: -1px;
	position: relative;
}

#u16921-4
{
	z-index: 144;
	width: 278px;
	min-height: 28px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	border-width: 0px 0px 1px;
}

#u16899
{
	z-index: 148;
	width: 64px;
	height: 2px;
	background-color: #F77D2C;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u16970-4
{
	z-index: 158;
	width: 278px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	left: -1px;
	position: relative;
}

#u16910-2,#u16920-2,#u16881-2,#u16975-2,#u16965-2,#u16911-2,#u16913-2,#u16980-2,#u16970-2
{
	padding-top: 14px;
}

#pu16977-4,#pu16895-4,#pu16924-4,#pu16878-4,#pu16882-4,#pu16905-4,#pu16901-4,#pu16921-4,#pu16894-4
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: -1px;
}

#u16894-4
{
	z-index: 162;
	width: 278px;
	min-height: 28px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	border-width: 0px 0px 1px;
}

#u16977-2,#u16895-2,#u16924-2,#u16878-2,#u16882-2,#u16905-2,#u16901-2,#u16921-2,#u16894-2
{
	padding-top: 6px;
}

#u16891
{
	z-index: 166;
	width: 64px;
	height: 2px;
	background-color: #F77D2C;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u16923-4
{
	z-index: 89;
	width: 278px;
	min-height: 25px;
	background-color: transparent;
	line-height: 24px;
	color: #2B2B2B;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	left: -1px;
	margin-top: 15px;
	position: relative;
}

#u16983-4
{
	z-index: 114;
	width: 224px;
	min-height: 34px;
	background-color: #F77D2C;
	border-radius: 3px;
	line-height: 13px;
	color: #FFFFFF;
	text-align: center;
	font-size: 11px;
	margin-left: 26px;
	margin-top: 16px;
	position: relative;
}

#u16991-4:hover,#u16983-4:hover
{
	background-color: #F77111;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 224px;
	margin: 16px 0px 0px 26px;
}

#u16991-2,#u16986-2,#u16983-2
{
	padding-top: 10px;
}

#u16890-13
{
	z-index: 194;
	width: 942px;
	min-height: 102px;
	background-color: transparent;
	line-height: 16px;
	color: #3C454C;
	font-size: 13px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 1px;
	margin-top: 52px;
	position: relative;
}

#u16890,#u16890-4,#u16890-7,#u16890-10
{
	font-weight: bold;
}

#u16890-3,#u16890-6,#u16890-9
{
	font-weight: normal;
}

#u21895
{
	z-index: 372;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(100%, rgba(127,127,127,0.1)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#197F7F7F, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#197F7F7F', GradientType=0)";
}

#u21895-bw
{
	z-index: 372;
	margin-top: 25px;
	height: 26px;
}

#u21893
{
	z-index: 370;
	min-height: 378px;
	border-style: solid;
	border-color: #E2E2E2;
	background-color: #F9F9F9;
	border-width: 1px 0px;
}

#u21893_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
	padding-top: 99px;
	padding-bottom: 40px;
}

#u21898
{
	z-index: 381;
	width: 269px;
	height: 165px;
	left: 445px;
	position: relative;
	background: transparent url("../images/satisfaction-guaranteed.png") no-repeat center center;
	background-size: contain;
}

#u21896-4
{
	z-index: 373;
	width: 942px;
	min-height: 51px;
	background-color: transparent;
	line-height: 23px;
	color: #3C454C;
	text-align: center;
	font-size: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 109px;
	margin-top: 23px;
	position: relative;
}

#u21893-bw
{
	z-index: 370;
	min-height: 378px;
	margin-bottom: -1px;
}

#u21897-4
{
	z-index: 377;
	width: 942px;
	min-height: 100px;
	background-color: transparent;
	line-height: 29px;
	color: #3C454C;
	text-align: center;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 109px;
}

#u16918-2,#u16907-2,#u16967-2,#u16896-2,#u21897-2
{
	padding-top: 40px;
}

#u21894
{
	z-index: 371;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(127,127,127,0.1)),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#197F7F7F, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#197F7F7F', endColorstr='#00FFFFFF', GradientType=0)";
}

#u21894-bw
{
	z-index: 371;
	height: 26px;
}

#u16385,#u16385-bw
{
	z-index: 53;
	height: 26px;
}

#pu16972,#pu21893,#pu16377-4
{
	width: 0.01px;
	margin-left: -100px;
}

#u16377-4
{
	z-index: 2;
	min-height: 56px;
}

#u16377-4-bw
{
	z-index: 2;
	min-height: 56px;
	margin-top: 28px;
}

#u16400-3,#u16400-3-bw
{
	z-index: 11;
	min-height: 27px;
}

#u16381-4
{
	z-index: 14;
	width: 90px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#u16373-4
{
	z-index: 18;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 207px;
}

#u16410-4
{
	z-index: 22;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u16390-4
{
	z-index: 26;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 409px;
}

#u16378-4
{
	z-index: 30;
	width: 90px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#u16381-4:hover,#u16378-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u16384-4
{
	z-index: 34;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 611px;
}

#u16403-4
{
	z-index: 38;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 712px;
}

#u16373-4:hover,#u16410-4:hover,#u16390-4:hover,#u16384-4:hover,#u16403-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u16375
{
	z-index: 42;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 860px;
}

#u16379
{
	z-index: 44;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 980px;
}

#u16386
{
	z-index: 46;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 920px;
}

#u16396
{
	z-index: 48;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 950px;
}

#u16388
{
	z-index: 50;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 890px;
}

#u16375:hover,#u16379:hover,#u16386:hover,#u16396:hover,#u16388:hover
{
	width: 24px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u17862
{
	z-index: 65;
	width: 59px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1062px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 942px;
}

@font-face
{
	font-family: '__FontAwesome_5';
	src: url('../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}


