.version.plugin_all_meta_tags /* version checker */
{
	color: #0000F3;
	background-color: #979CEF;
}

.html
{
	background-color: #5FBDE2;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-right: 600px;
	padding-bottom: 500px;
	margin-left: auto;
	margin-right: auto;
}

body
{
	position: relative;
	min-width: 600px;
}

#page .verticalspacer
{
	clear: both;
}

