.version.portfolio /* version checker */
{
	color: #0000FB;
	background-color: #ACF1BC;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 682.943299594454px;
	border-width: 0px;
	border-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/leather.jpg") repeat left top;
}

#page_position_content,#pu1070
{
	width: 0.01px;/* should not cover content below */
}

#u1070
{
	z-index: 2;
	width: 942px;
	position: relative;
	margin-right: -10000px;
}

#u1070_position_content
{
	margin-bottom: -3px;
	padding-top: 14px;
	width: 100%;
}

#u1074-4
{
	z-index: 3;
	width: 298px;
	min-height: 41px;
	margin-left: 11px;
	position: relative;
}

#u1075
{
	z-index: 7;
	width: 942px;
	position: relative;
}

#u1075:hover
{
	width: 942px;
	min-height: 0px;
	margin: 0px;
}

#menuu1082
{
	z-index: 8;
	width: 942px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u1111
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
}

#u1114
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1114:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1114:active
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1115-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1114:hover #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1114:active #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1104
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

#u1105
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1114.MuseMenuActive,#u1105:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1106-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1114.MuseMenuActive #u1115-4,#u1105:hover #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1105:active #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1083
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u1086
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1105.MuseMenuActive,#u1086:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1087-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1105.MuseMenuActive #u1106-4,#u1086:hover #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1086:active #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1090
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 354px;
}

#u1093
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1086.MuseMenuActive,#u1093:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1095-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1086.MuseMenuActive #u1087-4,#u1093:hover #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1093:active #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u9329
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 472px;
}

#u9330
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1093.MuseMenuActive,#u9330:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u9332-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1093.MuseMenuActive #u1095-4,#u9330:hover #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u9330:active #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u11296
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 590px;
}

#u11297
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u9330.MuseMenuActive,#u11297:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u11298-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u9330.MuseMenuActive #u9332-4,#u11297:hover #u11298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u11297:active #u11298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1194
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u1195
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u11297.MuseMenuActive,#u1195:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1196-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u11297.MuseMenuActive #u11298-4,#u1195:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1195:active #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1097
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 826px;
}

#u1100
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1195.MuseMenuActive,#u1100:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1100.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1101-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1195.MuseMenuActive #u1196-4,#u1100:hover #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1100:active #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1100.MuseMenuActive #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u10761
{
	z-index: 69;
	width: 92px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 950px;
}

#pu1760-5
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 11px;
}

#u1760-5
{
	z-index: 103;
	width: 898px;
	min-height: 69px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#u1760-2
{
	color: #000000;
}

#u17325
{
	z-index: 71;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	left: 920px;
}

#pu1299-8
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 3px;
}

#u1299-8
{
	z-index: 75;
	width: 898px;
	min-height: 77px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u1299-3
{
	font-size: 28px;
	line-height: 34px;
	color: #000000;
	font-family: buenard, serif;
	font-weight: 700;
}

#u1299-5
{
	font-size: 20px;
	color: #000000;
	font-family: bitter, serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1299-4
{
	font-size: 16px;
	line-height: 19px;
}

#u1299-6
{
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	font-family: bitter, serif;
	font-weight: 400;
}

#u1424
{
	z-index: 98;
	width: 54px;
	min-height: 54px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 944px;
}

#pu1302
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 5px;
}

#u1302
{
	z-index: 90;
	width: 240px;
	height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/screenshot-u1302-fr.jpg") no-repeat center top;
	background-size: contain;
}

#u1302:hover
{
	border-radius: 0px;
	width: 240px;
	height: 179px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background: #000000 url("../images/play-mini.png") no-repeat center center;
	background-size: 50px 50px;
}

#u1304
{
	z-index: 91;
	width: 240px;
	height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 309px;
	background: #FFFFFF url("../images/authors-notepad-designe-u1304-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u1304:hover
{
	width: 240px;
	height: 179px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background: #000000 url("../images/play-mini.png") no-repeat center center;
	background-size: 50px 50px;
}

#u6270
{
	z-index: 166;
	width: 240px;
	height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 621px;
	background: #FFFFFF url("../images/preview-u6270-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u6270:hover
{
	width: 240px;
	height: 179px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background: #000000 url("../images/play-mini.png") no-repeat center center;
	background-size: 50px 50px;
}

#u9685
{
	z-index: 66;
	width: 59px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 926px;
}

#pu5263-4
{
	width: 0.01px;
	margin-left: 37px;
}

#u5263-4
{
	z-index: 108;
	width: 240px;
	min-height: 18px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u5266-4
{
	z-index: 112;
	width: 240px;
	min-height: 18px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 309px;
}

#u6271-4
{
	z-index: 167;
	width: 240px;
	min-height: 18px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 621px;
}

#u5498
{
	z-index: 161;
	width: 240px;
	height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-left: 35px;
	margin-top: 28px;
	position: relative;
	background: #FFFFFF url("../images/circus%20(master-1)-u5498-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u5498:hover
{
	width: 240px;
	height: 179px;
	min-height: 0px;
	margin: 28px 0px 0px 35px;
	background: #000000 url("../images/play-mini.png") no-repeat center center;
	background-size: 50px 50px;
}

#u5499-4
{
	z-index: 162;
	width: 240px;
	min-height: 22px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-left: 35px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u1301-7
{
	z-index: 83;
	width: 898px;
	min-height: 70px;
	background-color: transparent;
	text-align: left;
	margin-left: 22px;
	margin-top: 61px;
	position: relative;
}

#u1299-2,#u1301-2,#u1301-3
{
	font-size: 28px;
	line-height: 34px;
	color: #0093C4;
	font-family: buenard, serif;
	font-weight: 700;
}

#u1301-5
{
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	font-family: bitter, serif;
	font-weight: 400;
}

#pu1308
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 29px;
}

#u1308
{
	z-index: 92;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #7F7F7F url("../images/mycyberuniverse.jpg") no-repeat center top;
	background-size: cover;
}

#u1308:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5272-4
{
	z-index: 116;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u5272-4:hover
{
	text-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 156px;
	width: 245px;
	margin: -3px -10000px -2px 0px;
}

#u5272-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	vertical-align: 0px;
	text-transform: none;
	text-decoration: none;
	font-style: normal;
}

#u1309
{
	z-index: 93;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 310px;
	background: #7F7F7F url("../images/oneberserkblogspotcom(full).jpg") no-repeat center top;
	background-size: cover;
}

#u1309:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5275-4
{
	z-index: 120;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	left: -3px;
}

#u1560
{
	z-index: 102;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 621px;
	background: #7F7F7F url("../images/arthurgareginyan.jpg") no-repeat center top;
	background-size: cover;
}

#u1560:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5278-4
{
	z-index: 124;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	left: -3px;
}

#u1310
{
	z-index: 94;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #7F7F7F url("../images/bmwz3brutality.jpg") no-repeat center top;
	background-size: cover;
}

#u1310:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5281-4
{
	z-index: 128;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	left: -3px;
}

#u1311
{
	z-index: 95;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 310px;
	background: #7F7F7F url("../images/anarcho-hosting.jpg") no-repeat center top;
	background-size: cover;
}

#u1311:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5296-4
{
	z-index: 148;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -3px;
}

#u1539
{
	z-index: 99;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 621px;
	background: #7F7F7F url("../images/milenakiselevablogspotcom.jpg") no-repeat center top;
	background-size: cover;
}

#u1539:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5284-4
{
	z-index: 132;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -3px;
}

#u1313
{
	z-index: 97;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #7F7F7F url("../images/karolinaraytk%20(home).jpg") no-repeat center top;
	background-size: cover;
}

#u1313:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5287-4
{
	z-index: 136;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -3px;
}

#u1312
{
	z-index: 96;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 310px;
	background: #7F7F7F url("../images/studio-kr.jpg") no-repeat center top;
	background-size: cover;
}

#u1312:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5290-4
{
	z-index: 140;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -3px;
}

#u1541
{
	z-index: 101;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 621px;
	background: #7F7F7F url("../images/circuscostume.jpg") no-repeat center top;
	background-size: cover;
}

#u1541:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5293-4
{
	z-index: 144;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	left: -3px;
}

#pu1310,#pu1313,#pu1540
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 19px;
}

#u1540
{
	z-index: 100;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #7F7F7F url("../images/vipmegastar.jpg") no-repeat left top;
	background-size: cover;
}

#u1540:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5299-4
{
	z-index: 152;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	left: -3px;
}

#u5275-4:hover,#u5278-4:hover,#u5281-4:hover,#u5293-4:hover,#u5299-4:hover
{
	text-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 156px;
	width: 245px;
	margin: 0px -10000px -5px 0px;
}

#u5440
{
	z-index: 156;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 309px;
	background: #7F7F7F url("../images/milenakiselevagithubio.jpg") no-repeat center top;
	background-size: cover;
}

#u5440:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5441-4
{
	z-index: 157;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -3px;
}

#u5296-4:hover,#u5284-4:hover,#u5441-4:hover
{
	text-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 156px;
	width: 245px;
	margin: -1px -10000px -4px 0px;
}

#u9473
{
	z-index: 171;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 621px;
	background: #7F7F7F url("../images/1600-1200.jpg") no-repeat center top;
	background-size: cover;
}

#u9473:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u9474-4
{
	z-index: 172;
	width: 245px;
	min-height: 157px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -3px;
}

#u9474-4:hover
{
	text-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 157px;
	width: 245px;
	margin: -2px -10000px -4px 0px;
}

#u9640
{
	z-index: 176;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-left: 35px;
	margin-top: 21px;
	position: relative;
	background: #7F7F7F url("../images/circuscostumetk-2.jpg") no-repeat center top;
	background-size: cover;
}

#u9640:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: 21px 0px 0px 35px;
	background-size: cover;
}

#u1302:hover::before,#u1304:hover::before,#u6270:hover::before,#u5498:hover::before,#u1308:hover::before,#u1309:hover::before,#u1560:hover::before,#u1310:hover::before,#u1311:hover::before,#u1539:hover::before,#u1313:hover::before,#u1312:hover::before,#u1541:hover::before,#u1540:hover::before,#u5440:hover::before,#u9473:hover::before,#u9640:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -5px;
	left: -5px;
	bottom: -5px;
	right: -5px;
	box-shadow: inset -10px 58px 99px rgba(255,255,255,0.75), inset 10px -58px 99px rgba(0,0,0,0.75);
}

#u9641-4
{
	z-index: 177;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -3px;
}

#u5287-4:hover,#u5290-4:hover,#u9641-4:hover
{
	text-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 156px;
	width: 245px;
	margin: -2px -10000px -3px 0px;
}

#u5275-4:hover p,#u5278-4:hover p,#u5281-4:hover p,#u5296-4:hover p,#u5284-4:hover p,#u5287-4:hover p,#u5290-4:hover p,#u5293-4:hover p,#u5299-4:hover p,#u5441-4:hover p,#u9474-4:hover p,#u9641-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5272-2,#u5275-2,#u5278-2,#u5281-2,#u5296-2,#u5284-2,#u5287-2,#u5290-2,#u5293-2,#u5299-2,#u5441-2,#u9474-2,#u9641-2
{
	padding-top: 70px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#pu1125
{
	width: 0.01px;
	margin-left: -47px;
}

#u1125
{
	z-index: 57;
	width: 943px;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u1126
{
	z-index: 58;
	width: 942px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

#u1126:hover
{
	width: 942px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1842
{
	z-index: 59;
	width: 995px;
	min-height: 102px;
	margin-bottom: -33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: -16px;
}

#u2571
{
	z-index: 65;
	width: 210px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 832px;
}

#u10715
{
	z-index: 67;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#u17332
{
	z-index: 73;
	width: 137px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 920px;
}

#u109
{
	z-index: 60;
	min-height: 65px;
}

#u109:active
{
	min-height: 65px;
	margin: 0px;
}

#u109_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
}

#u199-4
{
	z-index: 61;
	width: 941px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 100px;
}

#u199-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 941px;
	margin: 37px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u109-bw
{
	z-index: 60;
	min-height: 65px;
}

.html
{
	background: #000000 url("../images/black_denim.jpg") repeat center top scroll;
}

body
{
	position: relative;
	min-width: 942px;
}

