.version.portfolio /* version checker */
{
	color: #0000F4;
	background-color: #4FF80E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 682.980799594453px;
	border-width: 0px;
	border-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/leather.jpg") repeat left top;
}

#page_position_content,#pu1070
{
	width: 0.01px;/* should not cover content below */
}

#u1070
{
	z-index: 2;
	width: 942px;
	position: relative;
	margin-right: -10000px;
}

#u1070_position_content
{
	margin-bottom: -3px;
	padding-top: 14px;
	width: 100%;
}

#u1074-4
{
	z-index: 3;
	width: 298px;
	min-height: 41px;
	margin-left: 11px;
	position: relative;
}

#u1075
{
	z-index: 7;
	width: 942px;
	position: relative;
}

#u1075:hover
{
	width: 942px;
	min-height: 0px;
	margin: 0px;
}

#menuu1082
{
	z-index: 8;
	width: 942px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
}

#u1111
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
}

#u1114
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1114:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1114:active
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1115-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1114:hover #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1114:active #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1104
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

#u1105
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1114.MuseMenuActive,#u1105:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1106-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1114.MuseMenuActive #u1115-4,#u1105:hover #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1105:active #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1083
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u1086
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1105.MuseMenuActive,#u1086:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1087-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1105.MuseMenuActive #u1106-4,#u1086:hover #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1086:active #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1090
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 354px;
}

#u1093
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1086.MuseMenuActive,#u1093:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1095-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1086.MuseMenuActive #u1087-4,#u1093:hover #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1093:active #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u9329
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 472px;
}

#u9330
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1093.MuseMenuActive,#u9330:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u9332-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1093.MuseMenuActive #u1095-4,#u9330:hover #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u9330:active #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u11296
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 590px;
}

#u11297
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u9330.MuseMenuActive,#u11297:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u11298-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u9330.MuseMenuActive #u9332-4,#u11297:hover #u11298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u11297:active #u11298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1194
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u1195
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u11297.MuseMenuActive,#u1195:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1196-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u11297.MuseMenuActive #u11298-4,#u1195:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1195:active #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1097
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 826px;
}

#u1100
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1195.MuseMenuActive,#u1100:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1100.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1101-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1195.MuseMenuActive #u1196-4,#u1100:hover #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1100:active #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1100.MuseMenuActive #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u10761
{
	z-index: 69;
	width: 92px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 950px;
}

#pu1760-5
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 11px;
}

#u1760-5
{
	z-index: 101;
	width: 898px;
	min-height: 69px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#u1760-2
{
	color: #000000;
}

#u17325
{
	z-index: 71;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	left: 920px;
}

#pu1299-8
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 3px;
}

#u1299-8
{
	z-index: 75;
	width: 898px;
	min-height: 77px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u1299-3
{
	font-size: 28px;
	line-height: 34px;
	color: #000000;
	font-family: buenard, serif;
	font-weight: 700;
}

#u1299-5
{
	font-size: 20px;
	color: #000000;
	font-family: bitter, serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1299-6
{
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	font-family: bitter, serif;
	font-weight: 400;
}

#u1424
{
	z-index: 96;
	width: 54px;
	min-height: 54px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 944px;
}

#pu22342-7
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 5px;
}

#u22342-7
{
	z-index: 362;
	width: 240px;
	min-height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/anarcho-notepad-preview-cropped.jpg") no-repeat center top;
	background-size: contain;
}

#u22342-7:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background: #000000 url("../images/u22342-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#424242),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#424242 ,#000000 100%);
	background: linear-gradient(to bottom,#424242 ,#000000 100%);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 179px;
	width: 240px;
	margin: -2px -10000px -3px 0px;
}

#u22354-7
{
	z-index: 373;
	width: 240px;
	min-height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 310px;
	background: #FFFFFF url("../images/authors-notepad-preview-croped.jpg") no-repeat center top;
	background-size: contain;
}

#u22354-7:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background: #000000 url("../images/u22342-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#424242),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#424242 ,#000000 100%);
	background: linear-gradient(to bottom,#424242 ,#000000 100%);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 179px;
	width: 240px;
	margin: -2px -10000px -3px 0px;
}

#u22360-7
{
	z-index: 384;
	width: 240px;
	min-height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 621px;
	background: #FFFFFF url("../images/simple-notepad-preview-cropped.jpg") no-repeat center top;
	background-size: contain;
}

#u22360-7:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background: #000000 url("../images/u22342-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#424242),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#424242 ,#000000 100%);
	background: linear-gradient(to bottom,#424242 ,#000000 100%);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 179px;
	width: 240px;
	margin: -2px -10000px -3px 0px;
}

#u9685
{
	z-index: 66;
	width: 59px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 926px;
}

#pu22345-4
{
	width: 0.01px;
	margin-left: 37px;
}

#u22345-4
{
	z-index: 369;
	width: 240px;
	min-height: 18px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u22355-4
{
	z-index: 380;
	width: 240px;
	min-height: 18px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 310px;
}

#u22361-4
{
	z-index: 391;
	width: 240px;
	min-height: 18px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 621px;
}

#u22372-7
{
	z-index: 395;
	width: 240px;
	min-height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-left: 35px;
	margin-top: 27px;
	position: relative;
	background: #FFFFFF url("../images/circus%20(master-1).jpg") no-repeat center top;
	background-size: cover;
}

#u22372-7:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background: #000000 url("../images/u22342-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#424242),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#424242 ,#000000 100%);
	background: linear-gradient(to bottom,#424242 ,#000000 100%);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 179px;
	width: 240px;
	margin: 27px 0px 0px 35px;
}

#u22342-7:hover::before,#u22354-7:hover::before,#u22360-7:hover::before,#u22372-7:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -5px;
	left: -5px;
	bottom: -5px;
	right: -5px;
	box-shadow: none;
}

#u22342-7:hover p,#u22354-7:hover p,#u22360-7:hover p,#u22372-7:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 0px;
	font-weight: normal;
}

#u22373-4
{
	z-index: 402;
	width: 240px;
	min-height: 18px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-left: 35px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u1301-7
{
	z-index: 83;
	width: 898px;
	min-height: 70px;
	background-color: transparent;
	text-align: left;
	margin-left: 22px;
	margin-top: 62px;
	position: relative;
}

#u1299-2,#u1301-2,#u1301-3
{
	font-size: 28px;
	line-height: 34px;
	color: #0093C4;
	font-family: buenard, serif;
	font-weight: 700;
}

#u1301-5
{
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	font-family: bitter, serif;
	font-weight: 400;
}

#pu1308
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 29px;
}

#u1308
{
	z-index: 90;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #7F7F7F url("../images/mycyberuniverse-4-1.jpg") no-repeat center top;
	background-size: cover;
}

#u1308:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5272-7
{
	z-index: 106;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u5272-7:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 0px;
	vertical-align: 0px;
	text-transform: none;
	text-decoration: none;
	font-style: normal;
}

#u1309
{
	z-index: 91;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 310px;
	background: #7F7F7F url("../images/oneberserkblogspotcom(full).jpg") no-repeat center top;
	background-size: cover;
}

#u1309:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5275-6
{
	z-index: 113;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u1560
{
	z-index: 100;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 621px;
	background: #7F7F7F url("../images/arthurgareginyan.jpg") no-repeat center top;
	background-size: cover;
}

#u1560:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5278-7
{
	z-index: 119;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u1310
{
	z-index: 92;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #7F7F7F url("../images/bmwz3brutality.jpg") no-repeat center top;
	background-size: cover;
}

#u1310:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5281-7
{
	z-index: 126;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u1311
{
	z-index: 93;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 310px;
	background: #7F7F7F url("../images/anarcho-hosting.jpg") no-repeat center top;
	background-size: cover;
}

#u1311:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5296-7
{
	z-index: 162;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u1539
{
	z-index: 97;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 621px;
	background: #7F7F7F url("../images/milenakiselevablogspotcom.jpg") no-repeat center top;
	background-size: cover;
}

#u1539:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5284-8
{
	z-index: 133;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u1313
{
	z-index: 95;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #7F7F7F url("../images/karolinaraytk%20(home).jpg") no-repeat center top;
	background-size: cover;
}

#u1313:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5287-7
{
	z-index: 141;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u1312
{
	z-index: 94;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 310px;
	background: #7F7F7F url("../images/studio-kr.jpg") no-repeat center top;
	background-size: cover;
}

#u1312:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5290-7
{
	z-index: 148;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u1541
{
	z-index: 99;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 621px;
	background: #7F7F7F url("../images/circuscostume.jpg") no-repeat center top;
	background-size: cover;
}

#u1541:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5293-7
{
	z-index: 155;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#pu1310,#pu1313,#pu1540
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 19px;
}

#u1540
{
	z-index: 98;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #7F7F7F url("../images/vipmegastar.jpg") no-repeat left top;
	background-size: cover;
}

#u1540:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5299-7
{
	z-index: 169;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -3px;
}

#u5440
{
	z-index: 176;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 309px;
	background: #7F7F7F url("../images/milenakiselevagithubio.jpg") no-repeat center top;
	background-size: cover;
}

#u5440:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u5441-8
{
	z-index: 177;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u9473
{
	z-index: 185;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 621px;
	background: #7F7F7F url("../images/1600-1200.jpg") no-repeat center top;
	background-size: cover;
}

#u9473:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: cover;
}

#u9474-7
{
	z-index: 186;
	width: 245px;
	min-height: 157px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u9474-7:hover
{
	text-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 157px;
	width: 245px;
	margin: -3px -10000px -3px 0px;
}

#pu9640
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 22px;
}

#u9640
{
	z-index: 193;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -2px;
	background: #7F7F7F url("../images/circuscostumetk-2.jpg") no-repeat center top;
	background-size: cover;
}

#u9640:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -1px -10000px -3px 0px;
	background-size: cover;
}

#u9641-7
{
	z-index: 194;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -3px;
}

#u5299-7:hover,#u9641-7:hover
{
	text-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 156px;
	width: 245px;
	margin: -4px -10000px -1px 0px;
}

#u18075
{
	z-index: 201;
	width: 240px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 310px;
	background: #7F7F7F url("../images/prison-diariescom-preview.jpg") no-repeat center top;
	background-size: cover;
}

#u18075:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 240px;
	min-height: 0px;
	margin: -2px -10000px -2px 0px;
	background-size: cover;
}

#u18089-7
{
	z-index: 202;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u5272-7:hover,#u5275-6:hover,#u5278-7:hover,#u5281-7:hover,#u5296-7:hover,#u5284-8:hover,#u5287-7:hover,#u5290-7:hover,#u5293-7:hover,#u5441-8:hover,#u18089-7:hover
{
	text-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 156px;
	width: 245px;
	margin: -3px -10000px -2px 0px;
}

#u5275-6:hover p,#u5278-7:hover p,#u5281-7:hover p,#u5296-7:hover p,#u5284-8:hover p,#u5287-7:hover p,#u5290-7:hover p,#u5293-7:hover p,#u5299-7:hover p,#u5441-8:hover p,#u9474-7:hover p,#u9641-7:hover p,#u18089-7:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 0px;
}

#u22145-6
{
	z-index: 209;
	width: 898px;
	min-height: 32px;
	background-color: transparent;
	color: #0093C4;
	text-align: left;
	font-size: 28px;
	line-height: 34px;
	font-family: buenard, serif;
	font-weight: 700;
	margin-left: 22px;
	margin-top: 95px;
	position: relative;
}

#u22146-8
{
	z-index: 215;
	width: 898px;
	min-height: 113px;
	background-color: transparent;
	letter-spacing: 0px;
	color: #000000;
	text-align: left;
	font-size: 20px;
	line-height: 24px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 22px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu22150
{
	width: 0.01px;
	margin-left: 41px;
}

#u22150
{
	z-index: 226;
	width: 197px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/icon-512x512.png") no-repeat center top;
	background-size: contain;
}

#u22150:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 197px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22149
{
	z-index: 225;
	width: 198px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 217px;
	background: #FFFFFF url("../images/icon-512x5122.png") no-repeat center top;
	background-size: contain;
}

#u22149:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 198px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22148
{
	z-index: 224;
	width: 198px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 436px;
	background: #FFFFFF url("../images/icon-512x5123.png") no-repeat center top;
	background-size: contain;
}

#u22148:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 198px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22147
{
	z-index: 223;
	width: 198px;
	height: 148px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 655px;
	background: #FFFFFF url("../images/icon-512x5124.png") no-repeat center top;
	background-size: contain;
}

#u22147:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 198px;
	height: 148px;
	min-height: 0px;
	margin: 1px -10000px -3px 0px;
	background-size: contain;
}

#u22160-4
{
	z-index: 245;
	width: 197px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u22158-4
{
	z-index: 237;
	width: 198px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 217px;
}

#u22159-4
{
	z-index: 241;
	width: 198px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 436px;
}

#u22157-4
{
	z-index: 233;
	width: 198px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 655px;
}

#u22151
{
	z-index: 227;
	width: 197px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/icon-512x5125.png") no-repeat center top;
	background-size: contain;
}

#u22151:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 197px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22152
{
	z-index: 228;
	width: 198px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 217px;
	background: #FFFFFF url("../images/icon-512x5126.png") no-repeat center top;
	background-size: contain;
}

#u22152:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 198px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22153
{
	z-index: 229;
	width: 198px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 436px;
	background: #FFFFFF url("../images/icon-512x5127.png") no-repeat center top;
	background-size: contain;
}

#u22153:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 198px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22154
{
	z-index: 230;
	width: 198px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 655px;
	background: #FFFFFF url("../images/icon-512x5128.png") no-repeat center top;
	background-size: contain;
}

#u22154:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 198px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22161-6
{
	z-index: 249;
	width: 197px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u22162-6
{
	z-index: 255;
	width: 198px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 217px;
}

#u22163-4
{
	z-index: 261;
	width: 198px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 436px;
}

#u22164-4
{
	z-index: 265;
	width: 198px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 655px;
}

#pu22151,#pu22155
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 19px;
}

#u22155
{
	z-index: 231;
	width: 197px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/icon-512x5129.png") no-repeat center top;
	background-size: contain;
}

#u22155:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 197px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22156
{
	z-index: 232;
	width: 197px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 217px;
	background: #FFFFFF url("../images/icon-512x51210.png") no-repeat center top;
	background-size: contain;
}

#u22156:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 197px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22167
{
	z-index: 279;
	width: 197px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 437px;
	background: #FFFFFF url("../images/icon-512x51211.png") no-repeat center top;
	background-size: contain;
}

#u22167:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 197px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22169
{
	z-index: 284;
	width: 197px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 655px;
	background: #FFFFFF url("../images/icon-512x51212.png") no-repeat center top;
	background-size: contain;
}

#u22169:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 197px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#pu22160-4,#pu22161-6,#pu22165-6
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 4px;
}

#u22165-6
{
	z-index: 269;
	width: 197px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u22166-4
{
	z-index: 275;
	width: 197px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 217px;
}

#u22168-4
{
	z-index: 280;
	width: 197px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 437px;
}

#u22170-4
{
	z-index: 285;
	width: 197px;
	min-height: 37px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 655px;
}

#u22223-6
{
	z-index: 289;
	width: 898px;
	min-height: 30px;
	background-color: transparent;
	color: #0093C4;
	text-align: left;
	font-size: 28px;
	line-height: 34px;
	font-family: buenard, serif;
	font-weight: 700;
	margin-left: 22px;
	margin-top: 66px;
	position: relative;
}

#ppu22225-9
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 59px;
}

#pu22225-9
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 307px;
}

#u22225-9
{
	z-index: 304;
	width: 235px;
	min-height: 264px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u22227
{
	z-index: 314;
	width: 245px;
	height: 156px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/icon-512x51213.png") no-repeat center top;
	background-size: contain;
}

#u22229-4
{
	z-index: 319;
	width: 229px;
	min-height: 39px;
	background: transparent url("../images/u22229-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(61,145,255,0.5)),color-stop(54%, #3D91FF));
	background: -webkit-linear-gradient(top,rgba(61,145,255,0.5) ,#3D91FF 54%);
	background: linear-gradient(to bottom,rgba(61,145,255,0.5) ,#3D91FF 54%);
	border-style: solid;
	border-width: 1px;
	border-color: #777777;
	border-radius: 4px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 222px;
	left: 4px;
}

#u22229-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 229px;
	margin: 222px -10000px 0px 0px;
}

#u22224-9
{
	z-index: 295;
	width: 235px;
	min-height: 264px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u22226
{
	z-index: 313;
	width: 245px;
	height: 156px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/icon-512x51214.png") no-repeat center top;
	background-size: contain;
}

#u22227:hover,#u22226:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 245px;
	height: 156px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

#u22228-4
{
	z-index: 315;
	width: 229px;
	min-height: 39px;
	background: transparent url("../images/u22229-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(61,145,255,0.5)),color-stop(54%, #3D91FF));
	background: -webkit-linear-gradient(top,rgba(61,145,255,0.5) ,#3D91FF 54%);
	background: linear-gradient(to bottom,rgba(61,145,255,0.5) ,#3D91FF 54%);
	border-style: solid;
	border-width: 1px;
	border-color: #777777;
	border-radius: 4px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 222px;
	left: 7px;
}

#u22228-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 229px;
	margin: 222px -10000px 0px 0px;
}

#u22229-4:hover::before,#u22228-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5), inset 0px 0px 3px rgba(0,0,0,0.5);
}

#u22266-6
{
	z-index: 323;
	width: 898px;
	min-height: 32px;
	background-color: transparent;
	color: #0093C4;
	text-align: left;
	font-size: 28px;
	line-height: 34px;
	font-family: buenard, serif;
	font-weight: 700;
	margin-left: 22px;
	margin-top: 82px;
	position: relative;
}

#u22145-2,#u22223-2,#u22266-2
{
	color: #FF4C4C;
}

#u22269-8
{
	z-index: 334;
	width: 898px;
	min-height: 96px;
	background-color: transparent;
	letter-spacing: 0px;
	color: #000000;
	text-align: left;
	font-size: 20px;
	line-height: 24px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 22px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u22146-5,#u22269-5
{
	padding-top: 20px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u22146-2,#u22269-2
{
	font-size: 16px;
	color: #000000;
	line-height: 19px;
}

#u1299-4,#u22146,#u22146-4,#u22269,#u22269-4
{
	font-size: 16px;
	line-height: 19px;
}

#pu22267
{
	width: 0.01px;
	margin-left: 32px;
}

#u22267
{
	z-index: 329;
	width: 268px;
	height: 183px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/meetvibe.jpg") no-repeat center top;
	background-size: contain;
}

#u22267:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 268px;
	height: 183px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22270
{
	z-index: 342;
	width: 268px;
	height: 183px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 301px;
	background: #FFFFFF url("../images/square-logo-buttons.jpg") no-repeat center top;
	background-size: contain;
}

#u22270:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 268px;
	height: 183px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22272
{
	z-index: 347;
	width: 268px;
	height: 183px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 604px;
	background: #FFFFFF url("../images/instagram-new.jpg") no-repeat center top;
	background-size: contain;
}

#u22272:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 268px;
	height: 183px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22268-4
{
	z-index: 330;
	width: 268px;
	min-height: 40px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u22271-4
{
	z-index: 343;
	width: 268px;
	min-height: 40px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 301px;
}

#u22273-4
{
	z-index: 348;
	width: 268px;
	min-height: 40px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 604px;
}

#pu22274
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 28px;
}

#u22274
{
	z-index: 352;
	width: 268px;
	height: 183px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/instagram-classic.jpg") no-repeat center top;
	background-size: contain;
}

#u22274:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 268px;
	height: 183px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u22276
{
	z-index: 357;
	width: 268px;
	height: 183px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 301px;
	background: #FFFFFF url("../images/goodreads.jpg") no-repeat center top;
	background-size: contain;
}

#u22276:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 268px;
	height: 183px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u1308:hover::before,#u1309:hover::before,#u1560:hover::before,#u1310:hover::before,#u1311:hover::before,#u1539:hover::before,#u1313:hover::before,#u1312:hover::before,#u1541:hover::before,#u1540:hover::before,#u5440:hover::before,#u9473:hover::before,#u9640:hover::before,#u18075:hover::before,#u22150:hover::before,#u22149:hover::before,#u22148:hover::before,#u22147:hover::before,#u22151:hover::before,#u22152:hover::before,#u22153:hover::before,#u22154:hover::before,#u22155:hover::before,#u22156:hover::before,#u22167:hover::before,#u22169:hover::before,#u22267:hover::before,#u22270:hover::before,#u22272:hover::before,#u22274:hover::before,#u22276:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -5px;
	left: -5px;
	bottom: -5px;
	right: -5px;
	box-shadow: inset -10px 58px 99px rgba(255,255,255,0.75), inset 10px -58px 99px rgba(0,0,0,0.75);
}

#pu22268-4,#pu22275-4
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 4px;
}

#u22275-4
{
	z-index: 353;
	width: 268px;
	min-height: 40px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u22277-4
{
	z-index: 358;
	width: 268px;
	min-height: 40px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 301px;
}

#u22158-2,#u22159-2,#u22157-2,#u22163-2,#u22166-2,#u22168-2,#u22225,#u22225-2,#u22225-3,#u22225-4,#u22225-5,#u22225-7,#u22229-2,#u22224,#u22224-2,#u22224-3,#u22224-4,#u22224-5,#u22224-7,#u22228-2,#u22268-2,#u22271-2,#u22273-2,#u22275-2,#u22277-2
{
	padding-top: 10px;
}

#pu1125
{
	width: 0.01px;
	margin-top: 3px;
}

#u1125
{
	z-index: 57;
	width: 943px;
	position: relative;
	margin-right: -10000px;
}

#u1126
{
	z-index: 58;
	width: 942px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

#u1126:hover
{
	width: 942px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1842
{
	z-index: 59;
	width: 995px;
	min-height: 102px;
	margin-bottom: -33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: -16px;
}

#u2571
{
	z-index: 65;
	width: 210px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 832px;
}

#u10715
{
	z-index: 67;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: -32px;
}

#u17332
{
	z-index: 73;
	width: 137px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 873px;
}

#u109
{
	z-index: 60;
	min-height: 65px;
}

#u109:active
{
	min-height: 65px;
	margin: 0px;
}

#u109_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
}

#u199-4
{
	z-index: 61;
	width: 941px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 100px;
}

#u199-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 941px;
	margin: 37px -10000px 0px 0px;
}

#u22342,#u22342-2,#u22342-3,#u22342-5,#u22354,#u22354-2,#u22354-3,#u22354-5,#u22360,#u22360-2,#u22360-3,#u22360-5,#u22372,#u22372-2,#u22372-3,#u22372-5,#u5272,#u5272-2,#u5272-3,#u5272-5,#u5275,#u5275-2,#u5275-4,#u5278,#u5278-2,#u5278-3,#u5278-5,#u5281,#u5281-2,#u5281-3,#u5281-5,#u5296,#u5296-2,#u5296-3,#u5296-5,#u5284,#u5284-2,#u5284-4,#u5284-6,#u5287,#u5287-2,#u5287-3,#u5287-5,#u5290,#u5290-2,#u5290-3,#u5290-5,#u5293,#u5293-2,#u5293-3,#u5293-5,#u5299,#u5299-2,#u5299-3,#u5299-5,#u5441,#u5441-2,#u5441-4,#u5441-6,#u9474,#u9474-2,#u9474-3,#u9474-5,#u9641,#u9641-2,#u9641-3,#u9641-5,#u18089,#u18089-2,#u18089-3,#u18089-5,.js body
{
	visibility: hidden;/* 100% transparent text is hidden */
}

.js body.initialized
{
	visibility: visible;
}

#u109-bw
{
	z-index: 60;
	min-height: 65px;
}

.html
{
	background: #000000 url("../images/black_denim.jpg") repeat center top scroll;
}

body
{
	position: relative;
	min-width: 942px;
}

