.version.resume /* version checker */
{
	color: #000005;
	background-color: #33C21F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 682.8999999999996px;
	border-width: 0px;
	border-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/leather.jpg") repeat left top;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#u1070
{
	z-index: 8;
	width: 944px;
	position: relative;
}

#u1070_position_content
{
	margin-bottom: -3px;
	padding-top: 14px;
	width: 100%;
}

#u1074-4
{
	z-index: 9;
	width: 298px;
	min-height: 41px;
	margin-left: 11px;
	position: relative;
}

#u1075
{
	z-index: 13;
	width: 943px;
	position: relative;
}

#u1075:hover
{
	width: 943px;
	min-height: 0px;
	margin: 0px;
}

#menuu1082
{
	z-index: 14;
	width: 940px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u1111
{
	width: 132px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
}

#u1114
{
	width: 132px;
	padding-bottom: 28px;
	position: relative;
}

#u1114:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u1114:active
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u1115-4
{
	width: 132px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1114:hover #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u1114:active #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u1104
{
	width: 132px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 134px;
}

#u1105
{
	width: 132px;
	padding-bottom: 28px;
	position: relative;
}

#u1106-4
{
	width: 132px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1114.MuseMenuActive #u1115-4,#u1105:hover #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u1105:active #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u1083
{
	width: 132px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 268px;
}

#u1086
{
	width: 132px;
	padding-bottom: 28px;
	position: relative;
}

#u1114.MuseMenuActive,#u1105.MuseMenuActive,#u1086.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u1087-4
{
	width: 132px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1105.MuseMenuActive #u1106-4,#u1086:hover #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u1086:active #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u1086.MuseMenuActive #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u1090
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 402px;
}

#u1093
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u1095-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1093:hover #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1093:active #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u9329
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 537px;
}

#u9330
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u9332-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1093.MuseMenuActive #u1095-4,#u9330:hover #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u9330:active #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1194
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 672px;
}

#u1195
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u1196-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u9330.MuseMenuActive #u9332-4,#u1195:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1195:active #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1097
{
	width: 133px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 807px;
}

#u1100
{
	width: 133px;
	padding-bottom: 28px;
	position: relative;
}

#u1093.MuseMenuActive,#u9330.MuseMenuActive,#u1195.MuseMenuActive,#u1100.MuseMenuActive
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u1101-4
{
	width: 133px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1195.MuseMenuActive #u1196-4,#u1100:hover #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1100:active #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1100.MuseMenuActive #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#pu425
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 16px;
}

#u425
{
	z-index: 2;
	width: 19px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	left: 921px;
}

#u426-5
{
	z-index: 3;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 59px;
	left: -56px;
}

#u2571
{
	z-index: 65;
	width: 210px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 810px;
}

#u1253-244
{
	z-index: 66;
	width: 898px;
	background-color: transparent;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u1253-2
{
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	color: #000000;
}

#u1253-4,#u1253-6
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	color: #000000;
}

#u1253-10
{
	font-size: 20px;
	text-align: left;
	color: #0093C4;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1253-7,#u1253-11
{
	font-size: 20px;
	text-align: left;
	line-height: 24px;
	color: #0093C4;
}

#u1253-15,#u1253-16
{
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	padding-left: 60px;
	color: #000000;
}

#u1253-18
{
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	color: #CCCCCC;
}

#u1253-19
{
	font-size: 20px;
	text-align: left;
	line-height: 24px;
	color: #CCCCCC;
}

#u1253-28
{
	font-size: 16px;
	line-height: 19px;
	padding-left: 145px;
	padding-bottom: 5px;
	color: #544842;
}

#u1253-29
{
	font-size: 16px;
	line-height: 19px;
	padding-left: 60px;
	color: #544842;
}

#u1253-48
{
	padding-left: 34px;
}

#u1253-48.rtl-list
{
	padding-left: 0px;
	padding-right: 34px;
}

#u1253-48 > li:before
{
	margin-right: 6px;
}

#u1253-48.rtl-list > li:before
{
	margin-right: 0px;
	margin-left: 6px;
}

#u1253-49,#u1253-50
{
	font-size: 16px;
	line-height: 19px;
	color: #534741;
}

#u1253-24,#u1253-30,#u1253-33,#u1253-35,#u1253-53,#u1253-55
{
	font-size: 16px;
	line-height: 19px;
	padding-left: 60px;
	color: #534741;
}

#u1253-26,#u1253-37,#u1253-57
{
	font-size: 16px;
	line-height: 19px;
	padding-left: 60px;
	padding-bottom: 5px;
	color: #534741;
}

#u1253-39,#u1253-41,#u1253-43,#u1253-45,#u1253-47,#u1253-59,#u1253-61,#u1253-63,#u1253-65
{
	padding-left: 145px;
	padding-bottom: 2px;
	color: #534741;
}

#u1253-48 > #u1253-39:before,#u1253-48 > #u1253-41:before,#u1253-48 > #u1253-43:before,#u1253-48 > #u1253-45:before,#u1253-48 > #u1253-47:before,#u1253-66 > #u1253-59:before,#u1253-66 > #u1253-61:before,#u1253-66 > #u1253-63:before,#u1253-66 > #u1253-65:before
{
	font-family: bitter, Georgia;
	font-weight: 400;
	margin-right: -139px;
}

#u1253-48.rtl-list > #u1253-39:before,#u1253-48.rtl-list > #u1253-41:before,#u1253-48.rtl-list > #u1253-43:before,#u1253-48.rtl-list > #u1253-45:before,#u1253-48.rtl-list > #u1253-47:before,#u1253-66.rtl-list > #u1253-59:before,#u1253-66.rtl-list > #u1253-61:before,#u1253-66.rtl-list > #u1253-63:before,#u1253-66.rtl-list > #u1253-65:before
{
	margin-right: 0px;
	margin-left: -139px;
}

#u1253-9,#u1253-67,#u1253-69,#u1253-70
{
	font-size: 16px;
	color: #CCCCCC;
	line-height: 19px;
}

#u1253-73
{
	font-weight: 700;
}

#u1253-75,#u1253-77
{
	font-size: 16px;
	line-height: 19px;
	padding-left: 60px;
}

#u1253-88,#u1253-90
{
	font-size: 16px;
	line-height: 19px;
	padding-left: 30px;
	color: #000000;
}

#u1253-80,#u1253-93
{
	color: #7F7F7F;
}

#u1253-85,#u1253-98
{
	font-size: 25px;
	line-height: 30px;
	padding-bottom: 3px;
	color: #0093C4;
}

#u1253-101,#u1253-104,#u1253-106,#u1253-108,#u1253-111,#u1253-113,#u1253-115,#u1253-118,#u1253-121,#u1253-123,#u1253-125,#u1253-128,#u1253-131,#u1253-133,#u1253-135,#u1253-137,#u1253-139
{
	font-size: 16px;
	line-height: 19px;
	padding-left: 30px;
	padding-bottom: 1px;
}

#u1253-91 > #u1253-88:before,#u1253-91 > #u1253-90:before,#u1253-140 > #u1253-101:before,#u1253-140 > #u1253-104:before,#u1253-140 > #u1253-106:before,#u1253-140 > #u1253-108:before,#u1253-140 > #u1253-111:before,#u1253-140 > #u1253-113:before,#u1253-140 > #u1253-115:before,#u1253-140 > #u1253-118:before,#u1253-140 > #u1253-121:before,#u1253-140 > #u1253-123:before,#u1253-140 > #u1253-125:before,#u1253-140 > #u1253-128:before,#u1253-140 > #u1253-131:before,#u1253-140 > #u1253-133:before,#u1253-140 > #u1253-135:before,#u1253-140 > #u1253-137:before,#u1253-140 > #u1253-139:before
{
	font-family: bitter, Georgia;
	font-weight: 400;
	margin-right: -24px;
}

#u1253-91.rtl-list > #u1253-88:before,#u1253-91.rtl-list > #u1253-90:before,#u1253-140.rtl-list > #u1253-101:before,#u1253-140.rtl-list > #u1253-104:before,#u1253-140.rtl-list > #u1253-106:before,#u1253-140.rtl-list > #u1253-108:before,#u1253-140.rtl-list > #u1253-111:before,#u1253-140.rtl-list > #u1253-113:before,#u1253-140.rtl-list > #u1253-115:before,#u1253-140.rtl-list > #u1253-118:before,#u1253-140.rtl-list > #u1253-121:before,#u1253-140.rtl-list > #u1253-123:before,#u1253-140.rtl-list > #u1253-125:before,#u1253-140.rtl-list > #u1253-128:before,#u1253-140.rtl-list > #u1253-131:before,#u1253-140.rtl-list > #u1253-133:before,#u1253-140.rtl-list > #u1253-135:before,#u1253-140.rtl-list > #u1253-137:before,#u1253-140.rtl-list > #u1253-139:before
{
	margin-right: 0px;
	margin-left: -24px;
}

#u1253-141
{
	font-size: 16px;
	line-height: 19px;
	color: #544842;
}

#u1253-143
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
}

#u1253-8,#u1253-78,#u1253-79,#u1253-82,#u1253-83,#u1253-92,#u1253-95,#u1253-96,#u1253-144
{
	font-size: 16px;
	line-height: 19px;
}

#u1253-13,#u1253-21,#u1253-72,#u1253-146
{
	font-size: 25px;
	text-align: left;
	line-height: 30px;
	padding-bottom: 3px;
	color: #0093C4;
}

#u1253-172,#u1253-188
{
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	padding-left: 60px;
	color: #534741;
}

#u1253-148,#u1253-174,#u1253-190
{
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	padding-left: 30px;
	color: #534741;
}

#u1253-66 > li:before,#u1253-140 > li:before,#u1253-171 > li:before,#u1253-187 > li:before,#u1253-210 > li:before
{
	content: '•';
}

#u1253-171 > #u1253-153:before,#u1253-171 > #u1253-157:before,#u1253-171 > #u1253-159:before,#u1253-171 > #u1253-161:before,#u1253-171 > #u1253-165:before,#u1253-171 > #u1253-168:before,#u1253-171 > #u1253-170:before,#u1253-187 > #u1253-176:before,#u1253-187 > #u1253-178:before,#u1253-210 > #u1253-192:before,#u1253-210 > #u1253-195:before,#u1253-210 > #u1253-197:before,#u1253-210 > #u1253-199:before,#u1253-210 > #u1253-201:before,#u1253-210 > #u1253-203:before,#u1253-210 > #u1253-205:before,#u1253-210 > #u1253-207:before,#u1253-210 > #u1253-209:before
{
	color: #000000;
	font-family: bitter, Georgia;
	font-weight: 400;
	margin-right: -54px;
}

#u1253-22,#u1253-31,#u1253-51,#u1253-149,#u1253-151,#u1253-154,#u1253-156,#u1253-158,#u1253-160,#u1253-162,#u1253-164,#u1253-166,#u1253-169,#u1253-175,#u1253-177,#u1253-191,#u1253-193,#u1253-196,#u1253-198,#u1253-200,#u1253-202,#u1253-204,#u1253-206,#u1253-208
{
	color: #000000;
}

#u1253-153,#u1253-157,#u1253-159,#u1253-161,#u1253-165,#u1253-168,#u1253-170,#u1253-176,#u1253-178,#u1253-192,#u1253-195,#u1253-197,#u1253-199,#u1253-201,#u1253-203,#u1253-205,#u1253-207,#u1253-209,#u1253-211
{
	font-size: 16px;
	text-align: left;
	line-height: 21px;
	padding-left: 60px;
	color: #534741;
}

#u1253-76,#u1253-215
{
	color: #534741;
}

#u1253-23,#u1253-74,#u1253-87,#u1253-100,#u1253-103,#u1253-110,#u1253-117,#u1253-120,#u1253-127,#u1253-130,#u1253-220
{
	color: #544842;
}

#u1253-225
{
	font-size: 16px;
	text-align: left;
	line-height: 21px;
	padding-left: 30px;
	color: #544842;
}

#u1253-180,#u1253-182,#u1253-184,#u1253-186,#u1253-216,#u1253-218,#u1253-221,#u1253-227,#u1253-229,#u1253-231
{
	font-size: 16px;
	text-align: left;
	line-height: 21px;
	padding-left: 60px;
	color: #000000;
}

#u1253-187 > #u1253-180:before,#u1253-187 > #u1253-182:before,#u1253-187 > #u1253-184:before,#u1253-187 > #u1253-186:before,#u1253-222 > #u1253-216:before,#u1253-222 > #u1253-218:before,#u1253-222 > #u1253-221:before,#u1253-232 > #u1253-227:before,#u1253-232 > #u1253-229:before,#u1253-232 > #u1253-231:before
{
	font-family: bitter, Georgia;
	font-weight: 400;
	margin-right: -54px;
}

#u1253-171.rtl-list > #u1253-153:before,#u1253-171.rtl-list > #u1253-157:before,#u1253-171.rtl-list > #u1253-159:before,#u1253-171.rtl-list > #u1253-161:before,#u1253-171.rtl-list > #u1253-165:before,#u1253-171.rtl-list > #u1253-168:before,#u1253-171.rtl-list > #u1253-170:before,#u1253-187.rtl-list > #u1253-176:before,#u1253-187.rtl-list > #u1253-178:before,#u1253-187.rtl-list > #u1253-180:before,#u1253-187.rtl-list > #u1253-182:before,#u1253-187.rtl-list > #u1253-184:before,#u1253-187.rtl-list > #u1253-186:before,#u1253-210.rtl-list > #u1253-192:before,#u1253-210.rtl-list > #u1253-195:before,#u1253-210.rtl-list > #u1253-197:before,#u1253-210.rtl-list > #u1253-199:before,#u1253-210.rtl-list > #u1253-201:before,#u1253-210.rtl-list > #u1253-203:before,#u1253-210.rtl-list > #u1253-205:before,#u1253-210.rtl-list > #u1253-207:before,#u1253-210.rtl-list > #u1253-209:before,#u1253-222.rtl-list > #u1253-216:before,#u1253-222.rtl-list > #u1253-218:before,#u1253-222.rtl-list > #u1253-221:before,#u1253-232.rtl-list > #u1253-227:before,#u1253-232.rtl-list > #u1253-229:before,#u1253-232.rtl-list > #u1253-231:before
{
	margin-right: 0px;
	margin-left: -54px;
}

#u1253-223,#u1253-233
{
	font-size: 16px;
	text-align: left;
	line-height: 21px;
	padding-left: 30px;
	color: #000000;
}

#u1253-213,#u1253-235,#u1253-236
{
	font-size: 16px;
	text-align: left;
	line-height: 21px;
	padding-left: 30px;
	color: #534741;
}

#u1253-238
{
	font-size: 16px;
	text-align: center;
	line-height: 21px;
	color: #534741;
}

#u1253-81,#u1253-94,#u1253-142,#u1253-237
{
	color: #CCCCCC;
}

#u1253-239
{
	font-size: 16px;
	text-align: left;
	line-height: 21px;
	color: #534741;
}

#u1253-241
{
	font-size: 25px;
	text-align: left;
	line-height: 33px;
	padding-bottom: 3px;
	color: #0093C4;
}

#u1253-242
{
	font-size: 25px;
	text-align: left;
	line-height: 33px;
	padding-left: 30px;
	color: #0093C4;
}

#slideshowu5590
{
	z-index: 310;
	width: 0.01px;
	height: 520px;
	margin-left: 96px;
	position: relative;
}

#u5591
{
	position: absolute;
	width: 1184px;
	height: 799px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -161px;
	left: -22px;
	-pie-background: rgba(0,0,0,0.9);
}

#u5591popup
{
	z-index: 311;
}

#u5592
{
	z-index: 312;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5971
{
	z-index: 314;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5991
{
	z-index: 316;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6011
{
	z-index: 318;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6031
{
	z-index: 320;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5592_img,#u5971_img,#u5991_img,#u6011_img,#u6031_img
{
	padding-left: 303px;
	padding-right: 303px;
}

#u5622
{
	position: absolute;
	width: 750px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
}

#u5622popup
{
	z-index: 322;
}

#u5629
{
	z-index: 323;
	width: 177px;
	height: 251px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#u5977
{
	z-index: 325;
	width: 177px;
	height: 251px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 193px;
}

#u5997
{
	z-index: 327;
	width: 177px;
	height: 251px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 380px;
}

#u6017
{
	z-index: 329;
	width: 177px;
	height: 251px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 567px;
}

#u5629:hover,#u5977:hover,#u5997:hover,#u6017:hover
{
	width: 177px;
	height: 251px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u6037
{
	z-index: 331;
	width: 177px;
	height: 251px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 265px;
	left: 6px;
}

#u6037:hover
{
	width: 177px;
	height: 251px;
	min-height: 0px;
	margin: 265px -10000px 0px 0px;
}

#u5656
{
	position: absolute;
	width: 323px;
	background-color: transparent;
	top: -139px;
	left: -22px;
}

#u5656popup
{
	z-index: 333;
}

#u5665-10
{
	z-index: 334;
	width: 323px;
	min-height: 160px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5983-10
{
	z-index: 344;
	width: 323px;
	min-height: 160px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u6003-10
{
	z-index: 354;
	width: 323px;
	min-height: 160px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u6023-8
{
	z-index: 364;
	width: 323px;
	min-height: 160px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u6043-8
{
	z-index: 372;
	width: 323px;
	min-height: 160px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5674-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 170px;
	left: -45px;
}

#u5674-4popup
{
	z-index: 380;
}

#u5655-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 170px;
	left: 1160px;
}

#u5655-4popup
{
	z-index: 384;
}

#u5672
{
	position: absolute;
	width: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -139px;
	left: 1155px;
}

#u5672:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u5672:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u5673-4
{
	z-index: 389;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu1125
{
	width: 0.01px;
	margin-left: -100px;
}

#u1125
{
	z-index: 57;
	width: 943px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u1125_position_content
{
	padding-bottom: 41px;
	width: 100%;
}

#u1126
{
	z-index: 58;
	width: 942px;
	height: 35px;
	position: relative;
}

#u1126:hover
{
	width: 942px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u1842
{
	z-index: 59;
	width: 995px;
	min-height: 67px;
	left: -16px;
	margin-top: 59px;
	position: relative;
}

#u109
{
	z-index: 60;
	min-height: 51px;
	padding-bottom: 13px;
}

#u109:active
{
	min-height: 51px;
	margin: 0px;
}

#u109_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
}

#u199-4
{
	z-index: 61;
	width: 424px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 369px;
}

#u199-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 424px;
	margin: 32px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u109-bw
{
	z-index: 60;
	min-height: 51px;
	margin-top: 137px;
}

.html
{
	background: #000000 url("../images/black_denim.jpg") repeat center top scroll;
}

body
{
	position: relative;
	min-width: 942px;
}

