.version.store /* version checker */
{
	color: #000003;
	background-color: #8DE4BE;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 682.818299594453px;
	border-width: 0px;
	border-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/leather.jpg") repeat left top;
}

#page_position_content,#pu1070
{
	width: 0.01px;/* should not cover content below */
}

#u1070
{
	z-index: 2;
	width: 942px;
	position: relative;
	margin-right: -10000px;
}

#u1070_position_content
{
	margin-bottom: -3px;
	padding-top: 14px;
	width: 100%;
}

#u1074-4
{
	z-index: 3;
	width: 298px;
	min-height: 41px;
	margin-left: 11px;
	position: relative;
}

#u1075
{
	z-index: 7;
	width: 942px;
	position: relative;
}

#u1075:hover
{
	width: 942px;
	min-height: 0px;
	margin: 0px;
}

#menuu1082
{
	z-index: 8;
	width: 942px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u1111
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
}

#u1114
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1114:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1114:active
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1115-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1114:hover #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1114:active #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1104
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

#u1105
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1114.MuseMenuActive,#u1105:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1106-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1114.MuseMenuActive #u1115-4,#u1105:hover #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1105:active #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1083
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u1086
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1105.MuseMenuActive,#u1086:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1087-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1105.MuseMenuActive #u1106-4,#u1086:hover #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1086:active #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1090
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 354px;
}

#u1093
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1086.MuseMenuActive,#u1093:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1095-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1086.MuseMenuActive #u1087-4,#u1093:hover #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1093:active #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u9329
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 472px;
}

#u9330
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1093.MuseMenuActive,#u9330:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u9332-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1093.MuseMenuActive #u1095-4,#u9330:hover #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u9330:active #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u11296
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 590px;
}

#u11297
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u9330.MuseMenuActive,#u11297:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u11298-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u9330.MuseMenuActive #u9332-4,#u11297:hover #u11298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u11297:active #u11298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1194
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u1195
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u11297.MuseMenuActive,#u1195:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1196-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u11297.MuseMenuActive #u11298-4,#u1195:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1195:active #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1097
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 826px;
}

#u1100
{
	width: 116px;
	padding-bottom: 26px;
	position: relative;
}

#u1195.MuseMenuActive,#u1100:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1100.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1101-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1195.MuseMenuActive #u1196-4,#u1100:hover #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1100:active #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1100.MuseMenuActive #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u10761
{
	z-index: 69;
	width: 92px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 950px;
}

#pu14469-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 11px;
}

#u14469-4
{
	z-index: 200;
	width: 898px;
	min-height: 30px;
	background-color: transparent;
	color: #0093C4;
	line-height: 34px;
	text-align: left;
	font-size: 28px;
	font-family: buenard, serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u17325
{
	z-index: 71;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	left: 920px;
}

#ppu11341-9
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 54px;
}

#u11341-9
{
	z-index: 131;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u11353-7
{
	z-index: 158;
	width: 245px;
	min-height: 155px;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	background: #000000 url("../images/authors-notepad-preview-croped.jpg") no-repeat center top;
	background-size: cover;
}

#u11353-7:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 155px;
	width: 245px;
	margin: 0px -10000px 0px 0px;
	background: #7F7F7F url("../images/authors-notepad-preview-croped-u11353-7-r-fr.png") no-repeat center top;
	background-color: rgba(0,0,0,0.5);
	background-size: cover;
}

#u21968-4
{
	z-index: 318;
	width: 110px;
	min-height: 32px;
	background-color: #3EAD43;
	border-radius: 4px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 67px;
}

#u21992-4
{
	z-index: 326;
	width: 229px;
	min-height: 39px;
	background: transparent url("../images/u21992-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(61,145,255,0.5)),color-stop(54%, #3D91FF));
	background: -webkit-linear-gradient(top,rgba(61,145,255,0.5) ,#3D91FF 54%);
	background: linear-gradient(to bottom,rgba(61,145,255,0.5) ,#3D91FF 54%);
	border-style: solid;
	border-width: 1px;
	border-color: #777777;
	border-radius: 4px;
	color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 7px;
}

#u21992-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 229px;
	margin: 261px -10000px 0px 0px;
}

#pu9685
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 94px;
	margin-left: 922px;
}

#u9685
{
	z-index: 66;
	width: 59px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 1px;
}

#u11335
{
	z-index: 79;
	width: 60px;
	min-height: 60px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u11340-9
{
	z-index: 122;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u11342-9
{
	z-index: 140;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: 608px;
}

#u11352-7
{
	z-index: 151;
	width: 245px;
	min-height: 155px;
	text-align: center;
	text-transform: none;
	line-height: 24px;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	background: #000000 url("../images/anarcho-notepad-preview-cropped.jpg") no-repeat center top;
	background-size: cover;
}

#u11352-7:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 155px;
	width: 245px;
	margin: 0px -10000px 0px 0px;
	background: #7F7F7F url("../images/anarcho-notepad-preview-cropped-u11352-7-r-fr.png") no-repeat center top;
	background-color: rgba(0,0,0,0.5);
	background-size: cover;
}

#u11352-7:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	vertical-align: 0px;
	letter-spacing: 0px;
	line-height: 1.2;
	text-transform: none;
	text-decoration: none;
	text-indent: 0px;
	font-weight: normal;
	font-style: normal;
}

#u11354-7
{
	z-index: 165;
	width: 245px;
	min-height: 155px;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 614px;
	background: #000000 url("../images/simple-notepad-preview-cropped.jpg") no-repeat center top;
	background-size: cover;
}

#u11354-7:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 155px;
	width: 245px;
	margin: 0px -10000px 0px 0px;
	background: #7F7F7F url("../images/simple-notepad-preview-cropped-u11354-7-r-fr.png") no-repeat center top;
	background-color: rgba(0,0,0,0.5);
	background-size: cover;
}

#u21961-5
{
	z-index: 309;
	width: 135px;
	min-height: 32px;
	background-color: #3EAD43;
	border-radius: 4px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 55px;
}

#u21961-2
{
	font-weight: bold;
}

#u21965-4
{
	z-index: 314;
	width: 110px;
	min-height: 32px;
	background-color: #3EAD43;
	border-radius: 4px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 684px;
}

#u21981-4
{
	z-index: 322;
	width: 229px;
	min-height: 39px;
	background: transparent url("../images/u21992-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(61,145,255,0.5)),color-stop(54%, #3D91FF));
	background: -webkit-linear-gradient(top,rgba(61,145,255,0.5) ,#3D91FF 54%);
	background: linear-gradient(to bottom,rgba(61,145,255,0.5) ,#3D91FF 54%);
	border-style: solid;
	border-width: 1px;
	border-color: #777777;
	border-radius: 4px;
	color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 7px;
}

#u21981-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 229px;
	margin: 261px -10000px 0px 0px;
}

#u21995-4
{
	z-index: 330;
	width: 229px;
	min-height: 39px;
	background: transparent url("../images/u21992-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(61,145,255,0.5)),color-stop(54%, #3D91FF));
	background: -webkit-linear-gradient(top,rgba(61,145,255,0.5) ,#3D91FF 54%);
	background: linear-gradient(to bottom,rgba(61,145,255,0.5) ,#3D91FF 54%);
	border-style: solid;
	border-width: 1px;
	border-color: #777777;
	border-radius: 4px;
	color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 621px;
}

#u21995-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 229px;
	margin: 261px -10000px 0px 0px;
}

#ppu11339-12
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 61px;
}

#u11339-12
{
	z-index: 110;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u11356-7
{
	z-index: 179;
	width: 245px;
	min-height: 155px;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	background: #000000 url("../images/fashion-ans-style-preview.jpg") no-repeat center top;
	background-size: cover;
}

#u11356-7:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 155px;
	width: 245px;
	margin: 0px -10000px 0px 0px;
	background: #7F7F7F url("../images/fashion-ans-style-preview-u11356-7-r-fr.png") no-repeat center top;
	background-color: rgba(0,0,0,0.5);
	background-size: cover;
}

#u11356,#u11356-2
{
	font-size: 18px;
	line-height: 22px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u11356-3,#u11356-5
{
	font-size: 20px;
	line-height: 24px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u11338-12
{
	z-index: 98;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u11339-8,#u11339-10,#u11338-8,#u11338-10
{
	padding-top: 10px;
	color: #7F7F7F;
}

#u11355-7
{
	z-index: 172;
	width: 245px;
	min-height: 155px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	background: #000000 url("../images/circus%20(master-1)-u11355-7-fr.jpg") no-repeat center top;
	background-size: contain;
}

#u11355-7:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 155px;
	width: 245px;
	margin: 0px -10000px 0px 0px;
	background: #7F7F7F url("../images/circus%20(master-1)-u11355-7-r-fr.png") no-repeat center top;
	background-color: rgba(0,0,0,0.5);
	background-size: contain;
}

#u11353-7:hover p,#u11354-7:hover p,#u11356-7:hover p,#u11355-7:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 0px;
}

#u11355,#u11355-2
{
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u11355-3,#u11355-5
{
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u11334-4
{
	z-index: 75;
	width: 898px;
	min-height: 30px;
	background-color: transparent;
	color: #0093C4;
	line-height: 34px;
	text-align: left;
	font-size: 28px;
	font-family: buenard, serif;
	font-weight: 700;
	margin-left: 22px;
	margin-top: 85px;
	position: relative;
}

#ppu11337-9
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 59px;
}

#pu11341-9,#pu11339-12,#pu11337-9
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 307px;
}

#u11337-9
{
	z-index: 89;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u11344
{
	z-index: 150;
	width: 245px;
	height: 156px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/icon-512x512.png") no-repeat center top;
	background-size: contain;
}

#u22001-4
{
	z-index: 338;
	width: 229px;
	min-height: 39px;
	background: transparent url("../images/u21992-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(61,145,255,0.5)),color-stop(54%, #3D91FF));
	background: -webkit-linear-gradient(top,rgba(61,145,255,0.5) ,#3D91FF 54%);
	background: linear-gradient(to bottom,rgba(61,145,255,0.5) ,#3D91FF 54%);
	border-style: solid;
	border-width: 1px;
	border-color: #777777;
	border-radius: 4px;
	color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
	left: 7px;
}

#u22001-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 229px;
	margin: 262px -10000px 0px 0px;
}

#u22004-4
{
	z-index: 342;
	width: 110px;
	min-height: 32px;
	background-color: #3EAD43;
	border-radius: 4px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	left: 67px;
}

#u11336-9
{
	z-index: 80;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u11343
{
	z-index: 149;
	width: 245px;
	height: 156px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/icon-512x5122.png") no-repeat center top;
	background-size: contain;
}

#u11344:hover,#u11343:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 245px;
	height: 156px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

#u21998-4
{
	z-index: 334;
	width: 229px;
	min-height: 39px;
	background: transparent url("../images/u21992-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(61,145,255,0.5)),color-stop(54%, #3D91FF));
	background: -webkit-linear-gradient(top,rgba(61,145,255,0.5) ,#3D91FF 54%);
	background: linear-gradient(to bottom,rgba(61,145,255,0.5) ,#3D91FF 54%);
	border-style: solid;
	border-width: 1px;
	border-color: #777777;
	border-radius: 4px;
	color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
	left: 7px;
}

#u21998-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 229px;
	margin: 262px -10000px 0px 0px;
}

#u21992-4:hover::before,#u21981-4:hover::before,#u21995-4:hover::before,#u22001-4:hover::before,#u21998-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5), inset 0px 0px 3px rgba(0,0,0,0.5);
}

#u22007-4
{
	z-index: 346;
	width: 110px;
	min-height: 32px;
	background-color: #3EAD43;
	border-radius: 4px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	left: 67px;
}

#u21968-2,#u21961-3,#u21965-2,#u22004-2,#u22007-2
{
	padding-top: 4px;
}

#u14079-6
{
	z-index: 186;
	width: 898px;
	min-height: 32px;
	background-color: transparent;
	color: #0093C4;
	line-height: 34px;
	text-align: left;
	font-size: 28px;
	font-family: buenard, serif;
	font-weight: 700;
	margin-left: 22px;
	margin-top: 112px;
	position: relative;
}

#u14142-8
{
	z-index: 192;
	width: 898px;
	min-height: 113px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 22px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu14083
{
	width: 0.01px;
	margin-left: 41px;
}

#u14083
{
	z-index: 231;
	width: 197px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/icon-512x5123.png") no-repeat center top;
	background-size: contain;
}

#u14083:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 197px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u14082
{
	z-index: 230;
	width: 198px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 217px;
	background: #FFFFFF url("../images/icon-512x5124.png") no-repeat center top;
	background-size: contain;
}

#u14082:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 198px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u14081
{
	z-index: 229;
	width: 198px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 436px;
	background: #FFFFFF url("../images/icon-512x5125.png") no-repeat center top;
	background-size: contain;
}

#u14081:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 198px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u14080
{
	z-index: 228;
	width: 198px;
	height: 148px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 655px;
	background: #FFFFFF url("../images/icon-512x5126.png") no-repeat center top;
	background-size: contain;
}

#u14080:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 198px;
	height: 148px;
	min-height: 0px;
	margin: 1px -10000px -3px 0px;
	background-size: contain;
}

#u14088-4
{
	z-index: 250;
	width: 197px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u14086-4
{
	z-index: 242;
	width: 198px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 217px;
}

#u14087-4
{
	z-index: 246;
	width: 198px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 436px;
}

#u14085-4
{
	z-index: 238;
	width: 198px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 655px;
}

#u14084
{
	z-index: 232;
	width: 197px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/icon-512x5127.png") no-repeat center top;
	background-size: contain;
}

#u14084:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 197px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u14090
{
	z-index: 233;
	width: 198px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 217px;
	background: #FFFFFF url("../images/icon-512x5128.png") no-repeat center top;
	background-size: contain;
}

#u14090:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 198px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u14092
{
	z-index: 234;
	width: 198px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 436px;
	background: #FFFFFF url("../images/icon-512x5129.png") no-repeat center top;
	background-size: contain;
}

#u14092:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 198px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u14094
{
	z-index: 235;
	width: 198px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 655px;
	background: #FFFFFF url("../images/icon-512x51210.png") no-repeat center top;
	background-size: contain;
}

#u14094:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 198px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u14089-6
{
	z-index: 254;
	width: 197px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u14091-6
{
	z-index: 260;
	width: 198px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 217px;
}

#u14093-4
{
	z-index: 266;
	width: 198px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 436px;
}

#u14095-4
{
	z-index: 270;
	width: 198px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 655px;
}

#pu14084,#pu14096
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 19px;
}

#u14096
{
	z-index: 236;
	width: 197px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/icon-512x51211.png") no-repeat center top;
	background-size: contain;
}

#u14096:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 197px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u14098
{
	z-index: 237;
	width: 197px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 217px;
	background: #FFFFFF url("../images/icon-512x51212.png") no-repeat center top;
	background-size: contain;
}

#u14098:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 197px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u17879
{
	z-index: 294;
	width: 197px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 437px;
	background: #FFFFFF url("../images/icon-512x51213.png") no-repeat center top;
	background-size: contain;
}

#u17879:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 197px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u21302
{
	z-index: 304;
	width: 197px;
	height: 151px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 655px;
	background: #FFFFFF url("../images/icon-512x51214.png") no-repeat center top;
	background-size: contain;
}

#u21302:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 197px;
	height: 151px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#pu14088-4,#pu14089-6,#pu14097-6
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 4px;
}

#u14097-6
{
	z-index: 274;
	width: 197px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u14099-4
{
	z-index: 280;
	width: 197px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 217px;
}

#u17880-4
{
	z-index: 295;
	width: 197px;
	min-height: 38px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 437px;
}

#u21303-4
{
	z-index: 305;
	width: 197px;
	min-height: 37px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 655px;
}

#u17352-6
{
	z-index: 204;
	width: 898px;
	min-height: 32px;
	background-color: transparent;
	color: #0093C4;
	line-height: 34px;
	text-align: left;
	font-size: 28px;
	font-family: buenard, serif;
	font-weight: 700;
	margin-left: 22px;
	margin-top: 79px;
	position: relative;
}

#u14079-2,#u17352-2
{
	color: #FF4C4C;
}

#u17361-8
{
	z-index: 215;
	width: 898px;
	min-height: 96px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 22px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u14142-5,#u17361-5
{
	padding-top: 20px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u14142-2,#u17361-2
{
	font-size: 16px;
	color: #000000;
	line-height: 19px;
}

#u14142,#u14142-4,#u17361,#u17361-4
{
	font-size: 16px;
	line-height: 19px;
}

#pu17355
{
	width: 0.01px;
	margin-left: 32px;
}

#u17355
{
	z-index: 210;
	width: 268px;
	height: 183px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/meetvibe.jpg") no-repeat center top;
	background-size: contain;
}

#u17355:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 268px;
	height: 183px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u17402
{
	z-index: 223;
	width: 268px;
	height: 183px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 301px;
	background: #FFFFFF url("../images/square-logo-buttons.jpg") no-repeat center top;
	background-size: contain;
}

#u17402:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 268px;
	height: 183px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u17821
{
	z-index: 284;
	width: 268px;
	height: 183px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 604px;
	background: #FFFFFF url("../images/instagram-new.jpg") no-repeat center top;
	background-size: contain;
}

#u17821:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 268px;
	height: 183px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u17358-4
{
	z-index: 211;
	width: 268px;
	min-height: 40px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u17403-4
{
	z-index: 224;
	width: 268px;
	min-height: 40px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 301px;
}

#u17822-4
{
	z-index: 285;
	width: 268px;
	min-height: 40px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 604px;
}

#pu17827
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 28px;
}

#u17827
{
	z-index: 289;
	width: 268px;
	height: 183px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/instagram-classic.jpg") no-repeat center top;
	background-size: contain;
}

#u17827:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 268px;
	height: 183px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u18132
{
	z-index: 299;
	width: 268px;
	height: 183px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 301px;
	background: #FFFFFF url("../images/goodreads.jpg") no-repeat center top;
	background-size: contain;
}

#u18132:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 268px;
	height: 183px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
	background-size: contain;
}

#u14083:hover::before,#u14082:hover::before,#u14081:hover::before,#u14080:hover::before,#u14084:hover::before,#u14090:hover::before,#u14092:hover::before,#u14094:hover::before,#u14096:hover::before,#u14098:hover::before,#u17879:hover::before,#u21302:hover::before,#u17355:hover::before,#u17402:hover::before,#u17821:hover::before,#u17827:hover::before,#u18132:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -5px;
	left: -5px;
	bottom: -5px;
	right: -5px;
	box-shadow: inset -10px 58px 99px rgba(255,255,255,0.75), inset 10px -58px 99px rgba(0,0,0,0.75);
}

#pu17358-4,#pu17828-4
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 4px;
}

#u17828-4
{
	z-index: 290;
	width: 268px;
	min-height: 40px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u18133-4
{
	z-index: 300;
	width: 268px;
	min-height: 40px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 301px;
}

#u11341,#u11341-2,#u11341-3,#u11341-4,#u11341-5,#u11341-7,#u21992-2,#u11340,#u11340-2,#u11340-3,#u11340-4,#u11340-5,#u11340-7,#u11342,#u11342-2,#u11342-3,#u11342-4,#u11342-5,#u11342-7,#u21981-2,#u21995-2,#u11339,#u11339-2,#u11339-3,#u11339-4,#u11339-5,#u11339-7,#u11338,#u11338-2,#u11338-3,#u11338-4,#u11338-5,#u11338-7,#u11337,#u11337-2,#u11337-3,#u11337-4,#u11337-5,#u11337-7,#u22001-2,#u11336,#u11336-2,#u11336-3,#u11336-4,#u11336-5,#u11336-7,#u21998-2,#u14086-2,#u14087-2,#u14085-2,#u14093-2,#u14099-2,#u17880-2,#u17358-2,#u17403-2,#u17822-2,#u17828-2,#u18133-2
{
	padding-top: 10px;
}

#pu1125
{
	width: 0.01px;
	margin-top: 3px;
}

#u1125
{
	z-index: 57;
	width: 943px;
	position: relative;
	margin-right: -10000px;
}

#u1126
{
	z-index: 58;
	width: 942px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

#u1126:hover
{
	width: 942px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1842
{
	z-index: 59;
	width: 995px;
	min-height: 102px;
	margin-bottom: -33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: -16px;
}

#u2571
{
	z-index: 65;
	width: 210px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 832px;
}

#u10715
{
	z-index: 67;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: -32px;
}

#u17332
{
	z-index: 73;
	width: 137px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 873px;
}

#u109
{
	z-index: 60;
	min-height: 65px;
}

#u109:active
{
	min-height: 65px;
	margin: 0px;
}

#u109_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
}

#u199-4
{
	z-index: 61;
	width: 941px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 100px;
}

#u199-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 941px;
	margin: 37px -10000px 0px 0px;
}

#u11353,#u11353-2,#u11353-3,#u11353-5,#u11352,#u11352-2,#u11352-3,#u11352-5,#u11354,#u11354-2,#u11354-3,#u11354-5,.js body
{
	visibility: hidden;/* 100% transparent text is hidden */
}

.js body.initialized
{
	visibility: visible;
}

#u109-bw
{
	z-index: 60;
	min-height: 65px;
}

.html
{
	background: #000000 url("../images/black_denim.jpg") repeat center top scroll;
}

body
{
	position: relative;
	min-width: 942px;
}

