.version.store /* version checker */
{
	color: #0000E1;
	background-color: #CB8358;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 682.893299594454px;
	border-width: 0px;
	border-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/leather.jpg") repeat left top;
}

#page_position_content,#pu1070
{
	width: 0.01px;/* should not cover content below */
}

#u1070
{
	z-index: 2;
	width: 942px;
	position: relative;
	margin-right: -10000px;
}

#u1070_position_content
{
	margin-bottom: -3px;
	padding-top: 14px;
	width: 100%;
}

#u1074-4
{
	z-index: 3;
	width: 298px;
	min-height: 41px;
	margin-left: 11px;
	position: relative;
}

#u1075
{
	z-index: 7;
	width: 942px;
	position: relative;
}

#u1075:hover
{
	width: 942px;
	min-height: 0px;
	margin: 0px;
}

#menuu1082
{
	z-index: 8;
	width: 942px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u1111
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
}

#u1114
{
	width: 116px;
	padding-bottom: 28px;
	position: relative;
}

#u1114:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1114:active
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1115-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1114:hover #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1114:active #u1115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1104
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

#u1105
{
	width: 116px;
	padding-bottom: 28px;
	position: relative;
}

#u1114.MuseMenuActive,#u1105:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1106-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1114.MuseMenuActive #u1115-4,#u1105:hover #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1105:active #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1083
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u1086
{
	width: 116px;
	padding-bottom: 28px;
	position: relative;
}

#u1105.MuseMenuActive,#u1086:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1087-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1105.MuseMenuActive #u1106-4,#u1086:hover #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1086:active #u1087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1090
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 354px;
}

#u1093
{
	width: 116px;
	padding-bottom: 28px;
	position: relative;
}

#u1086.MuseMenuActive,#u1093:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1095-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1086.MuseMenuActive #u1087-4,#u1093:hover #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1093:active #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u9329
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 472px;
}

#u9330
{
	width: 116px;
	padding-bottom: 28px;
	position: relative;
}

#u1093.MuseMenuActive,#u9330:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u9332-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1093.MuseMenuActive #u1095-4,#u9330:hover #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u9330:active #u9332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u11296
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 590px;
}

#u11297
{
	width: 116px;
	padding-bottom: 28px;
	position: relative;
}

#u9330.MuseMenuActive,#u11297:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u11298-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u9330.MuseMenuActive #u9332-4,#u11297:hover #u11298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u11297:active #u11298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1194
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u1195
{
	width: 116px;
	padding-bottom: 28px;
	position: relative;
}

#u11297.MuseMenuActive,#u1195:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1196-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u11297.MuseMenuActive #u11298-4,#u1195:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1195:active #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1097
{
	width: 116px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 826px;
}

#u1100
{
	width: 116px;
	padding-bottom: 28px;
	position: relative;
}

#u1195.MuseMenuActive,#u1100:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1100.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1101-4
{
	width: 116px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u1195.MuseMenuActive #u1196-4,#u1100:hover #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1100:active #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1100.MuseMenuActive #u1101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u10761
{
	z-index: 69;
	width: 92px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 950px;
}

#pu11333-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 11px;
}

#u11333-4
{
	z-index: 73;
	width: 898px;
	min-height: 29px;
	background-color: transparent;
	color: #0093C4;
	line-height: 30px;
	text-align: left;
	font-size: 25px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u10843
{
	z-index: 71;
	width: 39px;
	position: relative;
	margin-right: -10000px;
	left: 920px;
}

#ppu11341-12
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 16px;
}

#u11341-12
{
	z-index: 140;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u11348
{
	z-index: 168;
	width: 245px;
	border-style: solid;
	border-color: #00BFF3;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
	background: transparent url("../images/authors-notepad-designe.jpg") no-repeat center top;
	background-size: cover;
}

#u11353-11
{
	z-index: 177;
	width: 245px;
	min-height: 155px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu11335
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 104px;
	margin-left: 920px;
}

#u11335
{
	z-index: 81;
	width: 60px;
	min-height: 60px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9685
{
	z-index: 66;
	width: 59px;
	min-height: 59px;
	margin-left: 1px;
	margin-top: 17px;
	position: relative;
}

#u11340-11
{
	z-index: 129;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u11342-11
{
	z-index: 152;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: 608px;
}

#u11347
{
	z-index: 167;
	width: 245px;
	border-style: solid;
	border-color: #00BFF3;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
	background: transparent url("../images/screenshot.jpg") no-repeat center top;
	background-size: cover;
}

#u11352-7
{
	z-index: 170;
	width: 245px;
	min-height: 155px;
	background-color: transparent;
	text-align: center;
	text-transform: none;
	line-height: 24px;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u11352-7:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: 0px;
	letter-spacing: 0px;
	line-height: 1.2;
	text-transform: none;
	text-decoration: none;
	text-indent: 0px;
	font-weight: normal;
	font-style: normal;
}

#u11349
{
	z-index: 169;
	width: 245px;
	border-style: solid;
	border-color: #00BFF3;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 613px;
	border-width: 0px 0px 1px;
	background: transparent url("../images/preview2.jpg") no-repeat center top;
	background-size: cover;
}

#u11354-8
{
	z-index: 188;
	width: 245px;
	min-height: 155px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u11353-2,#u11354-2
{
	text-align: left;
	visibility: hidden;/* 100% transparent text is hidden */
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11353,#u11354
{
	font-size: 18px;
	text-align: left;
	line-height: 22px;
}

#u11353-3,#u11353-5,#u11353-7,#u11353-9,#u11354-3,#u11354-4,#u11354-6
{
	text-align: center;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u11358
{
	z-index: 212;
	width: 122px;
	min-height: 53px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 12px;
	text-align: left;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 4px;
}

#u11359
{
	z-index: 213;
	width: 123px;
	min-height: 68px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 126px;
}

#u11426
{
	z-index: 214;
	width: 122px;
	min-height: 53px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 12px;
	text-align: left;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 617px;
}

#u11427
{
	z-index: 215;
	width: 123px;
	min-height: 68px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 739px;
}

#ppu11339-12
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 43px;
}

#u11339-12
{
	z-index: 117;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u11346
{
	z-index: 166;
	width: 245px;
	border-style: solid;
	border-color: #00BFF3;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
	background: transparent url("../images/screenshot2.jpg") no-repeat center top;
	background-size: cover;
}

#u11356-8
{
	z-index: 204;
	width: 245px;
	min-height: 155px;
	background-color: transparent;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u11356-3
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u11338-12
{
	z-index: 105;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u11345
{
	z-index: 165;
	width: 245px;
	border-style: solid;
	border-color: #00BFF3;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
	background: transparent url("../images/circus%20(master-1)2.jpg") no-repeat center top;
	background-size: cover;
}

#u11348:hover,#u11347:hover,#u11349:hover,#u11346:hover,#u11345:hover
{
	background-image: none;
	background-color: #372F2B;
	width: 245px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u11355-8
{
	z-index: 196;
	width: 245px;
	min-height: 155px;
	background-color: transparent;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u11353-11:hover,#u11352-7:hover,#u11354-8:hover,#u11356-8:hover,#u11355-8:hover
{
	text-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 155px;
	width: 245px;
	margin: 0px -10000px 0px 0px;
}

#u11353-11:hover p,#u11353-11:hover span,#u11354-8:hover p,#u11354-8:hover span,#u11356-8:hover p,#u11355-8:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 0px;
}

#u11356-2,#u11355-2,#u11355-3
{
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u11356-4,#u11356-6,#u11355-4,#u11355-6
{
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u11334-4
{
	z-index: 77;
	width: 898px;
	min-height: 30px;
	background-color: transparent;
	color: #0093C4;
	line-height: 30px;
	text-align: left;
	font-size: 25px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 130px;
	position: relative;
}

#ppu11337-12
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 29px;
}

#pu11341-12,#pu11339-12,#pu11337-12
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 307px;
}

#u11337-12
{
	z-index: 93;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u11341-8,#u11341-10,#u11339-8,#u11339-10,#u11338-8,#u11338-10,#u11337-8,#u11337-10
{
	padding-top: 10px;
	color: #7F7F7F;
}

#u11344
{
	z-index: 164;
	width: 245px;
	height: 156px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/icon-256x2562.png") no-repeat center top;
	background-size: contain;
}

#u11336-11
{
	z-index: 82;
	width: 235px;
	min-height: 300px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u11341,#u11341-2,#u11341-3,#u11341-4,#u11341-5,#u11341-7,#u11340,#u11340-2,#u11340-3,#u11340-4,#u11340-5,#u11340-7,#u11342,#u11342-2,#u11342-3,#u11342-4,#u11342-5,#u11342-7,#u11339,#u11339-2,#u11339-3,#u11339-4,#u11339-5,#u11339-7,#u11338,#u11338-2,#u11338-3,#u11338-4,#u11338-5,#u11338-7,#u11337,#u11337-2,#u11337-3,#u11337-4,#u11337-5,#u11337-7,#u11336,#u11336-2,#u11336-3,#u11336-4,#u11336-5,#u11336-7
{
	padding-top: 10px;
}

#u11340-9,#u11342-9,#u11336-9
{
	padding-top: 10px;
	color: #ED1C24;
}

#u11343
{
	z-index: 163;
	width: 245px;
	height: 156px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/icon-256x2563.png") no-repeat center top;
	background-size: contain;
}

#u11344:hover,#u11343:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 245px;
	height: 156px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

#u11596
{
	z-index: 216;
	width: 122px;
	min-height: 53px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 12px;
	text-align: left;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 4px;
}

#u11597
{
	z-index: 217;
	width: 123px;
	min-height: 68px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 126px;
}

#pu1125
{
	width: 0.01px;
	margin-left: -47px;
}

#u1125
{
	z-index: 57;
	width: 943px;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u1126
{
	z-index: 58;
	width: 942px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

#u1126:hover
{
	width: 942px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1842
{
	z-index: 59;
	width: 995px;
	min-height: 102px;
	margin-bottom: -33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: -16px;
}

#u2571
{
	z-index: 65;
	width: 210px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 832px;
}

#u10715
{
	z-index: 67;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
}

#u109
{
	z-index: 60;
	min-height: 65px;
}

#u109:active
{
	min-height: 65px;
	margin: 0px;
}

#u109_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
}

#u199-4
{
	z-index: 61;
	width: 941px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 100px;
}

#u199-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 941px;
	margin: 37px -10000px 0px 0px;
}

#u11352,#u11352-2,#u11352-3,#u11352-5,.js body
{
	visibility: hidden;/* 100% transparent text is hidden */
}

.js body.initialized
{
	visibility: visible;
}

#u109-bw
{
	z-index: 60;
	min-height: 65px;
}

.html
{
	background: #000000 url("../images/black_denim.jpg") repeat center top scroll;
}

body
{
	position: relative;
	min-width: 942px;
}

