/*

*/

.version.theme_authors_notepad /* version checker */
{
	color: #0000F0;
	background-color: #092C84;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 872.75px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#u18402
{
	z-index: 6;
	min-height: 152px;
	padding-bottom: 370px;
}

#u18379
{
	z-index: 7;
	width: 139px;
	height: 152px;
	position: relative;
	margin-right: -10000px;
	left: 1003px;
}

.ie #u18379
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u18793-6
{
	z-index: 67;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u18402-bw
{
	z-index: 6;
	min-height: 152px;
}

#u18412
{
	z-index: 49;
	height: 35px;
}

#u18412-bw
{
	z-index: 49;
	margin-top: 522px;
	height: 35px;
}

#u18385
{
	z-index: 51;
	width: 942px;
	padding-bottom: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 101px;
}

#u18781
{
	z-index: 144;
	width: 126px;
	height: 215px;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 97px;
	background: transparent url("../images/authors-notepad-iphone6s.jpg") no-repeat left top;
	background-size: cover;
}

#u18811
{
	z-index: 143;
	width: 471px;
	height: 295px;
	border-style: solid;
	border-color: #757575;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 274px;
	border-width: 0px 0px 1px;
	background: transparent url("../images/authors-notepad-macbookair11.jpg") no-repeat center top;
	background-size: cover;
}

#pu18408
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 65px;
	margin-left: 829px;
}

#u18408
{
	z-index: 52;
	width: 29px;
	position: relative;
}

#u18408:hover
{
	width: 29px;
	min-height: 0px;
	margin: 0px;
}

#u18405
{
	z-index: 60;
	width: 29px;
	margin-top: 10px;
	position: relative;
}

#u18393
{
	z-index: 56;
	width: 29px;
	margin-top: 10px;
	position: relative;
}

#u18390
{
	z-index: 58;
	width: 29px;
	margin-top: 10px;
	position: relative;
}

#u18413
{
	z-index: 54;
	width: 29px;
	margin-top: 10px;
	position: relative;
}

#u18405:hover,#u18393:hover,#u18390:hover,#u18413:hover
{
	width: 29px;
	min-height: 0px;
	margin: 10px 0px 0px;
}

#u18795-7
{
	z-index: 82;
	width: 942px;
	min-height: 370px;
	background-color: transparent;
	line-height: 34px;
	color: #3C454C;
	font-size: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 63px;
	position: relative;
}

#u18795-5
{
	text-align: center;
	font-weight: bold;
}

#u18814
{
	z-index: 141;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(100%, rgba(127,127,127,0.1)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#197F7F7F, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#197F7F7F', GradientType=0)";
}

#u18814-bw
{
	z-index: 141;
	height: 26px;
}

#u18804
{
	z-index: 66;
	min-height: 529px;
	border-style: solid;
	border-color: #E2E2E2;
	background-color: #F9F9F9;
	border-width: 1px 0px;
}

#u18804::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: none;
}

#u18402_align_to_page,#u18804_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
}

#u18804_position_content
{
	margin-top: -1px;
	padding-bottom: 72px;
	width: 100%;
}

#u18789-4
{
	z-index: 78;
	width: 942px;
	min-height: 100px;
	background-color: transparent;
	color: #3C454C;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	left: 100px;
	position: relative;
}

#pu18812-25
{
	width: 0.01px;
	left: 54px;
	position: relative;
}

#u18812-25
{
	z-index: 89;
	width: 505px;
	min-height: 358px;
	background-color: transparent;
	color: #3B454C;
	line-height: 25px;
	font-size: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u18812-23 > li:before
{
	margin-right: 18px;
	content: '';
	margin-top: 0px;
	color: #29ABE2;
	font-family: '__FontAwesome_5';
	font-weight: 400;
}

#u18783-25
{
	z-index: 114;
	width: 505px;
	min-height: 358px;
	background-color: transparent;
	color: #3B454C;
	line-height: 25px;
	font-size: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#u18812-23,#u18783-23
{
	padding-left: 46px;
}

#u18812-23.rtl-list,#u18783-23.rtl-list
{
	padding-left: 0px;
	padding-right: 46px;
}

#u18783-23 > li:before
{
	margin-right: 18px;
	content: '';
	color: #29ABE2;
	font-family: '__FontAwesome_5';
	font-weight: 400;
}

#u18812-23.rtl-list > li:before,#u18783-23.rtl-list > li:before
{
	margin-right: 0px;
	margin-left: 18px;
}

#u18812-2,#u18812-4,#u18812-6,#u18812-8,#u18812-10,#u18812-12,#u18812-14,#u18812-16,#u18812-18,#u18812-20,#u18812-22,#u18783-2,#u18783-4,#u18783-6,#u18783-8,#u18783-10,#u18783-12,#u18783-14,#u18783-16,#u18783-18,#u18783-20,#u18783-22
{
	padding-top: 3px;
}

#u18804-bw
{
	z-index: 66;
	min-height: 529px;
}

#u18798
{
	z-index: 139;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(127,127,127,0.1)),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#197F7F7F, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#197F7F7F', endColorstr='#00FFFFFF', GradientType=0)";
}

#u18798-bw
{
	z-index: 139;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 26px;
}

#u18836-4
{
	z-index: 74;
	width: 942px;
	min-height: 100px;
	background-color: transparent;
	color: #3C454C;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#slideshowu20210
{
	z-index: 230;
	width: 0.01px;
	height: 200px;
	left: -100px;
	position: relative;
}

#u20238
{
	position: absolute;
	width: 1184px;
	height: 799px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -189px;
	left: 34px;
	-pie-background: rgba(0,0,0,0.9);
}

#u20238popup
{
	z-index: 231;
}

#u20249
{
	z-index: 232;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u20249_img
{
	padding-left: 14px;
	padding-right: 13px;
}

#u20484
{
	z-index: 234;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u20564
{
	z-index: 236;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u20544
{
	z-index: 238;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u20504
{
	z-index: 240;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u20524
{
	z-index: 242;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u20484_img,#u20564_img,#u20544_img,#u20504_img,#u20524_img
{
	padding-top: 21px;
	padding-bottom: 21px;
}

#u20219
{
	position: absolute;
	width: 1142px;
	border-color: #3B454C;
	background-color: transparent;
	padding-bottom: 54px;
}

#u20219popup
{
	z-index: 244;
}

#u20220
{
	z-index: 245;
	width: 158px;
	height: 140px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 16px;
}

#u20490
{
	z-index: 247;
	width: 158px;
	height: 140px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 206px;
}

#u20570
{
	z-index: 249;
	width: 158px;
	height: 140px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 396px;
}

#u20550
{
	z-index: 251;
	width: 158px;
	height: 140px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 586px;
}

#u20510
{
	z-index: 253;
	width: 158px;
	height: 140px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 776px;
}

#u20530
{
	z-index: 255;
	width: 158px;
	height: 140px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 966px;
}

#u20220:hover,#u20490:hover,#u20570:hover,#u20550:hover,#u20510:hover,#u20530:hover
{
	border-color: #2C6C7A;
	width: 158px;
	height: 140px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u20211-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 142px;
	left: 11px;
}

#u20211-4popup
{
	z-index: 257;
}

#u20235-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 142px;
	left: 1216px;
}

#u20235-4popup
{
	z-index: 261;
}

#u20236
{
	position: absolute;
	width: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -167px;
	left: 1211px;
}

#u20236:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u20236:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u20237-4
{
	z-index: 266;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u18818
{
	z-index: 142;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(100%, rgba(127,127,127,0.1)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#197F7F7F, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#197F7F7F', GradientType=0)";
}

#u18818-bw
{
	z-index: 142;
	height: 26px;
}

#u18785
{
	z-index: 73;
	min-height: 392px;
	border-style: solid;
	border-color: #E2E2E2;
	background-color: #F9F9F9;
	border-width: 1px 0px;
}

#u18785_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
	padding-top: 99px;
	padding-bottom: 48px;
}

#u21813
{
	z-index: 338;
	width: 269px;
	height: 165px;
	left: 436px;
	position: relative;
	background: transparent url("../images/satisfaction-guaranteed.png") no-repeat center center;
	background-size: contain;
}

#u21812-4
{
	z-index: 334;
	width: 942px;
	min-height: 51px;
	background-color: transparent;
	line-height: 23px;
	color: #3C454C;
	text-align: center;
	font-size: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 100px;
	margin-top: 29px;
	position: relative;
}

#u18785-bw
{
	z-index: 73;
	min-height: 392px;
	margin-bottom: -1px;
}

#u21814-4
{
	z-index: 339;
	width: 942px;
	min-height: 100px;
	background-color: transparent;
	color: #3C454C;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u18782
{
	z-index: 140;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(127,127,127,0.1)),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#197F7F7F, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#197F7F7F', endColorstr='#00FFFFFF', GradientType=0)";
}

#u18782-bw
{
	z-index: 140;
	height: 26px;
}

#u18801-4
{
	z-index: 226;
	width: 942px;
	min-height: 100px;
	background-color: transparent;
	color: #3C454C;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#pu18815
{
	width: 0.01px;
	margin-left: 177px;
	margin-top: 12px;
}

#u18815
{
	z-index: 156;
	width: 277px;
	-pie-box-shadow: 0px 0px 20px 5px #8C8C8C;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.45),0px 0px 20px rgba(0,0,0,0.45);
	border-style: solid;
	border-width: 1px;
	border-color: #D1D1D1;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u18815:hover
{
	border-color: #FBB03B;
	width: 277px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18815_position_content
{
	margin-top: -1px;
	padding-bottom: 19px;
	width: 100%;
}

#u18837-6
{
	z-index: 161;
	width: 278px;
	min-height: 78px;
	background-color: #38302C;
	border-radius: 2px 2px 0px 0px ;
	text-align: center;
	left: -1px;
	position: relative;
}

#u18837-2
{
	font-size: 18px;
	line-height: 25px;
	padding-top: 18px;
	color: #FFFFFF;
	font-weight: bold;
}

#u18837-4
{
	font-size: 12px;
	line-height: 17px;
	color: #F7931E;
}

#u18802-4
{
	z-index: 169;
	width: 278px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	left: -1px;
	margin-top: 20px;
	position: relative;
}

#u18787-4
{
	z-index: 173;
	width: 278px;
	min-height: 28px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	border-width: 0px 0px 1px;
}

#u18786
{
	z-index: 177;
	width: 64px;
	height: 2px;
	background-color: #F77D2C;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u18805-4
{
	z-index: 186;
	width: 278px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	left: -1px;
	margin-top: 30px;
	position: relative;
}

#u18810-4
{
	z-index: 190;
	width: 278px;
	min-height: 28px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u18800
{
	z-index: 194;
	width: 64px;
	height: 2px;
	background-color: #F77D2C;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u18790-4
{
	z-index: 157;
	width: 278px;
	min-height: 25px;
	background-color: transparent;
	color: #2B2B2B;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	left: -1px;
	margin-top: 29px;
	position: relative;
}

#u18806-4
{
	z-index: 178;
	width: 224px;
	min-height: 34px;
	background-color: #F77D2C;
	border-radius: 3px;
	line-height: 13px;
	color: #FFFFFF;
	text-align: center;
	font-size: 11px;
	margin-left: 26px;
	margin-top: 16px;
	position: relative;
}

#u18806-4:hover
{
	background-color: #F77111;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 224px;
	margin: 16px 0px 0px 26px;
}

#u18788
{
	z-index: 145;
	width: 277px;
	-pie-box-shadow: 0px 0px 20px 5px #8C8C8C;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.45),0px 0px 20px rgba(0,0,0,0.45);
	border-style: solid;
	border-width: 1px;
	border-color: #D1D1D1;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u18788:hover
{
	border-color: #FBB03B;
	width: 277px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u18788_position_content
{
	margin-top: -10px;
	padding-bottom: 20px;
	width: 100%;
}

#pu18808-6
{
	width: 0.01px;
	margin-left: -1px;
}

#u18808-6
{
	z-index: 150;
	width: 278px;
	min-height: 78px;
	background-color: #F7812C;
	border-radius: 2px 2px 0px 0px ;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u18808-2
{
	font-size: 18px;
	line-height: 25px;
	padding-top: 18px;
	font-weight: bold;
}

#u18808-4
{
	font-size: 12px;
	line-height: 17px;
}

#u18816
{
	z-index: 167;
	width: 116px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 170px;
}

#u18809-4
{
	z-index: 195;
	width: 278px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	left: -1px;
	margin-top: 8px;
	position: relative;
}

#u18835-4
{
	z-index: 199;
	width: 278px;
	min-height: 28px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	border-width: 0px 0px 1px;
}

#u18799
{
	z-index: 203;
	width: 64px;
	height: 2px;
	background-color: #F77D2C;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u18807-4
{
	z-index: 204;
	width: 278px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	left: -1px;
	margin-top: 38px;
	position: relative;
}

#u18802-2,#u18805-2,#u18809-2,#u18807-2
{
	padding-top: 14px;
}

#pu18787-4,#pu18810-4,#pu18835-4,#pu18784-4
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: -1px;
}

#u18784-4
{
	z-index: 208;
	width: 278px;
	min-height: 28px;
	border-style: solid;
	border-color: #D1D1D1;
	background-color: transparent;
	line-height: 14px;
	color: #727272;
	text-align: center;
	font-size: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u18787-2,#u18810-2,#u18835-2,#u18784-2
{
	padding-top: 6px;
}

#u18794
{
	z-index: 212;
	width: 64px;
	height: 2px;
	background-color: #F77D2C;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u18813-4
{
	z-index: 146;
	width: 278px;
	min-height: 25px;
	background-color: transparent;
	color: #2B2B2B;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	left: -1px;
	margin-top: 31px;
	position: relative;
}

#u18792-4
{
	z-index: 182;
	width: 224px;
	min-height: 34px;
	background-color: #38302C;
	border-radius: 3px;
	line-height: 13px;
	color: #FFFFFF;
	text-align: center;
	font-size: 11px;
	margin-left: 26px;
	margin-top: 14px;
	position: relative;
}

#u18792-4:hover
{
	background-color: #685952;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 224px;
	margin: 14px 0px 0px 26px;
}

#u18806-2,#u18792-2
{
	padding-top: 10px;
}

#u18791-13
{
	z-index: 213;
	width: 942px;
	min-height: 102px;
	background-color: transparent;
	color: #3C454C;
	line-height: 16px;
	font-size: 13px;
	margin-top: 51px;
	position: relative;
}

#u18791-5
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u21823
{
	z-index: 65;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(100%, rgba(127,127,127,0.1)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#197F7F7F, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#197F7F7F', GradientType=0)";
}

#u21823-bw
{
	z-index: 65;
	height: 26px;
}

#pu21821
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u21821
{
	z-index: 63;
	height: 811px;
	border-style: solid;
	border-color: #E2E2E2;
	background-color: #F9F9F9;
	border-width: 1px 0px;
}

#u21821-bw
{
	z-index: 63;
	height: 811px;
}

#u21316-4
{
	z-index: 270;
	width: 942px;
	min-height: 100px;
	background-color: transparent;
	color: #3C454C;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u18789-2,#u18836-2,#u21814-2,#u18801-2,#u21316-2
{
	padding-top: 40px;
}

#u21319-60
{
	z-index: 274;
	width: 942px;
	min-height: 680px;
	background-color: transparent;
	color: #3C454C;
	line-height: 23px;
	font-size: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 100px;
}

#u21319-45
{
	font-size: 19px;
}

#u18791-2,#u18791-7,#u21319-4,#u21319-9,#u21319-14,#u21319-19,#u21319-24,#u21319-39,#u21319-44,#u21319-49
{
	font-weight: bold;
}

#u21319-26,#u21319-28,#u21319-30,#u21319-32,#u21319-34,#u21319-51
{
	font-style: italic;
}

#u18791-4,#u18791-9,#u18791-10,#u21319-2,#u21319-3,#u21319-6,#u21319-8,#u21319-11,#u21319-13,#u21319-16,#u21319-18,#u21319-21,#u21319-23,#u21319-36,#u21319-38,#u21319-41,#u21319-43,#u21319-46,#u21319-48,#u21319-53,#u21319-55,#u21319-57
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
}

#u21822
{
	z-index: 64;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(127,127,127,0.1)),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#197F7F7F, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#197F7F7F', endColorstr='#00FFFFFF', GradientType=0)";
}

#u21822-bw
{
	z-index: 64;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 26px;
}

#u18397,#u18397-bw
{
	z-index: 50;
	height: 26px;
}

#pu18402,#pu18785,#pu18380-4
{
	width: 0.01px;
	margin-left: -100px;
}

#u18380-4
{
	z-index: 2;
	min-height: 56px;
}

#u18380-4-bw
{
	z-index: 2;
	min-height: 56px;
	margin-top: 28px;
}

#u18411-3,#u18411-3-bw
{
	z-index: 8;
	min-height: 27px;
}

#u18381-4
{
	z-index: 11;
	width: 90px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#u18396-4
{
	z-index: 15;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 207px;
}

#u18395-4
{
	z-index: 19;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u18384-4
{
	z-index: 23;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 409px;
}

#u18410-4
{
	z-index: 27;
	width: 90px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#u18381-4:hover,#u18410-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u18401-4
{
	z-index: 31;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 611px;
}

#u18392-4
{
	z-index: 35;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 712px;
}

#u18396-4:hover,#u18395-4:hover,#u18384-4:hover,#u18401-4:hover,#u18392-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u18386
{
	z-index: 39;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 860px;
}

#u18399
{
	z-index: 41;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 980px;
}

#u18382
{
	z-index: 43;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 920px;
}

#u18388
{
	z-index: 45;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 950px;
}

#u18403
{
	z-index: 47;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 890px;
}

#u18386:hover,#u18399:hover,#u18382:hover,#u18388:hover,#u18403:hover
{
	width: 24px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u18398
{
	z-index: 62;
	width: 59px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1062px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 942px;
}

@font-face
{
	font-family: '__FontAwesome_5';
	src: url('../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

