.version.theme_white_knight /* version checker */
{
	color: #00001E;
	background-color: #72922A;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#pu1815-6
{
	width: 0.01px;
}

#u1815-6
{
	z-index: 4;
	width: 600px;
	min-height: 63px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1815-2
{
	font-size: 30px;
	line-height: 36px;
}

#u1815-4
{
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 711px;
}

#pu1818
{
	width: 0.01px;
	margin-top: 5px;
}

#u1818
{
	z-index: 45;
	width: 600px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u9697
{
	z-index: 3;
	width: 67px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	left: 711px;
}

#pu1814-35
{
	width: 0.01px;
	margin-top: 11px;
}

#u1814-35
{
	z-index: 10;
	width: 600px;
	min-height: 94px;
	background-color: transparent;
	text-align: justify;
	font-family: bitter, serif;
	position: relative;
	margin-right: -10000px;
}

#u1814-16
{
	color: #FFFFFF;
}

#u1814-23
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
}

#u1814-2,#u1814-9,#u1814-22,#u1814-29
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

#u1814-10,#u1814-30
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

#u1814-4,#u1814-31
{
	font-size: 16px;
}

#u1814-3,#u1814-5,#u1814-6,#u1814-7,#u1814-11,#u1814-12,#u1814-13,#u1814-14,#u1814-18,#u1814-19,#u1814-20,#u1814-25,#u1814-26,#u1814-27,#u1814-32,#u1814-33
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

#u1829
{
	z-index: 47;
	width: 155px;
	min-height: 54px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

