.version.theme_fashion_style /* version checker */
{
	color: #00001D;
	background-color: #CE8F01;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 13px;
	width: 0.01px;/* should not cover content below */
}

#pu1457-6
{
	width: 0.01px;
}

#u1457-6
{
	z-index: 6;
	width: 600px;
	min-height: 63px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1457-2
{
	font-size: 30px;
	line-height: 36px;
}

#u1457-4
{
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}

#pu1955
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 624px;
}

#u1955
{
	z-index: 2;
	width: 50px;
	min-height: 25px;
	position: relative;
}

#u9697
{
	z-index: 3;
	width: 67px;
	min-height: 32px;
	margin-top: 6px;
	position: relative;
}

#u1454
{
	z-index: 4;
	width: 600px;
	background-color: transparent;
	margin-top: 39px;
	position: relative;
}

#pu1835-35
{
	width: 0.01px;
	margin-top: 31px;
}

#u1835-35
{
	z-index: 12;
	width: 599px;
	min-height: 94px;
	background-color: transparent;
	text-align: justify;
	font-family: bitter, serif;
	position: relative;
	margin-right: -10000px;
}

#u1835-21
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
}

#u1835-2,#u1835-8,#u1835-20,#u1835-27
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

#u1835-9,#u1835-28
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

#u1835-3,#u1835-5,#u1835-6,#u1835-11,#u1835-12,#u1835-13,#u1835-14,#u1835-16,#u1835-17,#u1835-18,#u1835-23,#u1835-24,#u1835-25,#u1835-30,#u1835-31,#u1835-33
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

#u1835-29,#u1835-32
{
	font-size: 16px;
}

#u1836
{
	z-index: 47;
	width: 155px;
	min-height: 54px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
}

.html
{
	background-color: #5FBDE2;
}

body
{
	position: relative;
	min-width: 600px;
}

