.version.theme_authors_notepad /* version checker */
{
	color: #000009;
	background-color: #EE99D4;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.8499999999999px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 13px;
	width: 0.01px;/* should not cover content below */
}

#pu1955
{
	width: 0.01px;
	margin-left: -29px;
}

#u1955
{
	z-index: 2;
	width: 50px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 653px;
}

#u1609-6
{
	z-index: 3;
	width: 657px;
	min-height: 63px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1609-2
{
	font-size: 30px;
	line-height: 36px;
}

#u1609-4
{
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}

#u6232
{
	z-index: 100;
	width: 600px;
	background-color: transparent;
	margin-top: 34px;
	position: relative;
}

#pu1610-90
{
	width: 0.01px;
	margin-top: 24px;
}

#u1610-90
{
	z-index: 9;
	width: 600px;
	min-height: 140px;
	background-color: transparent;
	text-align: justify;
	text-indent: 5px;
	font-family: bitter, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1610-11,#u1610-53
{
	font-size: 16px;
	line-height: 21px;
	color: #000000;
	font-weight: 700;
}

#u1610-50 > #u1610-13:before,#u1610-50 > #u1610-15:before,#u1610-50 > #u1610-17:before,#u1610-50 > #u1610-19:before,#u1610-50 > #u1610-21:before,#u1610-50 > #u1610-23:before,#u1610-50 > #u1610-25:before,#u1610-50 > #u1610-27:before,#u1610-50 > #u1610-29:before,#u1610-50 > #u1610-31:before,#u1610-50 > #u1610-33:before,#u1610-50 > #u1610-35:before,#u1610-50 > #u1610-37:before,#u1610-50 > #u1610-39:before,#u1610-50 > #u1610-41:before,#u1610-50 > #u1610-43:before,#u1610-50 > #u1610-45:before,#u1610-50 > #u1610-47:before,#u1610-50 > #u1610-49:before,#u1610-60 > #u1610-55:before,#u1610-60 > #u1610-57:before,#u1610-60 > #u1610-59:before
{
	font-family: bitter, Georgia;
	font-weight: 400;
}

#u1610-64
{
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
}

#u1610-65
{
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
}

#u1610-2,#u1610-8,#u1610-74,#u1610-84
{
	font-size: 20px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
}

#u1610-3,#u1610-5,#u1610-6,#u1610-9,#u1610-13,#u1610-15,#u1610-17,#u1610-19,#u1610-21,#u1610-23,#u1610-25,#u1610-27,#u1610-29,#u1610-31,#u1610-33,#u1610-35,#u1610-37,#u1610-39,#u1610-41,#u1610-43,#u1610-45,#u1610-47,#u1610-49,#u1610-51,#u1610-55,#u1610-57,#u1610-59,#u1610-61,#u1610-62,#u1610-67,#u1610-68,#u1610-69,#u1610-70,#u1610-71,#u1610-72,#u1610-75,#u1610-77,#u1610-78,#u1610-80,#u1610-81,#u1610-82,#u1610-85,#u1610-87,#u1610-88
{
	font-size: 16px;
	line-height: 21px;
	color: #000000;
	font-weight: 400;
}

#u6126
{
	z-index: 99;
	width: 155px;
	min-height: 54px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 904px;
}

.html
{
	background-color: #5FBDE2;
}

body
{
	position: relative;
	min-width: 600px;
}

