.version.theme_circus /* version checker */
{
	color: #0000E5;
	background-color: #12EDC0;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#pu5542-6
{
	width: 0.01px;
}

#u5542-6
{
	z-index: 4;
	width: 599px;
	min-height: 63px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u5542-2
{
	font-size: 30px;
	line-height: 36px;
}

#u5542-4
{
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 711px;
}

#pu6139
{
	width: 0.01px;
	margin-top: 5px;
}

#u6139
{
	z-index: 43;
	width: 600px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u9697
{
	z-index: 3;
	width: 67px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	left: 711px;
}

#u6144
{
	z-index: 45;
	width: 600px;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
}

#u6151
{
	z-index: 47;
	width: 600px;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#pu5545-32
{
	width: 0.01px;
	margin-top: 52px;
}

#u5545-32
{
	z-index: 10;
	width: 600px;
	min-height: 94px;
	background-color: transparent;
	text-align: justify;
	font-family: bitter, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u5545-15
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
}

#u5545-2,#u5545-7,#u5545-14,#u5545-21
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

#u5545-22
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

#u5545-23,#u5545-25,#u5545-28
{
	font-size: 16px;
}

#u5545-3,#u5545-4,#u5545-5,#u5545-8,#u5545-9,#u5545-10,#u5545-11,#u5545-12,#u5545-17,#u5545-18,#u5545-19,#u5545-24,#u5545-26,#u5545-27,#u5545-29,#u5545-30
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

#u5546
{
	z-index: 42;
	width: 155px;
	min-height: 54px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

