.version.theme_simple_notepad /* version checker */
{
	color: #0000E7;
	background-color: #8223D8;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.99999999999955px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#pu6300-6
{
	width: 0.01px;
}

#u6300-6
{
	z-index: 4;
	width: 600px;
	min-height: 63px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u6300-2
{
	font-size: 30px;
	line-height: 36px;
}

#u6300-4
{
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}

#pu1955
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 711px;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
}

#u17867
{
	z-index: 3;
	width: 59px;
	min-height: 59px;
	margin-left: 4px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u6299-27
{
	z-index: 10;
	width: 600px;
	min-height: 140px;
	background-color: transparent;
	color: #000000;
	text-align: justify;
	text-indent: 5px;
	font-family: bitter, serif;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u6299-8
{
	font-size: 18px;
	line-height: 23px;
	font-weight: 700;
}

#u6299-22 > #u6299-11:before,#u6299-22 > #u6299-13:before,#u6299-22 > #u6299-15:before,#u6299-22 > #u6299-17:before,#u6299-22 > #u6299-19:before,#u6299-22 > #u6299-21:before
{
	font-family: bitter, Georgia;
	font-weight: 400;
}

#u6299-2,#u6299-3,#u6299-5,#u6299-6,#u6299-9,#u6299-11,#u6299-13,#u6299-15,#u6299-17,#u6299-19,#u6299-21,#u6299-23,#u6299-25
{
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
}

#u10948
{
	z-index: 46;
	width: 600px;
	background-color: transparent;
	margin-top: 32px;
	position: relative;
}

#u10880
{
	z-index: 40;
	width: 600px;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#u10890
{
	z-index: 42;
	width: 600px;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#u10900
{
	z-index: 44;
	width: 600px;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#u10877-3
{
	z-index: 37;
	width: 600px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	text-indent: 5px;
	line-height: 21px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-top: 43px;
	position: relative;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

