.version.theme_anarcho_notepad /* version checker */
{
	color: #000018;
	background-color: #2AB844;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.8499999999999px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 13px;
	width: 0.01px;/* should not cover content below */
}

#pu1580-6
{
	width: 0.01px;
}

#u1580-6
{
	z-index: 4;
	width: 599px;
	min-height: 63px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1580-2
{
	font-size: 30px;
	line-height: 36px;
}

#u1580-4
{
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}

#pu1955
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 624px;
}

#u1955
{
	z-index: 2;
	width: 50px;
	min-height: 25px;
	position: relative;
}

#u9697
{
	z-index: 3;
	width: 67px;
	min-height: 32px;
	margin-top: 6px;
	position: relative;
}

#u5424
{
	z-index: 113;
	width: 600px;
	background-color: transparent;
	margin-top: 34px;
	position: relative;
}

#pu1579-102
{
	width: 0.01px;
	margin-top: 17px;
}

#u1579-102
{
	z-index: 10;
	width: 600px;
	min-height: 168px;
	background-color: transparent;
	text-indent: 5px;
	text-align: justify;
	font-family: bitter, serif;
	position: relative;
	margin-right: -10000px;
}

#u1579-51 > #u1579-12:before,#u1579-51 > #u1579-14:before,#u1579-51 > #u1579-16:before,#u1579-51 > #u1579-18:before,#u1579-51 > #u1579-20:before,#u1579-51 > #u1579-22:before,#u1579-51 > #u1579-24:before,#u1579-51 > #u1579-26:before,#u1579-51 > #u1579-28:before,#u1579-51 > #u1579-30:before,#u1579-51 > #u1579-32:before,#u1579-51 > #u1579-34:before,#u1579-51 > #u1579-36:before,#u1579-51 > #u1579-38:before,#u1579-51 > #u1579-40:before,#u1579-51 > #u1579-42:before,#u1579-51 > #u1579-44:before,#u1579-51 > #u1579-46:before,#u1579-51 > #u1579-48:before,#u1579-51 > #u1579-50:before
{
	font-family: bitter, Georgia;
	font-weight: 400;
}

#u1579-2,#u1579-3,#u1579-9,#u1579-55,#u1579-65,#u1579-75,#u1579-76
{
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
}

#u1579-89,#u1579-91,#u1579-93,#u1579-95,#u1579-97,#u1579-99
{
	font-size: 16px;
	line-height: 21px;
	padding-left: 30px;
	font-weight: 400;
}

#u1579-5,#u1579-6,#u1579-7,#u1579-10,#u1579-12,#u1579-14,#u1579-16,#u1579-18,#u1579-20,#u1579-22,#u1579-24,#u1579-26,#u1579-28,#u1579-30,#u1579-32,#u1579-34,#u1579-36,#u1579-38,#u1579-40,#u1579-42,#u1579-44,#u1579-46,#u1579-48,#u1579-50,#u1579-52,#u1579-53,#u1579-56,#u1579-58,#u1579-59,#u1579-60,#u1579-61,#u1579-62,#u1579-63,#u1579-66,#u1579-68,#u1579-69,#u1579-71,#u1579-72,#u1579-73,#u1579-84,#u1579-85,#u1579-87,#u1579-100
{
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
}

#u1833
{
	z-index: 112;
	width: 212px;
	min-height: 68px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 873px;
	left: 194px;
}

.html
{
	background-color: #5FBDE2;
}

body
{
	position: relative;
	min-width: 600px;
}

