.version.theme_white_knight /* version checker */
{
	color: #0000E4;
	background-color: #AC1DAB;
}

.html
{
	background-color: #5FBDE2;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.5px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u1892
{
	z-index: 2;
	width: 200px;
	min-height: 35px;
	margin-right: -10000px;
	left: 529px;
}

#u1815-6
{
	z-index: 3;
	width: 657px;
	min-height: 63px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u1815-2
{
	font-size: 30px;
	line-height: 36px;
}

#u1815-4
{
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}

#u1818
{
	z-index: 46;
	width: 629px;
	background-color: transparent;
	left: -29px;
	position: relative;
}

#pu1892,#pu1814-37
{
	width: 0.01px;
	margin-left: -29px;
}

#u1814-37
{
	z-index: 9;
	width: 656px;
	min-height: 94px;
	background-color: transparent;
	text-align: justify;
	font-family: bitter, serif;
	position: relative;
	margin-right: -10000px;
}

#u1814-18
{
	color: #FFFFFF;
}

#u1814-25
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
}

#u1814-2,#u1814-9,#u1814-24,#u1814-31
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

#u1814-10,#u1814-32
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

#u1814-4,#u1814-33
{
	font-size: 16px;
}

#u1814-3,#u1814-5,#u1814-6,#u1814-7,#u1814-12,#u1814-13,#u1814-14,#u1814-15,#u1814-16,#u1814-20,#u1814-21,#u1814-22,#u1814-27,#u1814-28,#u1814-29,#u1814-34,#u1814-35
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

#u1829
{
	z-index: 48;
	width: 155px;
	min-height: 54px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
}

body
{
	position: relative;
	min-width: 600px;
}

#page .verticalspacer
{
	clear: both;
}

