.version.theme_simple_notepad /* version checker */
{
	color: #00000B;
	background-color: #BC8C96;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.99999999999955px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#pu6300-6
{
	width: 0.01px;
}

#u6300-6
{
	z-index: 4;
	width: 600px;
	min-height: 63px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u6300-2
{
	font-size: 30px;
	line-height: 36px;
}

#u6300-4
{
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}

#pu1955
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 711px;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
}

#u17867
{
	z-index: 3;
	width: 59px;
	min-height: 59px;
	margin-left: 4px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u18025
{
	z-index: 72;
	width: 600px;
	background-color: transparent;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u6299-59
{
	z-index: 10;
	width: 600px;
	min-height: 140px;
	background-color: transparent;
	color: #000000;
	text-align: justify;
	text-indent: 5px;
	font-family: bitter, serif;
	margin-top: 24px;
	position: relative;
}

#u6299-2,#u6299-8
{
	font-size: 18px;
	line-height: 23px;
	font-weight: 700;
}

#u6299-54 > #u6299-11:before,#u6299-54 > #u6299-13:before,#u6299-54 > #u6299-15:before,#u6299-54 > #u6299-17:before,#u6299-54 > #u6299-19:before,#u6299-54 > #u6299-21:before,#u6299-54 > #u6299-23:before,#u6299-54 > #u6299-25:before,#u6299-54 > #u6299-27:before,#u6299-54 > #u6299-29:before,#u6299-54 > #u6299-31:before,#u6299-54 > #u6299-33:before,#u6299-54 > #u6299-35:before,#u6299-54 > #u6299-37:before,#u6299-54 > #u6299-39:before,#u6299-54 > #u6299-41:before,#u6299-54 > #u6299-43:before,#u6299-54 > #u6299-45:before,#u6299-54 > #u6299-47:before,#u6299-54 > #u6299-49:before,#u6299-54 > #u6299-51:before,#u6299-54 > #u6299-53:before
{
	font-family: bitter, Georgia;
	font-weight: 400;
}

#u6299-3,#u6299-5,#u6299-6,#u6299-9,#u6299-11,#u6299-13,#u6299-15,#u6299-17,#u6299-19,#u6299-21,#u6299-23,#u6299-25,#u6299-27,#u6299-29,#u6299-31,#u6299-33,#u6299-35,#u6299-37,#u6299-39,#u6299-41,#u6299-43,#u6299-45,#u6299-47,#u6299-49,#u6299-51,#u6299-53,#u6299-55,#u6299-57
{
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
}

#u10877-3
{
	z-index: 69;
	width: 600px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 16px;
	text-indent: 5px;
	line-height: 21px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

