/*

*/

.version.theme_anarcho_notepad /* version checker */
{
	color: #000003;
	background-color: #E19274;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 872.8500000000004px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#u19257
{
	z-index: 6;
	min-height: 152px;
	padding-bottom: 370px;
}

#u19257_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
}

#u19253
{
	z-index: 7;
	width: 139px;
	height: 152px;
	position: relative;
	margin-right: -10000px;
	left: 1003px;
}

.ie #u19253
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u19257-bw
{
	z-index: 6;
	min-height: 152px;
}

#u19251
{
	z-index: 49;
	height: 35px;
}

#u19251-bw
{
	z-index: 49;
	margin-top: 522px;
	height: 35px;
}

#u19242
{
	z-index: 51;
	width: 775px;
	padding-bottom: 66px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 184px;
}

#u18320
{
	z-index: 166;
	width: 500px;
	height: 313px;
	border-style: solid;
	border-color: #757575;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 135px;
	border-width: 0px 0px 1px;
	background: transparent url("../images/anarcho-notepad-preview-cropped-u18320-fr.jpg") no-repeat center top;
	background-size: cover;
}

#pu19268
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 82px;
	margin-left: 720px;
}

#u19268
{
	z-index: 52;
	width: 29px;
	position: relative;
}

#u19268:hover
{
	width: 29px;
	min-height: 0px;
	margin: 0px;
}

#u19238
{
	z-index: 60;
	width: 29px;
	margin-top: 10px;
	position: relative;
}

#u19236
{
	z-index: 56;
	width: 29px;
	margin-top: 10px;
	position: relative;
}

#u19266
{
	z-index: 58;
	width: 29px;
	margin-top: 10px;
	position: relative;
}

#u19258
{
	z-index: 54;
	width: 29px;
	margin-top: 10px;
	position: relative;
}

#u19238:hover,#u19236:hover,#u19266:hover,#u19258:hover
{
	width: 29px;
	min-height: 0px;
	margin: 10px 0px 0px;
}

#u18261-6
{
	z-index: 64;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u18326-7
{
	z-index: 83;
	width: 942px;
	min-height: 335px;
	background-color: transparent;
	line-height: 29px;
	color: #3C454C;
	font-size: 19px;
	font-family: adamina, serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 64px;
	position: relative;
}

#u18327
{
	float: left;
	margin: 10px;
}

#u18328
{
	z-index: 87;
	width: 110px;
	height: 109px;
	background: transparent url("../images/favicon.jpg") no-repeat center center;
	background-size: cover;
}

#u18342
{
	z-index: 164;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(100%, rgba(127,127,127,0.1)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#197F7F7F, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#197F7F7F', GradientType=0)";
}

#u18342-bw
{
	z-index: 164;
	margin-top: 35px;
	height: 26px;
}

#u18276
{
	z-index: 63;
	min-height: 504px;
	border-style: solid;
	border-color: #E2E2E2;
	background-color: #F9F9F9;
	border-width: 1px 0px;
}

#u18276::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: none;
}

#u18276_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
	padding-top: 36px;
	padding-bottom: 37px;
	margin-bottom: -1px;
}

#u18279-4
{
	z-index: 75;
	width: 942px;
	min-height: 71px;
	background-color: transparent;
	line-height: 29px;
	color: #3C454C;
	text-align: center;
	font-size: 24px;
	font-family: buenard, serif;
	font-weight: 700;
	left: 101px;
	position: relative;
}

#pu18278-25
{
	width: 0.01px;
	left: 54px;
	margin-top: 1px;
	position: relative;
}

#u18278-25
{
	z-index: 116;
	width: 505px;
	min-height: 360px;
	background-color: transparent;
	line-height: 25px;
	color: #3B454C;
	font-size: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u18278-23 > li:before
{
	margin-right: 18px;
	content: '';
	margin-top: 0px;
	color: #29ABE2;
	font-family: '__FontAwesome_5';
	font-weight: 400;
}

#u18334-21
{
	z-index: 141;
	width: 505px;
	min-height: 360px;
	background-color: transparent;
	line-height: 25px;
	color: #3B454C;
	font-size: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#u18278-23,#u18334-19
{
	padding-left: 46px;
}

#u18278-23.rtl-list,#u18334-19.rtl-list
{
	padding-left: 0px;
	padding-right: 46px;
}

#u18334-19 > li:before
{
	margin-right: 18px;
	content: '';
	color: #29ABE2;
	font-family: '__FontAwesome_5';
	font-weight: 400;
}

#u18278-23.rtl-list > li:before,#u18334-19.rtl-list > li:before
{
	margin-right: 0px;
	margin-left: 18px;
}

#u18278-2,#u18278-4,#u18278-6,#u18278-8,#u18278-10,#u18278-12,#u18278-14,#u18278-16,#u18278-18,#u18278-20,#u18278-22,#u18334-2,#u18334-4,#u18334-6,#u18334-8,#u18334-10,#u18334-12,#u18334-14,#u18334-16,#u18334-18
{
	padding-top: 3px;
}

#u18276-bw
{
	z-index: 63;
	min-height: 504px;
	margin-top: -1px;
}

#u18259
{
	z-index: 162;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(127,127,127,0.1)),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#197F7F7F, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#197F7F7F', endColorstr='#00FFFFFF', GradientType=0)";
}

#u18259-bw
{
	z-index: 162;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 26px;
}

#u18324-4
{
	z-index: 71;
	width: 942px;
	min-height: 71px;
	background-color: transparent;
	line-height: 29px;
	color: #3C454C;
	text-align: center;
	font-size: 24px;
	font-family: buenard, serif;
	font-weight: 700;
	margin-top: 33px;
	position: relative;
}

#slideshowu18283
{
	z-index: 92;
	width: 0.01px;
	height: 152px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18303
{
	position: absolute;
	width: 1184px;
	height: 799px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -189px;
	left: 134px;
	-pie-background: rgba(0,0,0,0.9);
}

#u18303popup
{
	z-index: 93;
}

#u19606
{
	z-index: 94;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u19606_img
{
	padding-left: 34px;
	padding-right: 35px;
}

#u19626
{
	z-index: 96;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u19626_img
{
	padding-left: 187px;
	padding-right: 188px;
}

#u18291
{
	position: absolute;
	width: 1142px;
	border-color: #3B454C;
	background-color: transparent;
	padding-bottom: 6px;
}

#u18291popup
{
	z-index: 98;
}

#u19612
{
	z-index: 99;
	width: 191px;
	height: 140px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 363px;
}

#u19612_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u19632
{
	z-index: 101;
	width: 191px;
	height: 140px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(237,237,237,0.5),0px 0px 8px rgba(237,237,237,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 586px;
}

#u19612:hover,#u19632:hover
{
	border-color: #2C6C7A;
	width: 191px;
	height: 140px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u18318-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 142px;
	left: 111px;
}

#u18318-4popup
{
	z-index: 103;
}

#u18290-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 142px;
	left: 1316px;
}

#u18290-4popup
{
	z-index: 107;
}

#u18314
{
	position: absolute;
	width: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -167px;
	left: 1311px;
}

#u18314:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u18314:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u18315-4
{
	z-index: 112;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u18274
{
	z-index: 165;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(100%, rgba(127,127,127,0.1)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,rgba(127,127,127,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#197F7F7F, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#197F7F7F', GradientType=0)";
}

#u18274-bw
{
	z-index: 165;
	margin-top: 43px;
	height: 26px;
}

#u18252
{
	z-index: 70;
	min-height: 313.89308582401304px;
	border-style: solid;
	border-color: #E2E2E2;
	background-color: #F9F9F9;
	padding-bottom: 0px;
	border-width: 1px 0px;
}

#u18252_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 942px;
	left: -100px;
	padding-top: 31px;
	padding-bottom: 46px;
}

#u18336-4
{
	z-index: 79;
	width: 942px;
	min-height: 71px;
	background-color: transparent;
	line-height: 29px;
	color: #3C454C;
	text-align: center;
	font-size: 24px;
	font-family: buenard, serif;
	font-weight: 700;
	left: 100px;
	position: relative;
}

#u18324-2,#u18336-2
{
	padding-top: 15px;
}

#u19387-4
{
	z-index: 185;
	width: 942px;
	min-height: 98px;
	background-color: transparent;
	line-height: 29px;
	color: #3C454C;
	font-size: 19px;
	font-family: adamina, serif;
	font-weight: 400;
	left: 100px;
	position: relative;
}

#u19382
{
	z-index: 184;
	width: 212px;
	min-height: 68px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 465px;
	position: relative;
}

#u18252-bw
{
	z-index: 70;
	min-height: 313.89308582401304px;
}

#u18332
{
	z-index: 163;
	height: 26px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(127,127,127,0.1)),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(127,127,127,0.1) ,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#197F7F7F, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#197F7F7F', endColorstr='#00FFFFFF', GradientType=0)";
}

#u18332-bw
{
	z-index: 163;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 26px;
}

#u19370-4
{
	z-index: 167;
	width: 942px;
	min-height: 71px;
	background-color: transparent;
	line-height: 29px;
	color: #3C454C;
	text-align: center;
	font-size: 24px;
	font-family: buenard, serif;
	font-weight: 700;
	margin-top: 29px;
	position: relative;
}

#u18279-2,#u19370-2
{
	padding-top: 22px;
}

#u19373-13
{
	z-index: 171;
	width: 942px;
	min-height: 242px;
	background-color: transparent;
	line-height: 29px;
	color: #3C454C;
	font-size: 19px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
}

#u19270,#u19270-bw
{
	z-index: 50;
	height: 26px;
}

#pu19257,#pu19245-4
{
	width: 0.01px;
	margin-left: -100px;
}

#u19245-4
{
	z-index: 2;
	min-height: 56px;
}

#u19245-4-bw
{
	z-index: 2;
	min-height: 56px;
	margin-top: 28px;
}

#u19261-3,#u19261-3-bw
{
	z-index: 8;
	min-height: 27px;
}

#u19260-4
{
	z-index: 11;
	width: 90px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#u19262-4
{
	z-index: 15;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 207px;
}

#u19265-4
{
	z-index: 19;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u19252-4
{
	z-index: 23;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 409px;
}

#u19243-4
{
	z-index: 27;
	width: 90px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#u19260-4:hover,#u19243-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u19244-4
{
	z-index: 31;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 611px;
}

#u19256-4
{
	z-index: 35;
	width: 90px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 712px;
}

#u19262-4:hover,#u19265-4:hover,#u19252-4:hover,#u19244-4:hover,#u19256-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u19240
{
	z-index: 39;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 860px;
}

#u19263
{
	z-index: 41;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 980px;
}

#u19247
{
	z-index: 43;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 920px;
}

#u19254
{
	z-index: 45;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 950px;
}

#u19249
{
	z-index: 47;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 890px;
}

#u19240:hover,#u19263:hover,#u19247:hover,#u19254:hover,#u19249:hover
{
	width: 24px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u19246
{
	z-index: 62;
	width: 59px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1062px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 942px;
}

@font-face
{
	font-family: '__FontAwesome_5';
	src: url('../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}


