.version.theme_my_business_card /* version checker */
{
	color: #0000F4;
	background-color: #4469BF;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#pu1881-6
{
	width: 0.01px;
}

#u1881-6
{
	z-index: 6;
	width: 600px;
	min-height: 63px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1881-2
{
	font-size: 30px;
	line-height: 36px;
}

#u1881-4
{
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}

#pu1955
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 711px;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
}

#u17867
{
	z-index: 3;
	width: 59px;
	min-height: 59px;
	margin-left: 4px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u1879
{
	z-index: 4;
	width: 600px;
	background-color: transparent;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pu1882-34
{
	width: 0.01px;
	margin-top: 36px;
}

#u1882-34
{
	z-index: 12;
	width: 600px;
	min-height: 94px;
	background-color: transparent;
	text-align: justify;
	font-family: bitter, serif;
	position: relative;
	margin-right: -10000px;
}

#u1882-19
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
}

#u1882-2,#u1882-8,#u1882-18,#u1882-25
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

#u1882-9,#u1882-26
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

#u1882-27,#u1882-30
{
	font-size: 16px;
}

#u1882-3,#u1882-5,#u1882-6,#u1882-10,#u1882-11,#u1882-12,#u1882-14,#u1882-15,#u1882-16,#u1882-21,#u1882-22,#u1882-23,#u1882-28,#u1882-29,#u1882-31,#u1882-32
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

#u1876
{
	z-index: 46;
	width: 155px;
	min-height: 54px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

