.version.theme_authors_notepad /* version checker */
{
	color: #000004;
	background-color: #29A630;
}

.html
{
	background-color: #5FBDE2;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.85px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 13px;
	width: 0.01px;
}

#u1609-6
{
	z-index: 2;
	width: 657px;
	min-height: 63px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	left: -29px;
	position: relative;
}

#u1609-2
{
	font-size: 30px;
	line-height: 36px;
}

#u1609-4
{
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}

#u1615
{
	z-index: 12;
	width: 625px;
	background-color: transparent;
	left: -13px;
	margin-top: 15px;
	position: relative;
}

#u1610-4
{
	z-index: 8;
	width: 625px;
	min-height: 140px;
	background-color: transparent;
	color: #000000;
	text-align: justify;
	text-indent: 5px;
	line-height: 21px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	left: -13px;
	margin-top: 20px;
	position: relative;
}

body
{
	position: relative;
	min-width: 600px;
}

#page .verticalspacer
{
	clear: both;
}

