.version.website_arthurgareginyan /* version checker */
{
	color: #0000F6;
	background-color: #E113EF;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#ppu1670-7
{
	width: 0.01px;
}

#pu1670-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1670-7
{
	z-index: 16;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1670-2
{
	font-size: 25px;
	line-height: 30px;
}

#u1670-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1672
{
	z-index: 23;
	width: 600px;
	height: 373px;
	position: relative;
	background: transparent url("../images/arthurgareginyan.jpg") no-repeat center top;
	background-size: cover;
}

#pu1955
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 711px;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
}

#u17867
{
	z-index: 3;
	width: 59px;
	min-height: 59px;
	margin-left: 4px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u1770-6
{
	z-index: 24;
	width: 600px;
	min-height: 42px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1669-12
{
	z-index: 4;
	width: 600px;
	min-height: 66px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1770-3,#u1770-4,#u1669-3,#u1669-5,#u1669-7,#u1669-9
{
	color: #000000;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

