.version.website_studiokr /* version checker */
{
	color: #00000A;
	background-color: #22B361;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#ppu1739-7
{
	width: 0.01px;
}

#pu1739-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1739-7
{
	z-index: 17;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1739-2
{
	font-size: 25px;
	line-height: 30px;
}

#u1739-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1739-3
{
	text-decoration: none;
}

#u1792-6
{
	z-index: 25;
	width: 600px;
	min-height: 33px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#pu1955
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 711px;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
}

#u17867
{
	z-index: 3;
	width: 59px;
	min-height: 59px;
	margin-left: 4px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u1740
{
	z-index: 24;
	width: 600px;
	height: 348px;
	position: relative;
	background: transparent url("../images/studio-kr.jpg") no-repeat left top;
	background-size: contain;
}

#u1741-13
{
	z-index: 4;
	width: 600px;
	min-height: 52px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1741-2,#u1741-5,#u1741-8
{
	color: #FFFFFF;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

