.version.website_prison_diaries_com /* version checker */
{
	color: #00000B;
	background-color: #82033C;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#ppu18044-7
{
	width: 0.01px;
}

#pu18044-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u18044-7
{
	z-index: 21;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u18044-2
{
	font-size: 25px;
	line-height: 30px;
}

#u18044-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u18045-6
{
	z-index: 28;
	width: 600px;
	min-height: 43px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#pu1955
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 711px;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
}

#u17867
{
	z-index: 3;
	width: 59px;
	min-height: 59px;
	margin-left: 4px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u18125
{
	z-index: 34;
	width: 600px;
	background-color: transparent;
	position: relative;
}

#u18037-17
{
	z-index: 4;
	width: 600px;
	min-height: 59px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u18037,#u18037-3,#u18037-4,#u18037-6,#u18037-8,#u18037-10,#u18037-12,#u18037-14
{
	color: #000000;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

