.version.website_bmwz3brutality /* version checker */
{
	color: #000006;
	background-color: #021273;
}

.html
{
	background-color: #5FBDE2;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.85px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 13px;
	width: 0.01px;
}

#u1678-7
{
	z-index: 16;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1678-2
{
	font-size: 25px;
	line-height: 30px;
}

#u1678-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1676
{
	z-index: 23;
	width: 600px;
	height: 328px;
	margin-top: 15px;
	position: relative;
	background: transparent url("../images/bmwz3brutality.jpg") no-repeat center top;
	background-size: cover;
}

#u1677-14
{
	z-index: 2;
	width: 600px;
	min-height: 95px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u1677,#u1677-6,#u1677-9
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 600px;
}

#page .verticalspacer
{
	clear: both;
}

