.version.website_milenakiseleva /* version checker */
{
	color: #000019;
	background-color: #E871FF;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#ppu1684-7
{
	width: 0.01px;
}

#pu1684-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1684-7
{
	z-index: 22;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1684-2
{
	font-size: 25px;
	line-height: 30px;
}

#u1684-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1684-3
{
	text-decoration: none;
}

#u1686
{
	z-index: 29;
	width: 600px;
	height: 305px;
	position: relative;
	background: transparent url("../images/milenakiselevablogspotcom.jpg") no-repeat left top;
	background-size: contain;
}

#pu1955
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 711px;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
}

#u17867
{
	z-index: 3;
	width: 59px;
	min-height: 59px;
	margin-left: 4px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u1777-6
{
	z-index: 30;
	width: 600px;
	min-height: 44px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1685-18
{
	z-index: 4;
	width: 600px;
	min-height: 95px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1685-12
{
	font-size: 16px;
	text-decoration: none;
}

#u1685-3,#u1685-5,#u1685-7,#u1685-9,#u1685-11,#u1685-14,#u1685-16
{
	color: #000000;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

