.version.website_oneberserkr /* version checker */
{
	color: #000015;
	background-color: #E19DA0;
}

.html
{
	background-color: #5FBDE2;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 13px;
	width: 0.01px;
}

#u1704-7
{
	z-index: 11;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1704-2
{
	font-size: 25px;
	line-height: 30px;
}

#u1704-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1767-5
{
	z-index: 19;
	width: 600px;
	min-height: 60px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1702
{
	z-index: 18;
	width: 600px;
	height: 305px;
	position: relative;
	background: transparent url("../images/oneberserkblogspotcom.jpg") no-repeat left top;
	background-size: contain;
}

#u1703-9
{
	z-index: 2;
	width: 600px;
	min-height: 110px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1703-2,#u1703-5
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 600px;
}

#page .verticalspacer
{
	clear: both;
}

