.version.website_bmwz3brutality /* version checker */
{
	color: #0000E1;
	background-color: #711C0D;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.79999999999995px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#u1678-7
{
	z-index: 17;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1678-2
{
	font-size: 25px;
	line-height: 30px;
}

#u1678-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1678-3
{
	text-decoration: none;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 711px;
}

#pu1678-7,#pu1769-6
{
	width: 0.01px;
}

#u1769-6
{
	z-index: 25;
	width: 600px;
	min-height: 60px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u9697
{
	z-index: 3;
	width: 67px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 711px;
}

#u1676
{
	z-index: 24;
	width: 600px;
	height: 309px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	background: transparent url("../images/bmwz3brutality.jpg") no-repeat center top;
	background-size: cover;
}

#u1677-13
{
	z-index: 4;
	width: 600px;
	min-height: 95px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1677-2,#u1677-5,#u1677-8
{
	color: #FFFFFF;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

