.version.website_bizconsultinghub_com /* version checker */
{
	color: #000007;
	background-color: #73AED6;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.8624023437508px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#u9502-7
{
	z-index: 22;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u9502-2
{
	font-size: 25px;
	line-height: 30px;
}

#u9502-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 711px;
}

#pu9502-7,#ppu9503-6
{
	width: 0.01px;
}

#pu9503-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u9503-6
{
	z-index: 29;
	width: 600px;
	min-height: 43px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u9567
{
	z-index: 43;
	width: 600px;
	background-color: transparent;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u9697
{
	z-index: 3;
	width: 67px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 711px;
}

#u9501-18
{
	z-index: 4;
	width: 600px;
	min-height: 59px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u9501,#u9501-3,#u9501-4,#u9501-9,#u9501-12
{
	color: #000000;
}

#u9501-5,#u9501-8,#u9501-13
{
	color: #FFFFFF;
}

#u9514
{
	z-index: 35;
	width: 600px;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u9544-4
{
	z-index: 39;
	width: 600px;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	color: #000000;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u9524
{
	z-index: 37;
	width: 600px;
	background-color: transparent;
	position: relative;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

