.version.website_vipmegastar /* version checker */
{
	color: #00000B;
	background-color: #CAE540;
}

.html
{
	background-color: #5FBDE2;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.5px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 13px;
	width: 0.01px;
}

#u1747-7
{
	z-index: 12;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1747-2
{
	font-size: 25px;
	line-height: 30px;
}

#u1747-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1796-6
{
	z-index: 20;
	width: 600px;
	min-height: 43px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1749
{
	z-index: 19;
	width: 600px;
	height: 320px;
	position: relative;
	background: transparent url("../images/vipmegastar.jpg") no-repeat left top;
	background-size: contain;
}

#u1748-10
{
	z-index: 2;
	width: 600px;
	min-height: 59px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1748-2,#u1748-5
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 600px;
}

#page .verticalspacer
{
	clear: both;
}

