.version.website_studiokr /* version checker */
{
	color: #0000F0;
	background-color: #965365;
}

.html
{
	background-color: #5FBDE2;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 13px;
	width: 0.01px;
}

#pu1739-7
{
	width: 0.01px;
}

#u1739-7
{
	z-index: 16;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1739-2
{
	font-size: 25px;
	line-height: 30px;
}

#u1739-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1955
{
	z-index: 2;
	width: 50px;
	min-height: 25px;
	margin-right: -10000px;
	left: 624px;
}

#u1792-6
{
	z-index: 24;
	width: 600px;
	min-height: 33px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1740
{
	z-index: 23;
	width: 600px;
	height: 348px;
	position: relative;
	background: transparent url("../images/studio-kr.jpg") no-repeat left top;
	background-size: contain;
}

#u1741-13
{
	z-index: 3;
	width: 600px;
	min-height: 52px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1741-2,#u1741-5,#u1741-8
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 600px;
}

#page .verticalspacer
{
	clear: both;
}

