.version.website_anarchohosting /* version checker */
{
	color: #000009;
	background-color: #EDB167;
}

.html
{
	background-color: #5FBDE2;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 13px;
	width: 0.01px;
}

#u1696-7
{
	z-index: 11;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1696-2
{
	font-size: 25px;
	line-height: 30px;
}

#u1696-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1768-6
{
	z-index: 19;
	width: 600px;
	min-height: 66px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1697
{
	z-index: 18;
	width: 600px;
	height: 325px;
	position: relative;
	background: transparent url("../images/anarcho-hosting.jpg") no-repeat left top;
	background-size: contain;
}

#u1695-9
{
	z-index: 2;
	width: 600px;
	min-height: 71px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1695-2,#u1695-5
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 600px;
}

#page .verticalspacer
{
	clear: both;
}

