.version.website_circuscostume_2 /* version checker */
{
	color: #0000EB;
	background-color: #F77648;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.70000000000005px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#u9626-7
{
	z-index: 14;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u9626-2
{
	font-size: 25px;
	line-height: 30px;
}

#u9626-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 711px;
}

#pu9626-7,#pu9625-6
{
	width: 0.01px;
}

#u9625-6
{
	z-index: 21;
	width: 600px;
	min-height: 67px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u9697
{
	z-index: 3;
	width: 67px;
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 711px;
}

#u9670
{
	z-index: 27;
	width: 600px;
	background-color: transparent;
	position: relative;
}

#u9670_img
{
	padding-right: 1px;
}

#u9624-10
{
	z-index: 4;
	width: 600px;
	min-height: 67px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u9624-2,#u9624-5
{
	color: #FFFFFF;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

