.version.website_milenakiseleva_github_io /* version checker */
{
	color: #0000F6;
	background-color: #F16310;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#ppu5475-7
{
	width: 0.01px;
}

#pu5475-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u5475-7
{
	z-index: 22;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u5475-2
{
	font-size: 25px;
	line-height: 30px;
}

#u5475-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u5475-3
{
	text-decoration: none;
}

#u5477
{
	z-index: 29;
	width: 600px;
	height: 344px;
	position: relative;
	background: transparent url("../images/milenakiselevagithubio.jpg") no-repeat center center;
	background-size: cover;
}

#pu1955
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 711px;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
}

#u17867
{
	z-index: 3;
	width: 59px;
	min-height: 59px;
	margin-left: 4px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u5478-6
{
	z-index: 30;
	width: 600px;
	min-height: 43px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u5476-18
{
	z-index: 4;
	width: 600px;
	min-height: 59px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u5476-3,#u5476-5,#u5476-7,#u5476-9
{
	color: #000000;
}

#u5476-12
{
	font-size: 16px;
	text-decoration: none;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

