.version.website_karolinaray /* version checker */
{
	color: #000015;
	background-color: #59E0E0;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	width: 0.01px;/* should not cover content below */
}

#ppu1721-7
{
	width: 0.01px;
}

#pu1721-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1721-7
{
	z-index: 22;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1721-2
{
	font-size: 25px;
	line-height: 30px;
}

#u1721-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1721-3
{
	text-decoration: none;
}

#u1723
{
	z-index: 29;
	width: 600px;
	height: 414px;
	position: relative;
	background: transparent url("../images/karolinaraytk%20(home).jpg") no-repeat left top;
	background-size: contain;
}

#pu1955
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 711px;
}

#u1955
{
	z-index: 2;
	width: 67px;
	min-height: 53px;
	position: relative;
}

#u17867
{
	z-index: 3;
	width: 59px;
	min-height: 59px;
	margin-left: 4px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u1781-6
{
	z-index: 30;
	width: 600px;
	min-height: 33px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1722-18
{
	z-index: 4;
	width: 600px;
	min-height: 56px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1722-3,#u1722-5,#u1722-7,#u1722-9
{
	color: #000000;
}

#u1722-12
{
	font-size: 16px;
	text-decoration: none;
}

.html
{
	background-color: #B2DAFF;
}

body
{
	position: relative;
	min-width: 600px;
}

