.version.website_bmwz3brutality_copy_copy_copy_copy_copy_copy /* version checker */
{
	color: #0000E6;
	background-color: #BF0DB3;
}

.html
{
	background-color: #5FBDE2;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.85px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 13px;
	width: 0.01px;
}

#u1733-7
{
	z-index: 12;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1733-2
{
	font-size: 25px;
	line-height: 30px;
}

#u1733-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1734
{
	z-index: 19;
	width: 600px;
	height: 305px;
	margin-top: 15px;
	position: relative;
}

.ie #u1734
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1732-10
{
	z-index: 2;
	width: 600px;
	min-height: 95px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u1732,#u1732-6
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 600px;
}

#page .verticalspacer
{
	clear: both;
}

