.version.website_arthurgareginyan /* version checker */
{
	color: #0000E6;
	background-color: #21F765;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 13px;
	width: 0.01px;/* should not cover content below */
}

#pu1670-7
{
	width: 0.01px;
}

#u1670-7
{
	z-index: 14;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1670-2
{
	font-size: 25px;
	line-height: 30px;
}

#u1670-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#pu1955
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 624px;
}

#u1955
{
	z-index: 2;
	width: 50px;
	min-height: 25px;
	position: relative;
}

#u9697
{
	z-index: 3;
	width: 67px;
	min-height: 32px;
	margin-top: 6px;
	position: relative;
}

#u1770-6
{
	z-index: 22;
	width: 600px;
	min-height: 42px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1770-3,#u1770-4
{
	color: #000000;
}

#u1672
{
	z-index: 21;
	width: 600px;
	height: 373px;
	position: relative;
	background: transparent url("../images/arthurgareginyan.jpg") no-repeat center top;
	background-size: cover;
}

#u1669-10
{
	z-index: 4;
	width: 600px;
	min-height: 66px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1669-2,#u1669-5
{
	color: #FFFFFF;
}

.html
{
	background-color: #5FBDE2;
}

body
{
	position: relative;
	min-width: 600px;
}

